swagger: '2.0'
info:
  version: '1.0'
  title: Wallet API
  description: "# Introduction\nWallet API is used to create and manage Klaytn accounts and transfer transactions. If you create a Klaytn account with Wallet API, you do not need to manage private keys separately. Wallet API provides a secure wallet to keep your Klaytn account’s private keys for BApp. For more details on Wallet API, refer to our [tutorial](https://docs.klaytnapi.com/v/ko/tutorial).\n\nWallet API features an “Account” section for creating and managing Klaytn accounts and a “Transaction” section for transferring transactions.\nWallet API creates, deletes, and monitors Klaytn accounts; updates multisig accounts; and manages the privates keys of all accounts registered to KAS.\n\nIn addition, Wallet API creates transactions and transfers them to Klaytn. They include transactions that are sent through the multisig accounts. A transaction will be automatically transferred to Klaytn if the threshold is met for the number of signatures. For more details on multisignatures, refer to [the followings](https://docs.klaytnapi.com/v/ko/tutorial).\n\nTransactions include basic and fee delegation transactions. In particular, fee delegation transactions include global and user fee delegation transactions. In the global fee delegation transaction, Ground X’s KAS account first pays the transaction fee and charges the users later. Meanwhile, in the user fee delegation transaction, a user creates an account to pay for transaction fees when sending transactions.\n\nWallet API has the following functions and limitations.\n\n| Version | Item | Description |\n| :--- | :--- | :--- |\n| 2.0 | Limitations | Support for Cypress (mainnet) and Baobab (testnet) (Service Chain not supported) |\n|  |  | Account management for external management keys not supported |\n|  |  | Multisignatures of RLP-encoded transactions not supported |\n|  | Account management  | Account creation, search, and deletion |\n|  |  | Multisignature account updates |\n|  | Transaction management | [Basic](https://ko.docs.klaytn.com/klaytn/design/transactions/basic) Transaction Creation and Transfer |\n|  |  | [FeeDelegatedWithRatio](https://ko.docs.klaytn.com/klaytn/design/transactions/partial-fee-delegation) Transaction Creation and Transfer |\n|  |  | RLP-encoded transaction \\([Legacy](https://ko.docs.klaytn.com/klaytn/design/transactions/basic#txtypelegacytransaction), [Basic](https://ko.docs.klaytn.com/klaytn/design/transactions/basic), [FeeDelegatedWithRatio](https://ko.docs.klaytn.com/klaytn/design/transactions/partial-fee-delegation) Transaction Creation and Transfer \\) |\n|  |  | Multisignature transaction management and transfer |\n|  | Administrator | Resource pool management (creation, pool search, deletion, and account search) |\n\n\n\n# Error Codes\n\n## 400: Bad Request\n\n | Code | Messages | \n | --- | --- | \n | 1061010 | data don't exist\n1061510 | account has been already deleted or disabled\n1061511 | account has been already deleted or enabled\n1061512 | account is invalid to sign the transaction; 0xc9bFDDabf2c38396b097C8faBE9151955413995D</br>account is invalid to sign the transaction; 0x35Cc4921B17Dfa67a58B93c9F8918f823e58b77e\n1061515 | the requested account must be a legacy account; if the account is multisig account, use `PUT /v2/tx/{fd|fd-user}/account` API for multisig transaction and /v2/multisig/**/** APIs\n1061607 | it has to start with '0x' and allows [0-9a-fA-F]; input</br>it has to start with '0x' and allows [0-9a-fA-F]; tx_id\n1061608 | cannot be empty or zero value; to</br>cannot be empty or zero value; input\n1061609 | it just allow Klaytn address form; to\n1061615 | its value is out of range; size\n1061616 | feeration must be between 1 and 99; feeRatio\n1061903 | failed to decode account keys\n1061905 | failed to get feepayer\n1061912 | rlp value and request value are not same; feeRatio</br>rlp value and request value are not same; feePayer\n1061914 | already submitted transaction. Confirm transaction hash; 0xb9612ec6ec39bfd3f2841daa7ab062fc94cf33f23503606c979b2f81e50b2cb1\n1061917 | AccountKeyLegacy type is not supported in AccountKeyRoleBased type\n1061918 | it just allow (Partial)FeeDelegation transaction type\n1061919 | PartialFeeDelegation transaction must set fee ratio to non-zero value\n1061920 | FeeDelegation transaction cannot set fee ratio, use PartialFeeDelegation transaction type\n1061921 | it just allow Basic transaction type\n1065000 | failed to retrieve a transaction from klaytn node\n1065001 | failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value </br>failed to send a raw transaction to klaytn node; -32000::not a program account (e.g., an account having code and storage)</br>failed to send a raw transaction to klaytn node; -32000::nonce too low</br>failed to send a raw transaction to klaytn node; -32000::insufficient funds of the fee payer for gas * price\n1065100 | failed to get an account from AMS</br>failed to get an account from AMS; account key corrupted. can not use this account\n1065102 | account key corrupted. can not use this account | \n"
  contact: {}
host: wallet-api.klaytnapi.com
basePath: /
securityDefinitions:
  auth:
    type: basic
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v2/account:
    post:
      description: Creates a Klaytn account. Creates random Klaytn account addresses and private/public key pairs, and returns public key and private key IDs.
      summary: CreateAccount
      tags:
      - Account
      operationId: CreateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Account'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              chainId: 1001
              createdAt: 1599187293
              keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x4cbbcb974e32a7960e1b356edf60087613101919ed83199f12e872cba068a50f
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
              updatedAt: 1599187293
          headers: {}
    get:
      description: >-
        Search for a list of existing Klaytn accounts.<p></p>


        ## Size<p></p>


        * The `size` query parameter is optional (minimum = 1, maximum = 1000, default = 100).<br>

        * Submitting negative values result in errors.<br>

        * Submitting zero results in a query with `size=100`, which is the default value.<br>

        * Submitting values greater than 1000 result in queries with `size=1000`, which is the maximum value.<br>
      summary: RetrieveAccounts
      tags:
      - Account
      operationId: RetrieveAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: size
        in: query
        required: false
        default: 100
        type: integer
        format: int64
        maximum: 1000
        exclusiveMaximum: false
        description: Maximum size of account to search
      - name: cursor
        in: query
        required: false
        type: string
        description: Information on last searched cursor
      - name: to-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: Timestamp of the end time to be searched (in seconds)
      - name: from-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: Timestamp of the start time to be searched (in seconds)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Accounts'
          examples:
            application/json:
              cursor: ''
              items:
              - address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
                chainId: 1001
                createdAt: 1599187293
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x4cbbcb974e32a7960e1b356edf60087613101919ed83199f12e872cba068a50f
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
                updatedAt: 1599187293
              - address: 0x78B123CCCCd50f41E3192a60e6ED92B15E21b1B5
                chainId: 1001
                createdAt: 1599187194
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x6c4419647e7724853f9e50b0c54b5985d0870470ac37b3ef865e62c3ccfa4ea4
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x0463cc38f08dd15dfd416966e9d0da93942e26d2a9a9bcac08d614f487f94a7e46e4418d1acda9e21706f19c917486de40c974eb20c12a2eca2eea91895499d379
                updatedAt: 1599187194
              - address: 0x82C26253757f21E86c9243736505890364c17720
                chainId: 1001
                createdAt: 1599187193
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xd62dab851821082f2696e15adbd6ada9f33adb64c3066e340e722ad8c0f1d5e4
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04a7fd788942b9da8f522a4242c577633d5c5af119142ccd53cb4738bb6719f8af078151e9bfe467bc351864430ebbde75c29995bcb1b362268cdc196641b0a5db
                updatedAt: 1599187193
              - address: 0xe2546A7B93045CC06427326DAF988DA095B2D5A7
                chainId: 1001
                createdAt: 1599187192
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xbf804d2f81f6f46361ec5a94cded9478afda6195127096f088a5d1d242143697
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x049cd3c69b956e343996d9ba4a3667acc2be471b3038c06c2925dc3d8970729f58f229a50d985526cd4dc7067ab9fab0b0681cd2c893cdf89719edd74da7e43476
                updatedAt: 1599187192
              - address: 0x6DD1ad874fE50518890ec79284bF5b30C43272C9
                chainId: 1001
                createdAt: 1599187191
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x184beb98801245fbfebc6f00866fb45072278f44774e818b2934a74738ce95f8
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04138272347cf560b4af02f2faa3410cbb25f95a8e5dca200a983360d880ce02ff518b94f555674570d477a31c6ccb7d867c324f792fc6e25ca9c1f45e06dab2e2
                updatedAt: 1599187191
              - address: 0x7012B3916C3CffAC6D5002e20ba22ebAD23AB9e3
                chainId: 1001
                createdAt: 1599187189
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xb567b552ae7a84e4f65d3f2e0cbf1691deb3fd4ce44e267eb135cb1d31647865
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04ba526aa53b7fb0d60f70f9e0101fecab256ffcf6cb78104e0753835e0bde0d75dbcc63bab7cfd2cad75db00eacd77fbb84c60cf86a198989c1f5adfeed507955
                updatedAt: 1599187189
              - address: 0x7ec5169EA28B2e3fFEF143a3513D7eC1CeFF2cB4
                chainId: 1001
                createdAt: 1599187161
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xd3ee56e2616c8d412918e7f0e9222c805aacf5bad6d84b70b83c2229d61f21c9
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x043ccf257d2ad3f8c3b2128969302efc6bf59d8cd8e578bcfdac8a4ac9cea6d4747350c98edaec5d23fafa9b3288a3b45816d2e9b3bb28443cc2486ad6bca652f1
                updatedAt: 1599187161
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}:
    get:
      description: Search for a Klaytn account
      summary: RetrieveAccount
      tags:
      - Account
      operationId: RetrieveAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Account'
          examples:
            application/json:
              address: 0x368C5E57Bb74C14DB9e5753Bee87940B03f5c05D
              chainId: 1001
              createdAt: 1600061762
              keyId: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default:0x16ecebe5340eb4025183ed548c771097ed95bff233abcf9583e5a58b202e09c7
              krn: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default
              multiSigKeys:
              - publicKey: 0x04c8901b732a08330d4b7a3d95841e82450f67ae290dadaf8941886913693a15c1819c7401768dea360b96fe02dca34db78d433c6ef4802a0866f4aa3b222f1d7e
                weight: 3
              - publicKey: 0x048dda380eddc9a98c454d18030bf736b34789ea1dbaa52725121ed310876afb930c3ae6fa71fc6687b56bee76702c2ff599b1c382b4da60bf7d8b11369ea92388
                weight: 1
              publicKey: 0x04c8901b732a08330d4b7a3d95841e82450f67ae290dadaf8941886913693a15c1819c7401768dea360b96fe02dca34db78d433c6ef4802a0866f4aa3b222f1d7e
              threshold: 4
              updatedAt: 1600061796
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065102
              message: account key corrupted. can not use this account
    delete:
      description: Deletes Klaytn account.
      summary: DeleteAccount
      tags:
      - Account
      operationId: DeleteAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountStatus'
          examples:
            application/json:
              status: deleted
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}/disable:
    put:
      description: Deactivate a Klaytn account. If the account is deactivated, the account cannot be searched.
      summary: DeactivateAccount
      tags:
      - Account
      operationId: DeactivateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountSummary'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              updatedAt: 1599187344
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061510
              message: account has been already deleted or disabled
  /v2/account/{address}/enable:
    put:
      description: Reactivate a deactivated Klaytn account.
      summary: ActivateAccount
      tags:
      - Account
      operationId: ActivateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountSummary'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              updatedAt: 1599187359
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061511
              message: account has been already deleted or enabled
  /v2/account/{address}/tx/{transaction-id}/sign:
    post:
      description: Sign transactions with a transaction ID using the corresponding Klaytn account.
      summary: SignTransactionIDResponse
      tags:
      - Account
      operationId: SignTransactionIDResponse
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      - name: transaction-id
        in: path
        required: true
        type: string
        description: ID of transaction to be signed
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Signature'
          examples:
            application/json:
              R: 0x670a63ca525b80f67cd412a88ffb5cabb84616fb4cb43ff827552586fc722403
              S: 0x2f20ad3f4b3c2483a4ae4213a871e404f7214ffd84845fad022c3316eb0af09b
              V: 0x7f6
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}/multisig:
    put:
      description: Update a Klaytn account to a multisig account. Sufficient balance is required for a transaction fee payment when executing the update transaction.
      summary: MultisigAccountUpdate
      tags:
      - Account
      operationId: MultisigAccountUpdate
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn account address
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/MultisigAccountUpdateRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigAccount'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              multiSigKeys:
              - publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
                weight: 3
              - publicKey: 0x0463cc38f08dd15dfd416966e9d0da93942e26d2a9a9bcac08d614f487f94a7e46e4418d1acda9e21706f19c917486de40c974eb20c12a2eca2eea91895499d379
                weight: 1
              threshold: 4
              transactionHash: 0xcd6c6a785bccbbb821e7fb0b3e1c15c0d35d6017706f843dd9cf7f3f4d3a452a
              updatedAt: 1599187391
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/pubkey/{public-key}/account:
    get:
      description: Search for a list of Klaytn accounts with a public key.
      summary: RetrieveAccountsByPubkey
      tags:
      - Account
      operationId: RetrieveAccountsByPubkey
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: public-key
        in: path
        required: true
        type: string
        description: Klaytn public key
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountsByPubkey'
          examples:
            application/json:
              items:
              - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                chainId: 1001
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
          headers: {}
  /v2/tx/legacy:
    post:
      description: Create a transaction that supports legacy accounts (which have a public key that is derived from a private key) and transaction formats. Through KAS, any Klaytn account will be created as a legacy account by default.
      summary: LegacyTransaction
      tags:
      - Basic Transaction
      operationId: LegacyTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/LegacyTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x85b98485444c89880cd9c48807cef727c296f2da
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 0
              rlp: 0xf870808505d21dba00830f424094a311e7022a4db250689c89d99848f74ea5098f7d89121111111111111111808207f5a03e7173bf7a303b4e1bb6f8723b494bcaa196cf7b9d7af18a22ceda7f2e9c9226a057bf51a5f52d900d58470f5e28f25881eb6d3837502ba0bab13f022398ddbc26
              signatures:
              - R: 0x3e7173bf7a303b4e1bb6f8723b494bcaa196cf7b9d7af18a22ceda7f2e9c9226
                S: 0x57bf51a5f52d900d58470f5e28f25881eb6d3837502ba0bab13f022398ddbc26
                V: 0x7f5
              status: Submitted
              to: 0xa311e7022a4db250689c89d99848f74ea5098f7d
              transactionHash: 0x433d70e6bdbce725ac9472e9fe1242fa0e5bdcd1b60fa21b3dcadf858055b47b
              typeInt: 0
              value: 0x121111111111111111
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/value:
    post:
      description: Create a transaction for transferring KLAYs with or without a memo.
      summary: ValueTransferTransaction
      tags:
      - Basic Transaction
      operationId: ValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x10f886808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c82010094a4068f0d4e4ffad5945824cddd748ba2dc450330846d656d6ff847f8458207f5a029e618253df93692d7f26712e0aa29393f3fb72e5170fe99a43257ed9d32c2e6a02257927ba0ebf9d80471bb56b52efc196c319b40d33cd1f0a566911376da805f
              signatures:
              - R: 0x29e618253df93692d7f26712e0aa29393f3fb72e5170fe99a43257ed9d32c2e6
                S: 0x2257927ba0ebf9d80471bb56b52efc196c319b40d33cd1f0a566911376da805f
                V: 0x7f5
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x04cbfe6b4c1a39d4a8ab2fc4373a9da91e54762fdcbd90a7409a60cda0bea044
              typeInt: 16
              value: 0x100
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
  /v2/tx/contract/deploy:
    post:
      description: Create a transaction for deploying a contract.
      summary: ContractDeployTransaction
      tags:
      - Basic Transaction
      operationId: ContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 1
              rlp: 0x28f901aa018505d21dba00830f4240808094a4068f0d4e4ffad5945824cddd748ba2dc450330b9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d100298080f847f8458207f5a0c55cd386f8b6d4184db705800b40d3512d7d26dfbe4a07c3bbb87bda535dedb4a03b2a723c89f6de420d298a87076756efdb624818d604278afd34d5896566444e
              signatures:
              - R: 0xc55cd386f8b6d4184db705800b40d3512d7d26dfbe4a07c3bbb87bda535dedb4
                S: 0x3b2a723c89f6de420d298a87076756efdb624818d604278afd34d5896566444e
                V: 0x7f5
              status: Submitted
              transactionHash: 0xc8b00d7084f35bf6b4d7bc4ecb145e6b80c570b715309067eec003890cbb26ec
              typeInt: 40
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/contract/execute:
    post:
      description: Create a transaction for executing a released contract function.
      summary: ContractExecutionTransaction
      tags:
      - Basic Transaction
      operationId: ContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 3
              rlp: 0x30f8a4038505d21dba00830f4240940a0ca70bd0074160874dc9337ca7ff8049b2e63e8094a4068f0d4e4ffad5945824cddd748ba2dc450330a4d14e62b80000000000000000000000000000000000000000000000000000000000000005f847f8458207f5a002b41abdf77b3d943c3c9000be45144ccc8cd25a75e523705aca3621ffdd4dd8a01bbf357d02e5f4bbc015cf35107e150d50094ffcb8fccbb7db981c739149eadb
              signatures:
              - R: 0x2b41abdf77b3d943c3c9000be45144ccc8cd25a75e523705aca3621ffdd4dd8
                S: 0x1bbf357d02e5f4bbc015cf35107e150d50094ffcb8fccbb7db981c739149eadb
                V: 0x7f5
              status: Submitted
              to: 0x0a0ca70bd0074160874dc9337ca7ff8049b2e63e
              transactionHash: 0x039e174f22e402caae753396d58e68e47062d8d32be1ae988bb1ddea7134afc0
              typeInt: 48
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx:
    delete:
      description: Create a transaction for canceling a pending transaction. Either a nonce or transaction hash is required for cancellation.
      summary: CancelTransaction
      tags:
      - Basic Transaction
      operationId: CancelTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/CancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 99
              rlp: 0x38f869638505d21dba00830f424094a4068f0d4e4ffad5945824cddd748ba2dc450330f847f8458207f6a0df27642d09a731cb4002b3536db364821a2c25a1104e79d2295916c3368f6975a00db6df75befe463ca2da855e90b8389c41730cfe7773851e7391ab6431804852
              signatures:
              - R: 0xdf27642d09a731cb4002b3536db364821a2c25a1104e79d2295916c3368f6975
                S: 0xdb6df75befe463ca2da855e90b8389c41730cfe7773851e7391ab6431804852
                V: 0x7f6
              status: Submitted
              transactionHash: 0x665824b0c9cd2c8a76ac0fdb007f424f013d9c3e49723e2c8c896f38e7990375
              typeInt: 56
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::nonce too low
  /v2/tx/anchor:
    post:
      description: Create a transaction for anchoring service chain data to the Klaytn main chain.
      summary: AnchorTransaction
      tags:
      - Basic Transaction
      operationId: AnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/AnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x325dbaf78b393dc2115138c86a58f897ed413aff
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 0
              rlp: 0x48f86a808505d21dba00830f424094325dbaf78b393dc2115138c86a58f897ed413aff80f847f8458207f5a02005933be0d96e6d39762e3b1b5028d98495e4c07bf20d09660883c0a6e64285a036aa5181b89c72aa02921f8907cc6436103392d4b761a37920c1ffd99cba8a3f
              signatures:
              - R: 0x2005933be0d96e6d39762e3b1b5028d98495e4c07bf20d09660883c0a6e64285
                S: 0x36aa5181b89c72aa02921f8907cc6436103392d4b761a37920c1ffd99cba8a3f
                V: 0x7f5
              status: Submitted
              transactionHash: 0x3a1b7ad3802f901584539a1799f90a137464d2f84de27fc7eb98b96ed5e4fd7c
              typeInt: 72
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/rlp:
    post:
      description: >-
        Create a transaction using the rlp(SigRLP or TxHashRLP). Rlp value from transaction API is TxHashRLP format which contains signatures. SigRLP which does not contain signatures can easily be made from caver.<p></p>


        If you want to make SigRLP, you can use method `getRLPEncodingForSignature()` of certain transaction object. If you want to make TxHashRLP, you can use method `getRLPEncoding()` of certain transaction object. If you give SigRLP in rlp value, we sign the trasnaction using `from` address in your account pool. If you need detail description about SigRLP, TxHashRLP of each of transaction, you can refer [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions).
      summary: ProcessRLP
      tags:
      - Basic Transaction
      operationId: ProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x325dbaf78b393dc2115138c86a58f897ed413aff
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 1
              rlp: 0x10f886018505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c82010094325dbaf78b393dc2115138c86a58f897ed413aff846d656d6ff847f8458207f6a0f3d42d9f0d82f15a2acd18a5fbde0b1aff26936b89fec5151da59bdad4c4ddefa069a8b9319769c5dacffad42232d4d053d11722832169d71bca3f28b211f5f23d
              signatures:
              - R: 0xf3d42d9f0d82f15a2acd18a5fbde0b1aff26936b89fec5151da59bdad4c4ddef
                S: 0x69a8b9319769c5dacffad42232d4d053d11722832169d71bca3f28b211f5f23d
                V: 0x7f6
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x62cbe2b959dd80b2dae88ccac3caba51c056989d2cb00bf7b4136c4945cc4644
              typeInt: 16
              value: 0x100
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065100
              message: failed to get an account from AMS
  /v2/tx/account:
    put:
      description: Create a transaction for updating Klaytn account keys. For more details about the types of Klaytn account keys, refer to the following.
      summary: AccountUpdateTransaction
      tags:
      - Basic Transaction
      operationId: AccountUpdateTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/AccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              accountKey: 0x03c0
              from: 0x59661f066a880dec29f46044f83d38245a123e48
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 0
              rlp: 0x20f86c808505d21dba00830f42409459661f066a880dec29f46044f83d38245a123e488203c0f847f8458207f6a0eb66dab78c15670d755151d8c684ee5988a7e1fa79847bfb6ed365cbc3252319a04a96d7b939a8c366377d9ef4c371bd23e7d294d35e950b1655a5048e3fb563a3
              signatures:
              - R: 0xeb66dab78c15670d755151d8c684ee5988a7e1fa79847bfb6ed365cbc3252319
                S: 0x4a96d7b939a8c366377d9ef4c371bd23e7d294d35e950b1655a5048e3fb563a3
                V: 0x7f6
              status: Submitted
              transactionHash: 0xc8452ea74fefb693ca7cc409bc25291486f21d27d9c87c64bb2ba2b81c02475c
              typeInt: 32
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061917
              message: AccountKeyLegacy type is not supported in AccountKeyRoleBased type
  /v2/tx/{transaction-hash}:
    get:
      description: Search for the transaction execution result using the transaction hash value. The status field of the response indicates if the execution is successful.
      summary: TransactionReceipt
      tags:
      - Basic Transaction
      operationId: TransactionReceipt
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: transaction-hash
        in: path
        required: true
        type: string
        description: Transaction hash value
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionReceipt'
          examples:
            application/json:
              blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
              blockNumber: 0x24bb088
              contractAddress: null
              from: 0x3e3733b256c93f9d759e33c9939258068bd5957d
              gas: 0xf4240
              gasPrice: 0x5d21dba00
              gasUsed: 0x55478
              hash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              input: 0x4867ba1500000000000000000000000000000000000000000000000000000000000000c000000000000000000000000001021e96a79de1b663753935ac856c2cfc51ce8c000000000000000000000000270f21fbf544e5f87b4988c521315a87ce24acf200000000000000000000000000000000000000000000000000000000000000009dbb36061e9a8cb752a9e8abd17e459d7577eaf614f351dfac0b3b3a2d4fca7400000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000041efc087a54f954b416b6d051775770336f26d65442306145f8148ee2d2181012d5d49e2d3bd51b22456bb69f5adda7e21c93750aa0c4bfd8a99e6bd17584d10a41b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a401db711901000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c8c7395e3e64e69471ed11debbff2a0ffb89d5b00000000000000000000000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000020efefefefefefef0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
              logs:
              - address: 0x270f21fbf544e5f87b4988c521315a87ce24acf2
                blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
                blockNumber: 0x24bb088
                data: 0x010000000000000000000000000000000000000000000000000000000000000000000000000000000000000001021e96a79de1b663753935ac856c2cfc51ce8c0000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000005f5f226d0000000000000000000000000000000000000000000000000000000000000020efefefefefefef00000000000000000000000000000000000000000000000000
                logIndex: 0x0
                removed: false
                topics:
                - 0x834d96fe4fae8c45fce8c6cb6116dd1a578f5abefcf3c339a16106d8e038c17f
                transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
                transactionIndex: 0x0
              - address: 0x01021e96a79de1b663753935ac856c2cfc51ce8c
                blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
                blockNumber: 0x24bb088
                data: 0x000000000000000000000000270f21fbf544e5f87b4988c521315a87ce24acf200000000000000000000000000000000000000000000000000000000000000009dbb36061e9a8cb752a9e8abd17e459d7577eaf614f351dfac0b3b3a2d4fca7400000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000000a401db711901000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c8c7395e3e64e69471ed11debbff2a0ffb89d5b00000000000000000000000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000020efefefefefefef000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000001
                logIndex: 0x1
                removed: false
                topics:
                - 0x8ef33a9072a35d9b41d5c5c744ba88308c0fb19f45973df39146cdf54011675f
                transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
                transactionIndex: 0x0
              logsBloom: 0x00000000000000000000000000000000000000000040000000000000200000000000000000000000000001000000000000000000000200000000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000800000000000000000000000000000000000080000000000000000000000000000000000000000000800000000000800000000
              nonce: 0x26dc3
              senderTxHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              signatures:
              - R: 0xa20e26f472166e0852022322f4ff84ec5de8479346dba186fa081fafd3eaeadf
                S: 0x19d02def433c0a07bb25e4de1804c0e3292903e336a3b25d89e81b08987d0508
                V: 0x7f5
              status: Committed
              to: 0x01021e96a79de1b663753935ac856c2cfc51ce8c
              transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              transactionIndex: 0x0
              type: TxTypeSmartContractExecution
              typeInt: 48
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065000
              message: failed to retrieve a transaction from klaytn node
  /v2/tx/fd/value:
    post:
      description: Create a transaction for transferring KLAYs with and without a memo using the KAS global fee delegation account.
      summary: FDValueTransferTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 10
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x12f8e3808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c12940225b5a7683ac651931c1b6123b7d197d6c24d9d846d656d6f0af847f8458207f5a06edfb59009dd8d9e1ab0deb9632bd5557a1b701eaad1bccc06087772d7d10e0ea04b2032b6f7c4f716d30da650533499ff0d6e3451cb419bf19e5897678db8644a9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a0915ef11a6411ce25ea1c0b5363c37d90eee5b131a03ddaeabf987b34a960894ea020b13b210c4ad961746d087682fc8c272adb9b5183a2d83ad74c0a9ea148d776
              signatures:
              - R: 0x6edfb59009dd8d9e1ab0deb9632bd5557a1b701eaad1bccc06087772d7d10e0e
                S: 0x4b2032b6f7c4f716d30da650533499ff0d6e3451cb419bf19e5897678db8644a
                V: 0x7f5
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0xd4ebc769956b8471fb497d22f655895e675a907ca9db8a64f84998ee460e8d21
              typeInt: 18
              value: 0x12
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061608
              message: cannot be empty or zero value; to
  /v2/tx/fd/contract/deploy:
    post:
      description: Create a transaction for deploying contracts using the KAS global fee delegation account.
      summary: FDContractDeployTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 0
              rlp: 0x29f90208808505d21dba00830f42408080940bb26552ee02bf4c39ea03ea2d827037ac48ce0eb9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d100298080f847f8458207f5a0b5ca30208d33d3c9add7a32372d27a51c62456be1c625067abd3252ea64ac326a0082faebbc1f59a4a5c47d8b0de9499c4ec06cba6b83e6a89c3ba479d86314cc99485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a05850db72f0ac66af5eab558ffb41c3ccfd138f1af7e75ffa5230998d6947b80ca05f66467e6c0fd3e9b0061f78f5bc589c1bd2e8c7acd974aa506c56e6fc009585
              signatures:
              - R: 0xb5ca30208d33d3c9add7a32372d27a51c62456be1c625067abd3252ea64ac326
                S: 0x82faebbc1f59a4a5c47d8b0de9499c4ec06cba6b83e6a89c3ba479d86314cc9
                V: 0x7f5
              status: Submitted
              transactionHash: 0xd906ce8bbd36ad3817a81835c697057f840db4636a9f690a464280bb66dbff3f
              typeInt: 41
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd/contract/execute:
    post:
      description: Create a transaction for executing a deloyed contract function using the KAS global fee delegation account.
      summary: FDContractExecutionTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 1
              rlp: 0x31f90102018505d21dba00830f424094182efef646797698059fb0e6cbb4823687d869d880940bb26552ee02bf4c39ea03ea2d827037ac48ce0ea4d14e62b80000000000000000000000000000000000000000000000000000000000000005f847f8458207f6a08db143e03963e5a054d65c1a67b9677d9b798abe315c46341184e95aee145e17a0605a1409c8ff5980efbe0fffd5f7cc477f2dddbc057ac04fc1653eafc91f421b9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a0343a1305e13dbf231d7e5d5f4c58684a5b61241163a8c3342bf609bc83af59cfa06870c9da05e6a41980cac29be3831c4a740e393379950d6a363a5e92309d3e1a
              signatures:
              - R: 0x8db143e03963e5a054d65c1a67b9677d9b798abe315c46341184e95aee145e17
                S: 0x605a1409c8ff5980efbe0fffd5f7cc477f2dddbc057ac04fc1653eafc91f421b
                V: 0x7f6
              status: Submitted
              to: 0x182efef646797698059fb0e6cbb4823687d869d8
              transactionHash: 0x13598fd9229a4016eb2ef93a45eb029e895fa11ebed0da05ca9c437dbe0c04b9
              typeInt: 49
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061608
              message: cannot be empty or zero value; to
  /v2/tx/fd:
    delete:
      description: Create a transaction for canceling a pending transaction for a transfer to Klaytn using the KAS global fee delegation account. Either a nonce or transaction hash is required for cancellation.
      summary: FDCancelTransactionResponse
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDCancelTransactionResponse
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDCancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 1000
              rlp: 0x39f8c98203e88505d21dba00830f4240940bb26552ee02bf4c39ea03ea2d827037ac48ce0ef847f8458207f6a0af8a520dae0038184abe06fd3c62174e8dfc7139458de6a1453a6419687a63f0a00c4d101be2c635c19d79ac84cc475abe570b01f21056cfbcc21afc75a831d04a9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a061ce8d4d8aebde14c707cb68efbb440af5281baaac62792595c319ffa88ee701a00e3ed7c6f3560fde5a3b7974e5e4011eeec2dc7a0bdfd220fb4ef5e4b6821f6f
              signatures:
              - R: 0xaf8a520dae0038184abe06fd3c62174e8dfc7139458de6a1453a6419687a63f0
                S: 0xc4d101be2c635c19d79ac84cc475abe570b01f21056cfbcc21afc75a831d04a
                V: 0x7f6
              status: Submitted
              transactionHash: 0x0a45d9589ea822c929d2eb2c49cbe22f366a2be6b66d8cb74efd7f08081b1e65
              typeInt: 57
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065000
              message: failed to retrieve a transaction from klaytn node
  /v2/tx/fd/anchor:
    post:
      description: Create a transaction for anchoring blockchain data using the KAS global fee delegation account.
      summary: FDAnchorTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDAnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDAnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 90
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x1233
              nonce: 4
              rlp: 0x4af8cb048505d21dba00830f4240940225b5a7683ac651931c1b6123b7d197d6c24d9d8212335af847f8458207f5a0e14dfb5d2fdbf17756f44ef39091153763e70d1868486fc668f1dac8f484b42da02e9df650375791ba7fc20a3149512e5145cad35859958755c418f79d84e1ed589485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a0a8151e220b958dea13d10f43244e3de528ec9f98cd391a6f23fa41d6952864d9a06481b8e1d12177379b882e54cbb6831aaaf5e161fd14bee8b2ecc9000afe91d3
              signatures:
              - R: 0xe14dfb5d2fdbf17756f44ef39091153763e70d1868486fc668f1dac8f484b42d
                S: 0x2e9df650375791ba7fc20a3149512e5145cad35859958755c418f79d84e1ed58
                V: 0x7f5
              status: Submitted
              transactionHash: 0x48e98ab2f1c4b9833b046e8a0fd7282e6be588b2bb58cda794b69843037ad169
              typeInt: 74
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061608
              message: cannot be empty or zero value; input
  /v2/tx/fd/rlp:
    post:
      description: >-
        Create a transaction using the rlp(SigRLP or TxHashRLP) with global fee payer account. Rlp value from transaction API is TxHashRLP format which contains signatures. SigRLP which does not contain signatures can easily be made from caver.<p></p>


        If you want to make SigRLP, you can use method `getRLPEncodingForSignature()` of certain transaction object. If you want to make TxHashRLP, you can use method `getRLPEncoding()` of certain transaction object. If you give SigRLP in rlp value, we sign the trasnaction using `from` address in your account pool. If you need detail description about SigRLP, TxHashRLP of each of transaction, you can refer [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions).
      summary: FDProcessRLP
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 5
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 5
              rlp: 0x2af90208058505d21dba00830f42408080940225b5a7683ac651931c1b6123b7d197d6c24d9db9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029800580f847f8458207f6a08b882881c00bca486a8eb6670e428b8a00b42b6eb29c0d0e11a5a140ac16ee25a05fa420317f7bf433f72367ec73ff4bd8ca058ff6de98bef9830c2a73e3a1d6e29485b98485444c89880cd9c48807cef727c296f2daf846f8448207f59f1fc1777a2186a5e71b69dc244c9f66400a8fd0a918df68918192b82d076018a02ad18e0f04551e49c8f9bd758802dc5a1fe465fa31a0b2637980a6e1d2f4412d
              signatures:
              - R: 0x8b882881c00bca486a8eb6670e428b8a00b42b6eb29c0d0e11a5a140ac16ee25
                S: 0x5fa420317f7bf433f72367ec73ff4bd8ca058ff6de98bef9830c2a73e3a1d6e2
                V: 0x7f6
              status: Submitted
              transactionHash: 0xce913f81cc05ad266873223cfa12c398b940339ff603701841f1785ce38a8958
              typeInt: 42
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061912
              message: rlp value and request value are not same; feeRatio
  /v2/tx/fd/account:
    put:
      description: Create a transaction for updating Klaytn account keys using the KAS global fee delegation account. For details about different Klaytn account keys, refer to Klaytn Docs.
      summary: FDAccountUpdateTransactionResponse
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDAccountUpdateTransactionResponse
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDAccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              accountKey: 0x04f84b04f848e303a102c7460ef57f8b648220667785dc6c87f132d57b8e5d8d3373e37c4c9798460eafe301a102ffb48935aa7460b0595e1fe6749c402eaa59d6fd78dd64217470191580f73211
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 70
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 6
              rlp: 0x22f90118068505d21dba00830f4240940225b5a7683ac651931c1b6123b7d197d6c24d9db84e04f84b04f848e303a102c7460ef57f8b648220667785dc6c87f132d57b8e5d8d3373e37c4c9798460eafe301a102ffb48935aa7460b0595e1fe6749c402eaa59d6fd78dd64217470191580f7321146f847f8458207f5a05fd7c9623170cb3d0036e4389619be51ec10eb96e612e62d226c1d68c4b37ba6a01ac23e45b7e43e9039db19f524be0b9660c4f0d097761f035c8c8e580d9164229485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a090a984d91ac7a9febd6f4fcc71cba42f39f320ab9d5fd2474ec2a8411b3b1fefa04eff601887dcf5f38633996e1ada84a921d1f9fca060ae00a18393dc3e7d664b
              signatures:
              - R: 0x5fd7c9623170cb3d0036e4389619be51ec10eb96e612e62d226c1d68c4b37ba6
                S: 0x1ac23e45b7e43e9039db19f524be0b9660c4f0d097761f035c8c8e580d916422
                V: 0x7f5
              status: Submitted
              transactionHash: 0x5f9fa1e4829cb867697623d992662d8b53de2cc1ebc57e5a23a02d7629284ae9
              typeInt: 34
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061917
              message: AccountKeyLegacy type is not supported in AccountKeyRoleBased type
  /v2/tx/fd-user/value:
    post:
      description: >-
        Create a transaction for transferring KLAYs with a memo using the user fee delegation account.<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDValueTransferTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x11f8e2808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c12949c56b45b7443bc73f47234199982481c64807f78846d656d6ff847f8458207f6a06335f41b59276bd1d1c2b276d65b633545fe624b4c6eb854ac85c2bc0bfcb869a004e7b8910e1ce4cf47739dfa7801dd9b6f3d23de7acc932ad38c6bcc51429f2e94e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f6a0e4d799e18080ab2d9c82f979256d27ef87f68d19a07a6e9a57b006c4a639da12a0088df123474ad3a7ad6ef772603abc2ec209d9148ad3de29b475793240f54b41
              signatures:
              - R: 0x6335f41b59276bd1d1c2b276d65b633545fe624b4c6eb854ac85c2bc0bfcb869
                S: 0x4e7b8910e1ce4cf47739dfa7801dd9b6f3d23de7acc932ad38c6bcc51429f2e
                V: 0x7f6
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0xbc35a85f694e27d88d9e65ddb005fff0abd5efa180862184ec466a6945e1fd55
              typeInt: 17
              value: 0x12
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd-user/contract/deploy:
    post:
      description: >-
        Create a transaction for releasing a contract using the user fee delegation account.<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDContractDeployTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 1
              rlp: 0x29f90208018505d21dba00830f42408080949c56b45b7443bc73f47234199982481c64807f78b9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d100298080f847f8458207f6a0f746de3b0f1d16feb43d81afd8fa2e015a361637b56154af98ea7771c49d51f6a0532d1e59d20dc70ebdec6b634036c3224b69ed078a95069c9fe023156a80119894e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f6a0a7ffcbb1fe73d40785b25f583f70b4cfcd344c29c19bdcb172f3595fc296953ba01067b482a1c70b40ff4049295e83673005dca1dd1588ffda604b6fb88a14a2a8
              signatures:
              - R: 0xf746de3b0f1d16feb43d81afd8fa2e015a361637b56154af98ea7771c49d51f6
                S: 0x532d1e59d20dc70ebdec6b634036c3224b69ed078a95069c9fe023156a801198
                V: 0x7f6
              status: Submitted
              transactionHash: 0x245545412546364e8a5381f5d7574c2fe58b0c9099d867a23e4fbab82239f836
              typeInt: 41
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd-user/contract/execute:
    post:
      description: >-
        Create a transaction for executing a released contract function using the user fee delegation account.<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDContractExecutionTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xef1668a663d1377f957433caba61a3622c997b28
              feeRatio: 38
              from: 0x85621fa3d7e067ca5d2f5bc0098b3849ee15bca8
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 2
              rlp: 0x32f90103028505d21dba00830f424094092f5c8846118f10eea077461dd595c4cdb2ac23809485621fa3d7e067ca5d2f5bc0098b3849ee15bca8a4d14e62b8000000000000000000000000000000000000000000000000000000000000000526f847f8458207f5a0758976e55e7dc8ccc0293b602b67ab829f4df9b7c3d66a9fdf62cc76a9b7bdd1a042f6745aeb77f754355af74400101c6c3a2cb661a42384371aac6bae8f00b5f494ef1668a663d1377f957433caba61a3622c997b28f847f8458207f5a0fd8f1b5036eab134187d9e2bf317dc51c2c0ace08f15436ae00e94064142dbd6a0433a51780521886b95ea5819cfd102103d87668adb4967ab727f8ff0c4284aed
              signatures:
              - R: 0x758976e55e7dc8ccc0293b602b67ab829f4df9b7c3d66a9fdf62cc76a9b7bdd1
                S: 0x42f6745aeb77f754355af74400101c6c3a2cb661a42384371aac6bae8f00b5f4
                V: 0x7f5
              status: Submitted
              to: 0x092f5c8846118f10eea077461dd595c4cdb2ac23
              transactionHash: 0xab58b8aff73ff9b2982ddd2831adda96586b131999547ee2c5cc43864264c3d7
              typeInt: 50
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::not a program account (e.g., an account having code and storage)
  /v2/tx/fd-user:
    delete:
      description: >-
        Create a transaction for canceling a pending transaction for a transfer to Klaytn using the user fee delegation account. Either a nonce or transaction hash is required for cancellation.<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDUserCancelTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDUserCancelTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserCancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 330
              rlp: 0x39f8c982014a8505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f78f847f8458207f5a061ffd0e76da83a4c4b05ca23d8cd66ac4b6c5a63183b6cc89ac3b12e9688aeb8a052edf81652ff174e3a0e3856a35ee71ea814c70fbc9fb18f8c66adeb15d0550394e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f5a05a5bf47cbc87b1091ebfa140c504b3d7ab1756cdc1e25ea168a277e478a5e01da00f8bfdbad9f94507e53c3abfa6d9e824170939b47731483bc629d3d58326bbb9
              signatures:
              - R: 0x61ffd0e76da83a4c4b05ca23d8cd66ac4b6c5a63183b6cc89ac3b12e9688aeb8
                S: 0x52edf81652ff174e3a0e3856a35ee71ea814c70fbc9fb18f8c66adeb15d05503
                V: 0x7f5
              status: Submitted
              transactionHash: 0x176a40a522123e831107430e321adc34397f767ec9f75080ad0464ac0757be27
              typeInt: 57
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::nonce too low
  /v2/tx/fd-user/anchor:
    post:
      description: >-
        Create a transaction for anchoring service chain data to the main chain using the user fee delegation account.<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDAnchorTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDAnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserAnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 5
              rlp: 0x49f8c8058505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f7880f847f8458207f5a0aa2ae446f5dd35df839e8ec2005aede91f0b3ea0f1e6889f4294d4760529bfafa07b3efab682bcc86f7050819e12a2b5ea916871d684b9e1c8ca8f49869df4189694e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f6a0aa12d32c96ef21d3b90d1f126a389fa2eb4dc283b18e3a42d41ee1353dc91126a05d7f40f320f4b8388272d9f61ad4a7d194762cbfdcc4d31a51e7c87d72aca591
              signatures:
              - R: 0xaa2ae446f5dd35df839e8ec2005aede91f0b3ea0f1e6889f4294d4760529bfaf
                S: 0x7b3efab682bcc86f7050819e12a2b5ea916871d684b9e1c8ca8f49869df41896
                V: 0x7f5
              status: Submitted
              transactionHash: 0x341abe135468e12807906ff6c4fde87ebd33cec1fbbd5243e8b980eabad2551d
              typeInt: 73
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::insufficient funds of the fee payer for gas * price
  /v2/tx/fd-user/rlp:
    post:
      description: >-
        Create a transaction using the rlp(SigRLP or TxHashRLP) with user fee payer account. Rlp value from transaction API is TxHashRLP format which contains signatures. SigRLP which does not contain signatures can easily be made from caver.<p></p>


        If you want to make SigRLP, you can use method `getRLPEncodingForSignature()` of certain transaction object. If you want to make TxHashRLP, you can use method `getRLPEncoding()` of certain transaction object. If you give SigRLP in rlp value, we sign the trasnaction using `from` address in your account pool. If you need detail description about SigRLP, TxHashRLP of each of transaction, you can refer [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions).<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDProcessRLP
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 4
              rlp: 0x49f8c8048505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f7880f847f8458207f5a0dd824552d22d8bbb55fa36c0717d1f69305fe26c483d161f30cec3d9fd9aad1da0708b3c3a3b0030ad281ae414ec73f1c05d5095043f13e8a53b396db48c98cd6594e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f6a0e23bcc4cf32afbc3c3b362bd8c774cd33d5d3cba7eb4dc45b25dde28543bfd59a061a52ef000023d9ba61ef9d17546e4d2d3f9bbdf893c5192add8be24a07182a2
              signatures:
              - R: 0xdd824552d22d8bbb55fa36c0717d1f69305fe26c483d161f30cec3d9fd9aad1d
                S: 0x708b3c3a3b0030ad281ae414ec73f1c05d5095043f13e8a53b396db48c98cd65
                V: 0x7f5
              status: Submitted
              transactionHash: 0x366f4f11918ef23314e3d35b1d5bee1067a2d599359fd920f867aa0a3b31d2a2
              typeInt: 73
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061918
              message: it just allow (Partial)FeeDelegation transaction type
  /v2/tx/fd-user/account:
    put:
      description: >-
        Create a transaction for updating Klaytn account keys with a user fee delegation account. For details about different Klaytn account keys, refer to [Klaytn Docs](https://ko.docs.klaytn.com/klaytn/design/accounts)<p></p>


        If you want to use this API, you need two kind of `x-krn` about `account-pool` and `feepayer-pool`.

        Two kind of `x-krn` can be written with comma like below example.<p></p>


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDAccountUpdateTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDAccountUpdateTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserAccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              accountKey: 0x05f8778203c0b84e04f84b02f848e301a103e4a01407460c1c03ac0c82fd84f303a699b210c0b054f4aff72ff7dcdf01512de301a10336f6355f5b532c3c1606f18fa2be7a16ae200c5159c8031dd25bfa389a4c9c06a302a103698a5769e28d0a2cf138a4f6533b158e90f1000a6331fe56aea628cf061f74f2
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 6
              rlp: 0x21f90143068505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f78b87a05f8778203c0b84e04f84b02f848e301a103e4a01407460c1c03ac0c82fd84f303a699b210c0b054f4aff72ff7dcdf01512de301a10336f6355f5b532c3c1606f18fa2be7a16ae200c5159c8031dd25bfa389a4c9c06a302a103698a5769e28d0a2cf138a4f6533b158e90f1000a6331fe56aea628cf061f74f2f847f8458207f5a0417123ce3a739bda66493ccf83bbc2b0e6a8a5ef181c04a9cbf76169abb106b6a024d596ce7e8f108012f26ec8853a1b9b65b4e670be8de7cbcbe73709f3a3179994e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f5a0b2917ba146947e7898f3df954ffde028cf11c5f23338b3eccc5e1ce20e73ec9ca05251179f052c064813fecae03ec07b121622f8352c599c12f4671784d6b94a03
              signatures:
              - R: 0x417123ce3a739bda66493ccf83bbc2b0e6a8a5ef181c04a9cbf76169abb106b6
                S: 0x24d596ce7e8f108012f26ec8853a1b9b65b4e670be8de7cbcbe73709f3a31799
                V: 0x7f5
              status: Submitted
              transactionHash: 0x6bd7c53520171aa9dfb535b62ac35e97a16798de7060eb844cbad6afbd847b86
              typeInt: 33
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061903
              message: failed to decode account keys
  /v2/multisig/account/{address}/tx:
    get:
      description: >-
        List of Pending Transactions<p></p>


        ## Size<p></p>


        * The `size` query parameter is optional (minimum = 1, maximum = 1000, default = 100).<br>

        * Submitting negative values result in errors.<br>

        * Submitting zero results in a query with `size=100`, which is the default value.<br>

        * Submitting values greater than 1000 result in queries with `size=1000`, which is the maximum value.<br>
      summary: RetrieveMultisigTransactions
      tags:
      - Multisig Transaction Management
      operationId: RetrieveMultisigTransactions
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: size
        in: query
        required: false
        default: 100
        type: integer
        format: int64
        maximum: 1000
        exclusiveMaximum: false
        description: Maximum size of account to search
      - name: cursor
        in: query
        required: false
        type: string
        description: Information on last searched cursor
      - name: to-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: Timestamp of the end time to be searched (in seconds)
      - name: from-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: Timestamp of the start time to be searched (in seconds)
      - name: address
        in: path
        required: true
        type: string
        description: Account address which has multisig keys or signer's account address
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactions'
          examples:
            application/json:
              cursor: ''
              items:
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
                createdAt: 1599144020
                multiSigKeys:
                - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                  weight: 3
                - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                  weight: 1
                status: 2
                threshold: 4
                transactionId: 0x65111d4fba621a1bfa3bd97c219b3e0454471cf3c07827396f1202946df51ee2
                txData:
                  from: 0xc6c9356887b7f7887918bf577417e5d8de253295
                  gas: 1000000
                  gasPrice: 0x5d21dba00
                  input: 0x6d656d6f
                  to: 0x2f87ba64de5526f7880f21481effbf950f70005c
                  typeInt: 16
                  value: 0x1001
                type: TX
                updatedAt: 1599144020
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
                createdAt: 1599144013
                multiSigKeys:
                - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                  weight: 3
                - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                  weight: 1
                status: 2
                threshold: 4
                transactionId: 0x36f9c5794fc141d3625e89a1164e6105fa973e8214d23bc6a210d2afe9dba6dd
                txData:
                  from: 0xc6c9356887b7f7887918bf577417e5d8de253295
                  gas: 1000000
                  gasPrice: 0x5d21dba00
                  input: 0x6d656d6f
                  to: 0x2f87ba64de5526f7880f21481effbf950f70005c
                  typeInt: 16
                  value: 0x100
                type: TX
                updatedAt: 1599144013
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/multisig/account/{address}/tx/{transaction-id}/sign:
    post:
      description: Sign to pending transaction from valid signer
      summary: SignPendingTransaction
      tags:
      - Multisig Transaction Management
      operationId: SignPendingTransaction
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Signer's account address
      - name: transaction-id
        in: path
        required: true
        type: string
        description: ID of pending transaction
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactionStatus'
          examples:
            application/json:
              signedWeight: 4
              status: Submitted
              threshold: 4
              transactionHash: 0x81f2ff422eae9b40d65b7a6f1e3c5ca598f83d1473ccc87e53d51b875fe75c82
              transactionId: 0xfa275dba88d197a85504ef70e0dd2640acc708817e9eb3933d7850acfb048649
              weight: 3
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061914
              message: already submitted transaction. Confirm transaction hash; 0xb9612ec6ec39bfd3f2841daa7ab062fc94cf33f23503606c979b2f81e50b2cb1
  /v2/multisig/tx/{transaction-id}/sign:
    post:
      description: Add Sign to pending transaction using prepared signatures. This API can be used when signer is not your own account but you got from signature from signer.
      summary: SignPendingTransactionBySig
      tags:
      - Multisig Transaction Management
      operationId: SignPendingTransactionBySig
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: transaction-id
        in: path
        required: true
        type: string
        description: ID of pending transaction
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/SignPendingTransactionBySigRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactionStatus'
          examples:
            application/json:
              signedWeight: 4
              status: Submitted
              threshold: 4
              transactionHash: 0xf1ced3855f3cd1d5220f2991ec4ba845ec747a0c01028c2d63de3662ddad2083
              transactionId: 0xae20ed8ce084d372fb804ea6f6073ba2f485a64bac086199efb83d665d0b31f2
              weight: 1
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061914
              message: already submitted transaction. Confirm transaction hash; 0xb9612ec6ec39bfd3f2841daa7ab062fc94cf33f23503606c979b2f81e50b2cb1
  /v2/stat/count:
    get:
      description: Show the number of Klaytn account which KAS account owned
      summary: GetAccountCountByAccountID
      tags:
      - Statistics
      operationId: GetAccountCountByAccountID
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountCountByAccountID'
          examples:
            application/json:
              accountId: 5adddb69-20b5-4444-a205-8bd681c815cc
              count: 1
          headers: {}
  /v2/stat/count/krn:
    get:
      description: Show the number of Klaytn account which KAS account owned from certain account pool
      summary: GetAccountCountByKRN
      tags:
      - Statistics
      operationId: GetAccountCountByKRN
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn chain network ID (1001 or 8217)
      - name: x-krn
        in: header
        required: false
        type: string
        description: account pool name
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountCountByKRN'
          examples:
            application/json:
              accountId: 5adddb69-20b5-4444-a205-8bd681c815cc
              count: 8
              krn: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default
          headers: {}
definitions:
  EmptyUpdateKeyType:
    title: EmptyUpdateKeyType
[...]
