swagger: '2.0'
info:
  version: '1.0'
  title: Wallet API
  description: "# Introduction\nWallet API는 클레이튼 계정을 만들어 관리하고 트랜잭션을 전송하는 API입니다. Wallet API로 Klaytn 계정을 만들면 여러분은 개인키를 따로 관리할 필요가 없습니다. Wallet API는 BApp을 위해 Klaytn 계정 개인키를 안전하게 보관하는 지갑을 제공합니다. Wallet API 사용에 관한 자세한 내용은 [튜토리얼](https://docs.klaytnapi.com/v/ko/tutorial)을 확인하십시오.\n\nWallet API는 크게 Klaytn 계정을 만들고 관리하는 Account 파트와 여러 종류의 트랜잭션을 전송하는 Transaction 파트로 나뉩니다.\n\nWallet API는 Klaytn 계정을 생성, 삭제, 모니터링하고 계정을 다중 서명 계정(Multisig 계정)으로 업데이트하며 KAS에 등록된 모든 계정의 개인키를 관리합니다.\n\n또 Wallet API는 트랜잭션을 만들어 Klaytn에 전송합니다. 이 트랜잭션에는 다중 서명 계정이 보내는 트랜잭션도 포함됩니다. 다중 서명 시 임계값\\(Threshold\\)을 만족하면 트랜잭션은 Klaytn에 자동으로 전송됩니다. 다중 서명에 관한 자세한 내용은 [다음](https://docs.klaytnapi.com/v/ko/tutorial)을 확인하십시오.\n\n트랜잭션은 크게 기본 트랜잭션과 수수료 대납 트랜잭션으로 나뉩니다.\n수수료 대납 트랜잭션은 크게 글로벌 수수료 대납 트랜잭션과 사용자 수수료 대납 트랜잭션으로 나뉩니다.\n글로벌 수수료 대납 트랜잭션은 Ground X의 KAS 계정에서 트랜잭션 수수료를 일단 대납해주고 나중에 여러분에게 이 수수료를 청구하는 방식입니다.\n사용자 수수료 대납 트랜잭션은 여러분이 직접 트랜잭션 수수료를 대납하는 계정을 만들고, 트랜잭션을 보낼 때 이 대납 계정이 트랜잭션 수수료를 납부하도록 하는 방식입니다.\n\nWallet API는 아래와 같은 기능 및 제약사항을 갖고 있습니다.\n\n| Version | Item | Description |\n| :--- | :--- | :--- |\n| 2.0 | 제약사항 | Cypress(Mainnet), Baobab(Testnet) 지원\\(Service Chain 미지원\\) |\n|  |  | 외부 관리키에 대한 계정 관리 미지원 |\n|  |  | RLP 인코딩된 트랜잭션의 다중 서명 미지원 |\n|  | 계정관리 | 계정 생성, 조회, 삭제 |\n|  |  | 다중 서명 계정 업데이트 |\n|  | 트랜잭션 관리 | [Basic](https://ko.docs.klaytn.com/klaytn/design/transactions/basic) 트랜잭션 생성 및 전송 |\n|  |  | [FeeDelegatedWithRatio](https://ko.docs.klaytn.com/klaytn/design/transactions/partial-fee-delegation) 트랜잭션 생성 및 전송 |\n|  |  | RLP 인코딩된 트랜잭션\\([Legacy](https://ko.docs.klaytn.com/klaytn/design/transactions/basic#txtypelegacytransaction), [Basic](https://ko.docs.klaytn.com/klaytn/design/transactions/basic), [FeeDelegatedWithRatio](https://ko.docs.klaytn.com/klaytn/design/transactions/partial-fee-delegation)\\) 생성 및 전송 |\n|  |  | 다중 서명 트랜잭션 관리 및 전송 |\n|  | 관리자 | 리소스 풀 관리\\(생성, 풀 조회, 삭제, 계정 조회\\) |\n\n\n\n# Error Codes\n\n## 400: Bad Request\n\n | Code | Messages | \n | --- | --- | \n | 1061010 | data don't exist\n1061510 | account has been already deleted or disabled\n1061511 | account has been already deleted or enabled\n1061512 | account is invalid to sign the transaction; 0xc9bFDDabf2c38396b097C8faBE9151955413995D</br>account is invalid to sign the transaction; 0x35Cc4921B17Dfa67a58B93c9F8918f823e58b77e\n1061515 | the requested account must be a legacy account; if the account is multisig account, use `PUT /v2/tx/{fd|fd-user}/account` API for multisig transaction and /v2/multisig/**/** APIs\n1061607 | it has to start with '0x' and allows [0-9a-fA-F]; input</br>it has to start with '0x' and allows [0-9a-fA-F]; transaction-id\n1061608 | cannot be empty or zero value; to</br>cannot be empty or zero value; input\n1061609 | it just allow Klaytn address form; to\n1061903 | failed to decode account keys\n1061905 | failed to get feepayer\n1061912 | rlp value and request value are not same; feeRatio</br>rlp value and request value are not same; feePayer\n1061914 | already submitted transaction. Confirm transaction hash; 0xb9612ec6ec39bfd3f2841daa7ab062fc94cf33f23503606c979b2f81e50b2cb1\n1061917 | AccountKeyLegacy type is not supported in AccountKeyRoleBased type\n1061918 | it just allow (Partial)FeeDelegation transaction type\n1061919 | PartialFeeDelegation transaction must set fee ratio to non-zero value\n1061920 | FeeDelegation transaction cannot set fee ratio, use PartialFeeDelegation transaction type\n1061921 | it just allow Basic transaction type\n1065000 | failed to retrieve a transaction from klaytn node\n1065001 | failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value </br>failed to send a raw transaction to klaytn node; -32000::not a program account (e.g., an account having code and storage)</br>failed to send a raw transaction to klaytn node; -32000::nonce too low</br>failed to send a raw transaction to klaytn node; -32000::insufficient funds of the fee payer for gas * price\n1065100 | failed to get an account from AMS</br>failed to get an account from AMS; account key corrupted. can not use this account\n1065102 | account key corrupted. can not use this account\n1616 | feeration must be between 1 and 99; feeRatio\n1918 | it just allow (Partial)FeeDelegation transaction type | \n"
  contact: {}
host: wallet-api.klaytnapi.com
basePath: /
securityDefinitions:
  auth:
    type: basic
schemes: []
consumes:
- application/json
produces:
- application/json
paths:
  /v2/account:
    post:
      description: 클레이튼 계정을 생성합니다. 임의의 클레이튼 계정 주소와 개인키/공개키 쌍을 생성하며 public key와 private key ID를 반환합니다.
      summary: CreateAccount
      tags:
      - Account
      operationId: CreateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Account'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              chainId: 1001
              createdAt: 1599187293
              keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x4cbbcb974e32a7960e1b356edf60087613101919ed83199f12e872cba068a50f
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
              updatedAt: 1599187293
          headers: {}
    get:
      description: 이전에 생성한 클레이튼 계정 목록을 조회합니다.
      summary: RetrieveAccounts
      tags:
      - Account
      operationId: RetrieveAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: size
        in: query
        required: false
        default: 100
        type: integer
        format: int64
        minimum: 1
        maximum: 1000
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: 검색할 계정의 최대 사이즈
      - name: cursor
        in: query
        required: false
        type: string
        description: 마지막으로 검색된 커서의 정보
      - name: to-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: 검색하고자 하는 마지막 시간의 타임스탬프 (초단위)
      - name: from-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: 검색하고자 하는 처음 시간의 타임스탬프 (초단위)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Accounts'
          examples:
            application/json:
              cursor: ''
              items:
              - address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
                chainId: 1001
                createdAt: 1599187293
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x4cbbcb974e32a7960e1b356edf60087613101919ed83199f12e872cba068a50f
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
                updatedAt: 1599187293
              - address: 0x78B123CCCCd50f41E3192a60e6ED92B15E21b1B5
                chainId: 1001
                createdAt: 1599187194
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x6c4419647e7724853f9e50b0c54b5985d0870470ac37b3ef865e62c3ccfa4ea4
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x0463cc38f08dd15dfd416966e9d0da93942e26d2a9a9bcac08d614f487f94a7e46e4418d1acda9e21706f19c917486de40c974eb20c12a2eca2eea91895499d379
                updatedAt: 1599187194
              - address: 0x82C26253757f21E86c9243736505890364c17720
                chainId: 1001
                createdAt: 1599187193
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xd62dab851821082f2696e15adbd6ada9f33adb64c3066e340e722ad8c0f1d5e4
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04a7fd788942b9da8f522a4242c577633d5c5af119142ccd53cb4738bb6719f8af078151e9bfe467bc351864430ebbde75c29995bcb1b362268cdc196641b0a5db
                updatedAt: 1599187193
              - address: 0xe2546A7B93045CC06427326DAF988DA095B2D5A7
                chainId: 1001
                createdAt: 1599187192
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xbf804d2f81f6f46361ec5a94cded9478afda6195127096f088a5d1d242143697
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x049cd3c69b956e343996d9ba4a3667acc2be471b3038c06c2925dc3d8970729f58f229a50d985526cd4dc7067ab9fab0b0681cd2c893cdf89719edd74da7e43476
                updatedAt: 1599187192
              - address: 0x6DD1ad874fE50518890ec79284bF5b30C43272C9
                chainId: 1001
                createdAt: 1599187191
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x184beb98801245fbfebc6f00866fb45072278f44774e818b2934a74738ce95f8
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04138272347cf560b4af02f2faa3410cbb25f95a8e5dca200a983360d880ce02ff518b94f555674570d477a31c6ccb7d867c324f792fc6e25ca9c1f45e06dab2e2
                updatedAt: 1599187191
              - address: 0x7012B3916C3CffAC6D5002e20ba22ebAD23AB9e3
                chainId: 1001
                createdAt: 1599187189
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xb567b552ae7a84e4f65d3f2e0cbf1691deb3fd4ce44e267eb135cb1d31647865
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x04ba526aa53b7fb0d60f70f9e0101fecab256ffcf6cb78104e0753835e0bde0d75dbcc63bab7cfd2cad75db00eacd77fbb84c60cf86a198989c1f5adfeed507955
                updatedAt: 1599187189
              - address: 0x7ec5169EA28B2e3fFEF143a3513D7eC1CeFF2cB4
                chainId: 1001
                createdAt: 1599187161
                keyId: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0xd3ee56e2616c8d412918e7f0e9222c805aacf5bad6d84b70b83c2229d61f21c9
                krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
                publicKey: 0x043ccf257d2ad3f8c3b2128969302efc6bf59d8cd8e578bcfdac8a4ac9cea6d4747350c98edaec5d23fafa9b3288a3b45816d2e9b3bb28443cc2486ad6bca652f1
                updatedAt: 1599187161
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}:
    get:
      description: 해당 클레이튼 계정을 조회합니다.
      summary: RetrieveAccount
      tags:
      - Account
      operationId: RetrieveAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Account'
          examples:
            application/json:
              address: 0x368C5E57Bb74C14DB9e5753Bee87940B03f5c05D
              chainId: 1001
              createdAt: 1600061762
              keyId: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default:0x16ecebe5340eb4025183ed548c771097ed95bff233abcf9583e5a58b202e09c7
              krn: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default
              multiSigKeys:
              - publicKey: 0x04c8901b732a08330d4b7a3d95841e82450f67ae290dadaf8941886913693a15c1819c7401768dea360b96fe02dca34db78d433c6ef4802a0866f4aa3b222f1d7e
                weight: 3
              - publicKey: 0x048dda380eddc9a98c454d18030bf736b34789ea1dbaa52725121ed310876afb930c3ae6fa71fc6687b56bee76702c2ff599b1c382b4da60bf7d8b11369ea92388
                weight: 1
              publicKey: 0x04c8901b732a08330d4b7a3d95841e82450f67ae290dadaf8941886913693a15c1819c7401768dea360b96fe02dca34db78d433c6ef4802a0866f4aa3b222f1d7e
              threshold: 4
              updatedAt: 1600061796
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
    delete:
      description: 해당 클레이튼 계정을 삭제합니다.
      summary: DeleteAccount
      tags:
      - Account
      operationId: DeleteAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountStatus'
          examples:
            application/json:
              status: deleted
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}/disable:
    put:
      description: 해당 클레이튼 계정을 비활성화합니다. 계정을 비활성화하면 해당 계정이 조회되지 않습니다.
      summary: DeactivateAccount
      tags:
      - Account
      operationId: DeactivateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountSummary'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              updatedAt: 1599187344
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061510
              message: account has been already deleted or disabled
  /v2/account/{address}/enable:
    put:
      description: 비활성화된 클레이튼 계정을 다시 활성화합니다.
      summary: ActivateAccount
      tags:
      - Account
      operationId: ActivateAccount
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountSummary'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              updatedAt: 1599187359
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061511
              message: account has been already deleted or enabled
  /v2/account/{address}/tx/{transaction-id}/sign:
    post:
      description: 해당 클레이튼 계정으로 이 Transaction ID를 가진 트랜잭션에 서명합니다.
      summary: SignTransactionIDResponse
      tags:
      - Account
      operationId: SignTransactionIDResponse
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      - name: transaction-id
        in: path
        required: true
        type: string
        description: 서명하려는 트랜잭션의 ID
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Signature'
          examples:
            application/json:
              R: 0x670a63ca525b80f67cd412a88ffb5cabb84616fb4cb43ff827552586fc722403
              S: 0x2f20ad3f4b3c2483a4ae4213a871e404f7214ffd84845fad022c3316eb0af09b
              V: 0x7f6
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/account/{address}/multisig:
    put:
      description: 해당 클레이튼 계정을 Multisig 계정으로 업데이트합니다. 계정 업데이트 트랜잭션을 실행할 때 트랜잭션 수수료를 지불해야 하므로 적당한 잔액이 있어야 합니다.
      summary: MultisigAccountUpdate
      tags:
      - Account
      operationId: MultisigAccountUpdate
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: Klaytn 계정 주소
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/MultisigAccountUpdateRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigAccount'
          examples:
            application/json:
              address: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
              krn: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
              multiSigKeys:
              - publicKey: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
                weight: 3
              - publicKey: 0x0463cc38f08dd15dfd416966e9d0da93942e26d2a9a9bcac08d614f487f94a7e46e4418d1acda9e21706f19c917486de40c974eb20c12a2eca2eea91895499d379
                weight: 1
              threshold: 4
              transactionHash: 0xcd6c6a785bccbbb821e7fb0b3e1c15c0d35d6017706f843dd9cf7f3f4d3a452a
              updatedAt: 1599187391
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065100
              message: failed to get an account from AMS
  /v2/pubkey/{public-key}/account:
    get:
      description: 해당 공개키를 가진 클레이튼 계정 목록을 조회합니다.
      summary: RetrieveAccountsByPubkey
      tags:
      - Account
      operationId: RetrieveAccountsByPubkey
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: public-key
        in: path
        required: true
        type: string
        description: Klaytn 공개키
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountsByPubkey'
          examples:
            application/json:
              items:
              - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                chainId: 1001
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
          headers: {}
  /v2/tx/legacy:
    post:
      description: 레거시 계정(공개키가 개인키로부터 파생된 계정)과 트랜잭션 포맷을 지원하는 트랜잭션을 생성합니다. KAS에서 처음 만드는 모든 Klaytn 계정은 기본적으로 레거시 계정입니다.
      summary: LegacyTransaction
      tags:
      - Basic Transaction
      operationId: LegacyTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/LegacyTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x85b98485444c89880cd9c48807cef727c296f2da
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 0
              rlp: 0xf870808505d21dba00830f424094a311e7022a4db250689c89d99848f74ea5098f7d89121111111111111111808207f5a03e7173bf7a303b4e1bb6f8723b494bcaa196cf7b9d7af18a22ceda7f2e9c9226a057bf51a5f52d900d58470f5e28f25881eb6d3837502ba0bab13f022398ddbc26
              signatures:
              - R: 0x3e7173bf7a303b4e1bb6f8723b494bcaa196cf7b9d7af18a22ceda7f2e9c9226
                S: 0x57bf51a5f52d900d58470f5e28f25881eb6d3837502ba0bab13f022398ddbc26
                V: 0x7f5
              status: Submitted
              to: 0xa311e7022a4db250689c89d99848f74ea5098f7d
              transactionHash: 0x433d70e6bdbce725ac9472e9fe1242fa0e5bdcd1b60fa21b3dcadf858055b47b
              typeInt: 0
              value: 0x121111111111111111
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061607
              message: it has to start with '0x' and allows [0-9a-fA-F]; input
  /v2/tx/value:
    post:
      description: 클레이 전송 및 메모를 포함한 클레이 전송에 사용되는 트랜잭션을 생성합니다.
      summary: ValueTransferTransaction
      tags:
      - Basic Transaction
      operationId: ValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x10f886808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c82010094a4068f0d4e4ffad5945824cddd748ba2dc450330846d656d6ff847f8458207f5a029e618253df93692d7f26712e0aa29393f3fb72e5170fe99a43257ed9d32c2e6a02257927ba0ebf9d80471bb56b52efc196c319b40d33cd1f0a566911376da805f
              signatures:
              - R: 0x29e618253df93692d7f26712e0aa29393f3fb72e5170fe99a43257ed9d32c2e6
                S: 0x2257927ba0ebf9d80471bb56b52efc196c319b40d33cd1f0a566911376da805f
                V: 0x7f5
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x04cbfe6b4c1a39d4a8ab2fc4373a9da91e54762fdcbd90a7409a60cda0bea044
              typeInt: 16
              value: 0x100
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
  /v2/tx/contract/deploy:
    post:
      description: 컨트랙트를 배포하는 트랜잭션을 생성합니다.
      summary: ContractDeployTransaction
      tags:
      - Basic Transaction
      operationId: ContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 1
              rlp: 0x28f901aa018505d21dba00830f4240808094a4068f0d4e4ffad5945824cddd748ba2dc450330b9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d100298080f847f8458207f5a0c55cd386f8b6d4184db705800b40d3512d7d26dfbe4a07c3bbb87bda535dedb4a03b2a723c89f6de420d298a87076756efdb624818d604278afd34d5896566444e
              signatures:
              - R: 0xc55cd386f8b6d4184db705800b40d3512d7d26dfbe4a07c3bbb87bda535dedb4
                S: 0x3b2a723c89f6de420d298a87076756efdb624818d604278afd34d5896566444e
                V: 0x7f5
              status: Submitted
              transactionHash: 0xc8b00d7084f35bf6b4d7bc4ecb145e6b80c570b715309067eec003890cbb26ec
              typeInt: 40
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/contract/execute:
    post:
      description: 배포된 컨트랙트 함수를 실행하는 트랜잭션을 생성합니다.
      summary: ContractExecutionTransaction
      tags:
      - Basic Transaction
      operationId: ContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 3
              rlp: 0x30f8a4038505d21dba00830f4240940a0ca70bd0074160874dc9337ca7ff8049b2e63e8094a4068f0d4e4ffad5945824cddd748ba2dc450330a4d14e62b80000000000000000000000000000000000000000000000000000000000000005f847f8458207f5a002b41abdf77b3d943c3c9000be45144ccc8cd25a75e523705aca3621ffdd4dd8a01bbf357d02e5f4bbc015cf35107e150d50094ffcb8fccbb7db981c739149eadb
              signatures:
              - R: 0x2b41abdf77b3d943c3c9000be45144ccc8cd25a75e523705aca3621ffdd4dd8
                S: 0x1bbf357d02e5f4bbc015cf35107e150d50094ffcb8fccbb7db981c739149eadb
                V: 0x7f5
              status: Submitted
              to: 0x0a0ca70bd0074160874dc9337ca7ff8049b2e63e
              transactionHash: 0x039e174f22e402caae753396d58e68e47062d8d32be1ae988bb1ddea7134afc0
              typeInt: 48
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061609
              message: it just allow Klaytn address form; to
  /v2/tx:
    delete:
      description: Klaytn에 전송했으나 보류중인 트랜잭션을 취소시키기 위한 트랜잭션을 생성합니다. 취소를 위해 논스 또는 트랜잭션 해시 둘 중 하나의 값이 꼭 필요합니다.
      summary: CancelTransaction
      tags:
      - Basic Transaction
      operationId: CancelTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/CancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0xa4068f0d4e4ffad5945824cddd748ba2dc450330
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 99
              rlp: 0x38f869638505d21dba00830f424094a4068f0d4e4ffad5945824cddd748ba2dc450330f847f8458207f6a0df27642d09a731cb4002b3536db364821a2c25a1104e79d2295916c3368f6975a00db6df75befe463ca2da855e90b8389c41730cfe7773851e7391ab6431804852
              signatures:
              - R: 0xdf27642d09a731cb4002b3536db364821a2c25a1104e79d2295916c3368f6975
                S: 0xdb6df75befe463ca2da855e90b8389c41730cfe7773851e7391ab6431804852
                V: 0x7f6
              status: Submitted
              transactionHash: 0x665824b0c9cd2c8a76ac0fdb007f424f013d9c3e49723e2c8c896f38e7990375
              typeInt: 56
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::nonce too low
  /v2/tx/anchor:
    post:
      description: 서비스 체인 데이터를 Klaytn 메인 체인에 앵커링하는 트랜잭션을 생성합니다.
      summary: AnchorTransaction
      tags:
      - Basic Transaction
      operationId: AnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/AnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x325dbaf78b393dc2115138c86a58f897ed413aff
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x
              nonce: 0
              rlp: 0x48f86a808505d21dba00830f424094325dbaf78b393dc2115138c86a58f897ed413aff80f847f8458207f5a02005933be0d96e6d39762e3b1b5028d98495e4c07bf20d09660883c0a6e64285a036aa5181b89c72aa02921f8907cc6436103392d4b761a37920c1ffd99cba8a3f
              signatures:
              - R: 0x2005933be0d96e6d39762e3b1b5028d98495e4c07bf20d09660883c0a6e64285
                S: 0x36aa5181b89c72aa02921f8907cc6436103392d4b761a37920c1ffd99cba8a3f
                V: 0x7f5
              status: Submitted
              transactionHash: 0x3a1b7ad3802f901584539a1799f90a137464d2f84de27fc7eb98b96ed5e4fd7c
              typeInt: 72
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/rlp:
    post:
      description: >-
        rlp(SigRLP 또는 TxHashRLP)를 이용하여 트랜잭션을 생성합니다. Wallet API 내 transaction API에서 나오는 rlp 값은 서명값을 포함하는 TxHashRLP 포맷입니다. 서명값을 포함하지 않은 SigRLP 값의 경우 caver를 이용하면 더욱 쉽게 만들 수 있습니다.


        caver에서 각 트랜잭션 메서드로 SigRLP를 만들고자 할 경우 `getRLPEncodingForSignature()`, TxHashRLP를 만들고자 할 경우 `getRLPEncoding()`를 사용하시면 됩니다. SigRLP의 경우 해당 계정풀에서 생성한 것에 한해 `from`의 계정으로 서명을 합니다. 각 트랜잭션 타입별 SigRLP, TxHashRLP에 대한 자세한 설명은 [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions)를 참고하시기 바랍니다.
      summary: ProcessRLP
      tags:
      - Basic Transaction
      operationId: ProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              from: 0x325dbaf78b393dc2115138c86a58f897ed413aff
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 1
              rlp: 0x10f886018505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c82010094325dbaf78b393dc2115138c86a58f897ed413aff846d656d6ff847f8458207f6a0f3d42d9f0d82f15a2acd18a5fbde0b1aff26936b89fec5151da59bdad4c4ddefa069a8b9319769c5dacffad42232d4d053d11722832169d71bca3f28b211f5f23d
              signatures:
              - R: 0xf3d42d9f0d82f15a2acd18a5fbde0b1aff26936b89fec5151da59bdad4c4ddef
                S: 0x69a8b9319769c5dacffad42232d4d053d11722832169d71bca3f28b211f5f23d
                V: 0x7f6
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x62cbe2b959dd80b2dae88ccac3caba51c056989d2cb00bf7b4136c4945cc4644
              typeInt: 16
              value: 0x100
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/account:
    put:
      description: >-
        클레이튼 계정 키를 업데이트하는 트랜잭션을 생성합니다.

        클레이튼 계정 키 종류는 [다음](https://ko.docs.klaytn.com/klaytn/design/accounts)을 확인하십시오.


        해당 계정을 Legacy 키 타입(1)으로 업데이트하면, 계정은 Enabled 되면 사용가능한 상태가 됩니다.

        해당 계정을 Public 키 타입(2)으로 업데이트하면, 계정은 월렛내에서 사용할수 없게됩니다.

        다시 복구하기 위해서는 Global 수수료 대납 RLP API 를 사용하거나, 외부에서 legacy 키로 업데이트한 후에 계정은 Enable 해주세요.

        해당 계정의 키를 Fail키 타입(3)으로 업데이트하면, 계정은 자동으로 disable 됩니다.
      summary: AccountUpdateTransaction
      tags:
      - Basic Transaction
      operationId: AccountUpdateTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/AccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionResult'
          examples:
            application/json:
              accountKey: 0x02a102044074a7a008a5ee6e50ef87cd57b83ca24e1e7cfa12305e27d0f13bddfd146d
              from: 0x21a597c43abff23a0db33ae4d60c2151160947e1
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 1
              rlp: 0x20f88d018505d21dba00830f42409421a597c43abff23a0db33ae4d60c2151160947e1a302a102044074a7a008a5ee6e50ef87cd57b83ca24e1e7cfa12305e27d0f13bddfd146df847f8458207f5a01a3fcf7321f43ddf7317eed45658d3e4dc69bd5eb8046eff25f7553979aa5120a0275c387bfe5c8669ce6876fe9b7844116ca76ee62464605a3fac9dcf4806ce23
              signatures:
              - R: 0x1a3fcf7321f43ddf7317eed45658d3e4dc69bd5eb8046eff25f7553979aa5120
                S: 0x275c387bfe5c8669ce6876fe9b7844116ca76ee62464605a3fac9dcf4806ce23
                V: 0x7f5
              status: Submitted
              transactionHash: 0xc35ebc300bc8e789541950477b126696484a0a0684b46c0a3fd9a201bfa0fa24
              typeInt: 32
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061917
              message: AccountKeyLegacy type is not supported in AccountKeyRoleBased type
  /v2/tx/{transaction-hash}:
    get:
      description: 트랜잭션 해시값으로 해당 트랜잭션 실행 결과를 조회합니다. 응답의 `status` 필드를 통해 실행 성공 여부를 알 수 있습니다.
      summary: TransactionReceipt
      tags:
      - Basic Transaction
      operationId: TransactionReceipt
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: transaction-hash
        in: path
        required: true
        type: string
        description: 트랜잭션 해시값
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TransactionReceipt'
          examples:
            application/json:
              blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
              blockNumber: 0x24bb088
              contractAddress: null
              from: 0x3e3733b256c93f9d759e33c9939258068bd5957d
              gas: 0xf4240
              gasPrice: 0x5d21dba00
              gasUsed: 0x55478
              hash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              input: 0x4867ba1500000000000000000000000000000000000000000000000000000000000000c000000000000000000000000001021e96a79de1b663753935ac856c2cfc51ce8c000000000000000000000000270f21fbf544e5f87b4988c521315a87ce24acf200000000000000000000000000000000000000000000000000000000000000009dbb36061e9a8cb752a9e8abd17e459d7577eaf614f351dfac0b3b3a2d4fca7400000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000041efc087a54f954b416b6d051775770336f26d65442306145f8148ee2d2181012d5d49e2d3bd51b22456bb69f5adda7e21c93750aa0c4bfd8a99e6bd17584d10a41b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a401db711901000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c8c7395e3e64e69471ed11debbff2a0ffb89d5b00000000000000000000000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000020efefefefefefef0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
              logs:
              - address: 0x270f21fbf544e5f87b4988c521315a87ce24acf2
                blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
                blockNumber: 0x24bb088
                data: 0x010000000000000000000000000000000000000000000000000000000000000000000000000000000000000001021e96a79de1b663753935ac856c2cfc51ce8c0000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000005f5f226d0000000000000000000000000000000000000000000000000000000000000020efefefefefefef00000000000000000000000000000000000000000000000000
                logIndex: 0x0
                removed: false
                topics:
                - 0x834d96fe4fae8c45fce8c6cb6116dd1a578f5abefcf3c339a16106d8e038c17f
                transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
                transactionIndex: 0x0
              - address: 0x01021e96a79de1b663753935ac856c2cfc51ce8c
                blockHash: 0x276e6efcc01b27c992b0663cc843baebc9dbb167cf0cd7e74808c21c97a74182
                blockNumber: 0x24bb088
                data: 0x000000000000000000000000270f21fbf544e5f87b4988c521315a87ce24acf200000000000000000000000000000000000000000000000000000000000000009dbb36061e9a8cb752a9e8abd17e459d7577eaf614f351dfac0b3b3a2d4fca7400000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000000a401db711901000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c8c7395e3e64e69471ed11debbff2a0ffb89d5b00000000000000000000000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000020efefefefefefef000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000001
                logIndex: 0x1
                removed: false
                topics:
                - 0x8ef33a9072a35d9b41d5c5c744ba88308c0fb19f45973df39146cdf54011675f
                transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
                transactionIndex: 0x0
              logsBloom: 0x00000000000000000000000000000000000000000040000000000000200000000000000000000000000001000000000000000000000200000000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000800000000000000000000000000000000000080000000000000000000000000000000000000000000800000000000800000000
              nonce: 0x26dc3
              senderTxHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              signatures:
              - R: 0xa20e26f472166e0852022322f4ff84ec5de8479346dba186fa081fafd3eaeadf
                S: 0x19d02def433c0a07bb25e4de1804c0e3292903e336a3b25d89e81b08987d0508
                V: 0x7f5
              status: Committed
              to: 0x01021e96a79de1b663753935ac856c2cfc51ce8c
              transactionHash: 0x6a3bb7c14981f04e54261a542f0acaf27433befa9619443139f288b3b07c6b05
              transactionIndex: 0x0
              type: TxTypeSmartContractExecution
              typeInt: 48
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065000
              message: failed to retrieve a transaction from klaytn node
  /v2/tx/fd/value:
    post:
      description: KAS 글로벌 대납 계정을 이용하여 클레이 전송 및 메모를 포함한 클레이 전송에 사용되는 트랜잭션을 생성합니다.
      summary: FDValueTransferTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x569a3da2e37b4c08e342820d580122e5283bafbc
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x11f8e2808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c1294569a3da2e37b4c08e342820d580122e5283bafbc846d656d6ff847f8458207f5a048a6618e31293c2b05c093b6fe5c5f2513b844b793b3560934169f0fb7fa4fb5a02aaa4645c711bf0cc25dc3a3878462b13276143b30fed875455b62e14ab9a0a29485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a0307c6e2df0ba301a3a535c4cede427ce3d43a8a0ec2aaad17fcde9f753555a86a026e4d176ebd1e66b32b5bfa383edd60884e87fd5e788729116916c9313d30976
              signatures:
              - R: 0x48a6618e31293c2b05c093b6fe5c5f2513b844b793b3560934169f0fb7fa4fb5
                S: 0x2aaa4645c711bf0cc25dc3a3878462b13276143b30fed875455b62e14ab9a0a2
                V: 0x7f5
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x0b3b7f02640692af371060c311576bc42c3c48122e4f68ca032e5076a3f983d0
              typeInt: 17
              value: 0x12
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1616
              message: feeration must be between 1 and 99; feeRatio
  /v2/tx/fd/contract/deploy:
    post:
      description: KAS 글로벌 대납 계정을 이용하여 컨트랙트 배포르 위해 사용되는 트랜잭션을 생성합니다.
      summary: FDContractDeployTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 0
              rlp: 0x29f90208808505d21dba00830f42408080940bb26552ee02bf4c39ea03ea2d827037ac48ce0eb9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d100298080f847f8458207f5a0b5ca30208d33d3c9add7a32372d27a51c62456be1c625067abd3252ea64ac326a0082faebbc1f59a4a5c47d8b0de9499c4ec06cba6b83e6a89c3ba479d86314cc99485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a05850db72f0ac66af5eab558ffb41c3ccfd138f1af7e75ffa5230998d6947b80ca05f66467e6c0fd3e9b0061f78f5bc589c1bd2e8c7acd974aa506c56e6fc009585
              signatures:
              - R: 0xb5ca30208d33d3c9add7a32372d27a51c62456be1c625067abd3252ea64ac326
                S: 0x82faebbc1f59a4a5c47d8b0de9499c4ec06cba6b83e6a89c3ba479d86314cc9
                V: 0x7f5
              status: Submitted
              transactionHash: 0xd906ce8bbd36ad3817a81835c697057f840db4636a9f690a464280bb66dbff3f
              typeInt: 41
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd/contract/execute:
    post:
      description: KAS 글로벌 대납 계정을 이용하여 배포된 컨트랙트 실행에 사용되는 트랜잭션을 생성합니다.
      summary: FDContractExecutionTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 50
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 2
              rlp: 0x32f90103028505d21dba00830f4240943af2a288cabfb71f07a892ea1e302ac23dff0af880940225b5a7683ac651931c1b6123b7d197d6c24d9da4d14e62b8000000000000000000000000000000000000000000000000000000000000000532f847f8458207f5a07cc2650fe4562bac08e9c3a55fb11b839b8acee5a66bc4a749990048b890d5d0a07b03f29bd2f50fe80bf4e933727277bfa05be880840c49b85d87fd9afc037e9a9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a084aa674586cb9690209b969417cd95e5af1bfda045c3fa7db9775674bac1ab9fa00d3f8963bafae1c9945eaf1db434790d7c39f895d39e9c670e12da5baf32fdb0
              signatures:
              - R: 0x7cc2650fe4562bac08e9c3a55fb11b839b8acee5a66bc4a749990048b890d5d0
                S: 0x7b03f29bd2f50fe80bf4e933727277bfa05be880840c49b85d87fd9afc037e9a
                V: 0x7f5
              status: Submitted
              to: 0x3af2a288cabfb71f07a892ea1e302ac23dff0af8
              transactionHash: 0x97602d2706d45498f2fe0b97e2ff1ba673d3f45823cc47686328c4022c5d9cae
              typeInt: 50
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd:
    delete:
      description: KAS 글로벌 대납 계정으로 Klaytn에 전송했으나 보류중인 트랜잭션을 취소시키기 위한 트랜잭션을 생성합니다. 취소를 위해 논스 또는 트랜잭션 해시 둘 중 하나의 값이 꼭 필요합니다.
      summary: FDCancelTransactionResponse
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDCancelTransactionResponse
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDCancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 1000
              rlp: 0x39f8c98203e88505d21dba00830f4240940bb26552ee02bf4c39ea03ea2d827037ac48ce0ef847f8458207f6a0af8a520dae0038184abe06fd3c62174e8dfc7139458de6a1453a6419687a63f0a00c4d101be2c635c19d79ac84cc475abe570b01f21056cfbcc21afc75a831d04a9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a061ce8d4d8aebde14c707cb68efbb440af5281baaac62792595c319ffa88ee701a00e3ed7c6f3560fde5a3b7974e5e4011eeec2dc7a0bdfd220fb4ef5e4b6821f6f
              signatures:
              - R: 0xaf8a520dae0038184abe06fd3c62174e8dfc7139458de6a1453a6419687a63f0
                S: 0xc4d101be2c635c19d79ac84cc475abe570b01f21056cfbcc21afc75a831d04a
                V: 0x7f6
              status: Submitted
              transactionHash: 0x0a45d9589ea822c929d2eb2c49cbe22f366a2be6b66d8cb74efd7f08081b1e65
              typeInt: 57
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::nonce too low
  /v2/tx/fd/anchor:
    post:
      description: KAS 글로벌 대납 계정을 이용하여 블록체인 데이터를 앵커링 하기 위한 트랜잭션을 생성합니다.
      summary: FDAnchorTransaction
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDAnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDAnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xadf1
              nonce: 2
              rlp: 0x49f8c8028505d21dba00830f4240940bb26552ee02bf4c39ea03ea2d827037ac48ce0e80f847f8458207f6a0b2de48617681d138a4ee7fbbc12a945ca1cfe91581433b7f9150dad5af180dc8a01e1ed65333b45fee9ec4eafc42e4cf5ebb57e4471aa4fb3a5a4fc5c60ae8b4509485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a01836095337c12d8ec80b9a687a561efd7d639d67a7dd4997404f8927767d9c45a05e749781e95aa56e8c3064abae446abc3bd6ac9617675217cba7d6f3622f732a
              signatures:
              - R: 0xb2de48617681d138a4ee7fbbc12a945ca1cfe91581433b7f9150dad5af180dc8
                S: 0x1e1ed65333b45fee9ec4eafc42e4cf5ebb57e4471aa4fb3a5a4fc5c60ae8b450
                V: 0x7f6
              status: Submitted
              transactionHash: 0xbfe8e357fa05f66a1aff4ffd85ee1d7733c805bc47f1eac1ddb742878223de45
              typeInt: 73
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061608
              message: cannot be empty or zero value; input
  /v2/tx/fd/rlp:
    post:
      description: KAS 글로벌 대납 계정을 이용하여 rlp(SigRLP 또는 TxHashRLP)를 이용하여 트랜잭션을 생성합니다. Wallet API 내 transaction API에서 나오는 rlp 값은 서명값을 포함하는 TxHashRLP 포맷입니다. 서명값을 포함하지 않은 SigRLP 값의 경우 caver를 이용하면 더욱 쉽게 만들 수 있습니다. caver에서 각 트랜잭션 메서드로 SigRLP를 만들고자 할 경우 `getRLPEncodingForSignature()`, TxHashRLP를 만들고자 할 경우 `getRLPEncoding()`를 사용하시면 됩니다. SigRLP의 경우 해당 계정풀에서 생성한 것에 한해 `from`의 계정으로 서명을 합니다. 각 트랜잭션 타입별 SigRLP, TxHashRLP에 대한 자세한 설명은 [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions)를 참고하시기 바랍니다.
      summary: FDProcessRLP
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              feeRatio: 5
              from: 0x0225b5a7683ac651931c1b6123b7d197d6c24d9d
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 5
              rlp: 0x2af90208058505d21dba00830f42408080940225b5a7683ac651931c1b6123b7d197d6c24d9db9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029800580f847f8458207f6a08b882881c00bca486a8eb6670e428b8a00b42b6eb29c0d0e11a5a140ac16ee25a05fa420317f7bf433f72367ec73ff4bd8ca058ff6de98bef9830c2a73e3a1d6e29485b98485444c89880cd9c48807cef727c296f2daf846f8448207f59f1fc1777a2186a5e71b69dc244c9f66400a8fd0a918df68918192b82d076018a02ad18e0f04551e49c8f9bd758802dc5a1fe465fa31a0b2637980a6e1d2f4412d
              signatures:
              - R: 0x8b882881c00bca486a8eb6670e428b8a00b42b6eb29c0d0e11a5a140ac16ee25
                S: 0x5fa420317f7bf433f72367ec73ff4bd8ca058ff6de98bef9830c2a73e3a1d6e2
                V: 0x7f6
              status: Submitted
              transactionHash: 0xce913f81cc05ad266873223cfa12c398b940339ff603701841f1785ce38a8958
              typeInt: 42
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061912
              message: rlp value and request value are not same; feeRatio
  /v2/tx/fd/account:
    put:
      description: >-
        KAS 글로벌 대납 계정을 이용하여 클레이튼 계정키를 업데이트 하기 위한 트랜잭션을 생성합니다. 클레이튼의 다양한 계정키는 [Klaytn docs](https://docs.klaytn.com/klaytn/design/accounts)를 참고하시기 바랍니다.


        해당 계정을 Legacy 키 타입(1)으로 업데이트하면, 계정은 Enabled 되면 사용가능한 상태가 됩니다.

        해당 계정을 Public 키 타입(2)으로 업데이트하면, 계정은 월렛내에서 사용할수 없게됩니다.

        다시 복구하기 위해서는 Global 수수료 대납 RLP API 를 사용하거나, 외부에서 legacy 키로 업데이트한 후에 계정은 Enable 해주세요.

        해당 계정의 키를 Fail키 타입(3)으로 업데이트하면, 계정은 자동으로 disable 됩니다.
      summary: FDAccountUpdateTransactionResponse
      tags:
      - Fee Delegated Transaction (Paid by KAS)
      operationId: FDAccountUpdateTransactionResponse
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDAccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              accountKey: 0x04f84b04f848e303a102f06c992530e09ba93588b3878c5f575314a73e88d420ff1eba7690eeeb7a20f1e301a103ecc37d272d5ff2cee8c0724f9a94b25a748a766c2491a3c198f08942ca42ff68
              feePayer: 0x85b98485444c89880cd9c48807cef727c296f2da
              from: 0x0bb26552ee02bf4c39ea03ea2d827037ac48ce0e
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 4
              rlp: 0x21f90117048505d21dba00830f4240940bb26552ee02bf4c39ea03ea2d827037ac48ce0eb84e04f84b04f848e303a102f06c992530e09ba93588b3878c5f575314a73e88d420ff1eba7690eeeb7a20f1e301a103ecc37d272d5ff2cee8c0724f9a94b25a748a766c2491a3c198f08942ca42ff68f847f8458207f6a08e8550db87f58495bea65659aff4b441196327fa7d76c7d8e746b9ad47058112a0098f45c8ac7381a34d5fc93baaeb54b69ce1fe2f9e35cdc63d1190b4c74d034d9485b98485444c89880cd9c48807cef727c296f2daf847f8458207f6a0bef03d962ed60ac6b219940a6a78c3f422b33f2ada8a81575b061b77502f70d0a065613373a0787b6688787113217212e41b413d232da64f920f246cd8e3af2c23
              signatures:
              - R: 0x8e8550db87f58495bea65659aff4b441196327fa7d76c7d8e746b9ad47058112
                S: 0x98f45c8ac7381a34d5fc93baaeb54b69ce1fe2f9e35cdc63d1190b4c74d034d
                V: 0x7f6
              status: Submitted
              transactionHash: 0x366b3da2788d9d4f3cf95cd163d01d94b3dfc7fed20ca748be2c230c50d7d86e
              typeInt: 33
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd-user/value:
    post:
      description: >-
        유저가 생성한 대납 계정으로 메모와 함께 클레이를 전송하는 트랜잭션을 생성합니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDValueTransferTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDValueTransferTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserValueTransferTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xef1668a663d1377f957433caba61a3622c997b28
              feeRatio: 14
              from: 0x85621fa3d7e067ca5d2f5bc0098b3849ee15bca8
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 0
              rlp: 0x12f8e3808505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c129485621fa3d7e067ca5d2f5bc0098b3849ee15bca8846d656d6f0ef847f8458207f5a0ba3ee2b7c562616c259743927652b3654297de3645a5d646eff8d80535eb1ac9a0780945fcd12db6e0d50a538533bf782714b708cb9417c93880de871d2d72821394ef1668a663d1377f957433caba61a3622c997b28f847f8458207f6a083a7964378720646d1acfc046cd739292b37f4ceb185e2394acc3f9268b32a66a07be0580ae5ae0ef6aada552701ea7ced34dba9a36e800cd1947054d07e48b375
              signatures:
              - R: 0xba3ee2b7c562616c259743927652b3654297de3645a5d646eff8d80535eb1ac9
                S: 0x780945fcd12db6e0d50a538533bf782714b708cb9417c93880de871d2d728213
                V: 0x7f5
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0xb11fca27eaa91a077a346d6006377afd06b834efc9c4156ba3f00ce141008a0e
              typeInt: 18
              value: 0x12
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::insufficient funds of the fee payer for gas * price
  /v2/tx/fd-user/contract/deploy:
    post:
      description: >-
        유저가 생성한 대납 계정으로 컨트랙트를 배포하는 트랜잭션을 생성합니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDContractDeployTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDContractDeployTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserContractDeployTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xef1668a663d1377f957433caba61a3622c997b28
              feeRatio: 28
              from: 0x85621fa3d7e067ca5d2f5bc0098b3849ee15bca8
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029
              nonce: 1
              rlp: 0x2af90209018505d21dba00830f424080809485621fa3d7e067ca5d2f5bc0098b3849ee15bca8b9013a60806040526000805534801561001457600080fd5b50610116806100246000396000f3006080604052600436106053576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306661abd14605857806342cbb15c146080578063d14e62b81460a8575b600080fd5b348015606357600080fd5b50606a60d2565b6040518082815260200191505060405180910390f35b348015608b57600080fd5b50609260d8565b6040518082815260200191505060405180910390f35b34801560b357600080fd5b5060d06004803603810190808035906020019092919050505060e0565b005b60005481565b600043905090565b80600081905550505600a165627a7a7230582064856de85a2706463526593b08dd790054536042ef66d3204018e6790a2208d10029801c80f847f8458207f6a013caedfdb766c6c64ec650f3346ced2bede152e022e1228e3b5ad0c883d271f2a002d38cf8ee313a89a879a5852b9f1530490782c3ee1638f4101ac133063670e794ef1668a663d1377f957433caba61a3622c997b28f847f8458207f5a05246a998c18e4c3322a0ce0ddcf1ff3a29c80f435301e8d0b647ba416ea8a523a04d4c44e4801d03f2ed52e471240c768a98aab6722b1b2aa0badc6ce7cf8494cb
              signatures:
              - R: 0x13caedfdb766c6c64ec650f3346ced2bede152e022e1228e3b5ad0c883d271f2
                S: 0x2d38cf8ee313a89a879a5852b9f1530490782c3ee1638f4101ac133063670e7
                V: 0x7f6
              status: Submitted
              transactionHash: 0x3fe05e43bacae4da604051162fd54ce1885cc038898ee34fca82031ed9557d79
              typeInt: 42
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd-user/contract/execute:
    post:
      description: >-
        유저가 생성한 대납 계정으로 배포된 컨트랙트 함수를 실행하는 트랜잭션을 생성합니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDContractExecutionTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDContractExecutionTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserContractExecutionTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0xd14e62b80000000000000000000000000000000000000000000000000000000000000005
              nonce: 2
              rlp: 0x31f90102028505d21dba00830f424094182efef646797698059fb0e6cbb4823687d869d880949c56b45b7443bc73f47234199982481c64807f78a4d14e62b80000000000000000000000000000000000000000000000000000000000000005f847f8458207f5a03a5ff2dfb032a774d84af240a2aeacf4ac4bcf428de4f1f5adc6f4c003a96794a053e39aa65cd1006136be9ade19413e5bfd53c5575b40d5f32aa7e19037003df794e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f5a029cb2ac282e5880ef0ed8bf1bfca08f51ae151757ff50cdf08eccb23600c4ee4a048aedf8ef1415a3a7d32358f0d45d7223fd37532eafb8c4937828b2a284b80e3
              signatures:
              - R: 0x3a5ff2dfb032a774d84af240a2aeacf4ac4bcf428de4f1f5adc6f4c003a96794
                S: 0x53e39aa65cd1006136be9ade19413e5bfd53c5575b40d5f32aa7e19037003df7
                V: 0x7f5
              status: Submitted
              to: 0x182efef646797698059fb0e6cbb4823687d869d8
              transactionHash: 0x4fcb4c06f81676d6b811f5b867f3ab5d166014e6c1dd982fec037eafdf89c88e
              typeInt: 49
              value: 0x0
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::insufficient funds of the fee payer for gas * price
  /v2/tx/fd-user:
    delete:
      description: >-
        유저가 만든 대납 계정으로 Klaytn에 전송했으나 보류중인 트랜잭션을 취소시키기 위한 트랜잭션을 생성합니다. 취소를 위해 논스 또는 트랜잭션 해시 둘 중 하나의 값이 꼭 필요합니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDUserCancelTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDUserCancelTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserCancelTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 330
              rlp: 0x39f8c982014a8505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f78f847f8458207f5a061ffd0e76da83a4c4b05ca23d8cd66ac4b6c5a63183b6cc89ac3b12e9688aeb8a052edf81652ff174e3a0e3856a35ee71ea814c70fbc9fb18f8c66adeb15d0550394e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f5a05a5bf47cbc87b1091ebfa140c504b3d7ab1756cdc1e25ea168a277e478a5e01da00f8bfdbad9f94507e53c3abfa6d9e824170939b47731483bc629d3d58326bbb9
              signatures:
              - R: 0x61ffd0e76da83a4c4b05ca23d8cd66ac4b6c5a63183b6cc89ac3b12e9688aeb8
                S: 0x52edf81652ff174e3a0e3856a35ee71ea814c70fbc9fb18f8c66adeb15d05503
                V: 0x7f5
              status: Submitted
              transactionHash: 0x176a40a522123e831107430e321adc34397f767ec9f75080ad0464ac0757be27
              typeInt: 57
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: failed to send a raw transaction to klaytn node; -32000::nonce too low
  /v2/tx/fd-user/anchor:
    post:
      description: >-
        유저가 생성한 대납 계정으로 서비스 체인 데이터를 메인 체인에 앵커링하는 트랜잭션을 생성합니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDAnchorTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDAnchorTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserAnchorTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xef1668a663d1377f957433caba61a3622c997b28
              feeRatio: 99
              from: 0x85621fa3d7e067ca5d2f5bc0098b3849ee15bca8
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x1233
              nonce: 3
              rlp: 0x4af8cb038505d21dba00830f42409485621fa3d7e067ca5d2f5bc0098b3849ee15bca882123363f847f8458207f6a04fefbd2ad50d0162cca0789c12ffe90fd84bf31306ed657869c01ba9a22db8baa076fe381059dc0c3f665b1dfd2612ff36c6e41cbf2590c0657761656b5387dfb894ef1668a663d1377f957433caba61a3622c997b28f847f8458207f6a0214411841fc8009932da960c78cfd6050b19ab3d11a44eb4f4063cf4a32501aca03bed2579a957bf1565e6988637b76eba9e79d628d70953a3dd4f207e605c4903
              signatures:
              - R: 0x4fefbd2ad50d0162cca0789c12ffe90fd84bf31306ed657869c01ba9a22db8ba
                S: 0x76fe381059dc0c3f665b1dfd2612ff36c6e41cbf2590c0657761656b5387dfb8
                V: 0x7f6
              status: Submitted
              transactionHash: 0xf067a4bfc89f66a2e9f1f1e0b647860e15678e448ed8f7fcc312bd42682bdad4
              typeInt: 74
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061607
              message: it has to start with '0x' and allows [0-9a-fA-F]; input
  /v2/tx/fd-user/rlp:
    post:
      description: >-
        유저가 생성한 대납 계정으로 RLP(SigRLP 또는 TxHashRLP)를 사용해 트랜잭션을 생성합니다. Wallet API 내 transaction API에서 나오는 rlp 값은 서명값을 포함하는 TxHashRLP 포맷입니다. 서명값을 포함하지 않은 SigRLP 값의 경우 caver를 이용하면 더욱 쉽게 만들 수 있습니다. caver에서 각 트랜잭션 메서드로 SigRLP를 만들고자 할 경우 `getRLPEncodingForSignature()`, TxHashRLP를 만들고자 할 경우 `getRLPEncoding()`를 사용하시면 됩니다. SigRLP의 경우 해당 계정풀에서 생성한 것에 한해 `from`의 계정으로 서명을 합니다. 각 트랜잭션 타입별 SigRLP, TxHashRLP에 대한 자세한 설명은 [Klaytn Docs](https://docs.klaytn.com/klaytn/design/transactions)를 참고하시기 바랍니다.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDProcessRLP
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDProcessRLP
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserProcessRLPRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              feePayer: 0xef1668a663d1377f957433caba61a3622c997b28
              feeRatio: 76
              from: 0x85621fa3d7e067ca5d2f5bc0098b3849ee15bca8
              gas: 1000000
              gasPrice: 0x5d21dba00
              input: 0x6d656d6f
              nonce: 4
              rlp: 0x12f8e3048505d21dba00830f4240942f87ba64de5526f7880f21481effbf950f70005c129485621fa3d7e067ca5d2f5bc0098b3849ee15bca8846d656d6f4cf847f8458207f6a00f16b0be06701929acb1c8ae5accbbf1d312c943053c6391cc9ab3c3318d18a4a022952a3f8fe23cf9dad408e19e95e2efa10980a64b7507e2b548b28e7ba80ae894ef1668a663d1377f957433caba61a3622c997b28f847f8458207f6a0fa86634dd8cd737d621c3c3405ed2a8c40a055e6f658bf591bd659a698be197ca052b6d1ee11de4e72520d717dfe5a0e9ffca66159e7da4ba46cbef353b674513c
              signatures:
              - R: 0xf16b0be06701929acb1c8ae5accbbf1d312c943053c6391cc9ab3c3318d18a4
                S: 0x22952a3f8fe23cf9dad408e19e95e2efa10980a64b7507e2b548b28e7ba80ae8
                V: 0x7f6
              status: Submitted
              to: 0x2f87ba64de5526f7880f21481effbf950f70005c
              transactionHash: 0x6732c6541d47f57a1987c18b2f4f031d4bdf32d7ac5a1feb34125c99d812b4c6
              typeInt: 18
              value: 0x12
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1065001
              message: 'failed to send a raw transaction to klaytn node; -32000::insufficient funds of the sender for value '
  /v2/tx/fd-user/account:
    put:
      description: >-
        유저가 생성한 대납 계정으로 클레이튼 계정 키를 다른 종류의 키로 업데이트하는 트랜잭션을 생성합니다. 클레이튼 계정 키 종류는 [Klaytn Docs](https://ko.docs.klaytn.com/klaytn/design/accounts)을 확인하십시오.


        이 API를 사용하기 위해서는 `account-pool`과 `feepayer-pool`에 대한 두개의 `x-krn`이 필요합니다.

        두 개의 `x-krn`을 기술하기 위해서 comma 로 분리하여 기술하며, 예시는 아래와 같습니다.


        ```

        x-krn: krn:1001:wallet:{{account-id}}:account-pool:{{account-pool-id}},krn:1001:wallet:{{account-id}}:feepayer-pool:{{feepayer-pool-id}}

        ```
      summary: UFDAccountUpdateTransaction
      tags:
      - Fee Delegated Transaction (Paid by User)
      operationId: UFDAccountUpdateTransaction
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/FDUserAccountUpdateTransactionRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/FDTransactionResult'
          examples:
            application/json:
              accountKey: 0x05f8778203c0b84e04f84b02f848e301a103e4a01407460c1c03ac0c82fd84f303a699b210c0b054f4aff72ff7dcdf01512de301a10336f6355f5b532c3c1606f18fa2be7a16ae200c5159c8031dd25bfa389a4c9c06a302a103698a5769e28d0a2cf138a4f6533b158e90f1000a6331fe56aea628cf061f74f2
              feePayer: 0xe8ab1729ab614551021cf5cc22c0e037f5a82930
              from: 0x9c56b45b7443bc73f47234199982481c64807f78
              gas: 1000000
              gasPrice: 0x5d21dba00
              nonce: 6
              rlp: 0x21f90143068505d21dba00830f4240949c56b45b7443bc73f47234199982481c64807f78b87a05f8778203c0b84e04f84b02f848e301a103e4a01407460c1c03ac0c82fd84f303a699b210c0b054f4aff72ff7dcdf01512de301a10336f6355f5b532c3c1606f18fa2be7a16ae200c5159c8031dd25bfa389a4c9c06a302a103698a5769e28d0a2cf138a4f6533b158e90f1000a6331fe56aea628cf061f74f2f847f8458207f5a0417123ce3a739bda66493ccf83bbc2b0e6a8a5ef181c04a9cbf76169abb106b6a024d596ce7e8f108012f26ec8853a1b9b65b4e670be8de7cbcbe73709f3a3179994e8ab1729ab614551021cf5cc22c0e037f5a82930f847f8458207f5a0b2917ba146947e7898f3df954ffde028cf11c5f23338b3eccc5e1ce20e73ec9ca05251179f052c064813fecae03ec07b121622f8352c599c12f4671784d6b94a03
              signatures:
              - R: 0x417123ce3a739bda66493ccf83bbc2b0e6a8a5ef181c04a9cbf76169abb106b6
                S: 0x24d596ce7e8f108012f26ec8853a1b9b65b4e670be8de7cbcbe73709f3a31799
                V: 0x7f5
              status: Submitted
              transactionHash: 0x6bd7c53520171aa9dfb535b62ac35e97a16798de7060eb844cbad6afbd847b86
              typeInt: 33
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061917
              message: AccountKeyLegacy type is not supported in AccountKeyRoleBased type
  /v2/multisig/account/{address}/tx:
    get:
      description: Multisig 계정으로 보낸 보류(pending) 중 인 트랜잭션들을 조회합니다
      summary: RetrieveMultisigTransactions
      tags:
      - Multisig Transaction Management
      operationId: RetrieveMultisigTransactions
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: size
        in: query
        required: false
        default: 100
        type: integer
        format: int64
        minimum: 1
        maximum: 1000
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: 검색할 계정의 최대 사이즈
      - name: cursor
        in: query
        required: false
        type: string
        description: 마지막으로 검색된 커서의 정보
      - name: to-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: 검색하고자 하는 마지막 시간의 타임스탬프 (초단위)
      - name: from-timestamp
        in: query
        required: false
        type: integer
        format: int64
        description: 검색하고자 하는 처음 시간의 타임스탬프 (초단위)
      - name: address
        in: path
        required: true
        type: string
        description: 다중 서명 키를 가진 계정 주소 또는 서명자 계정 주소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactions'
          examples:
            application/json:
              cursor: ''
              items:
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
                createdAt: 1599144020
                multiSigKeys:
                - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                  weight: 3
                - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                  weight: 1
                status: 2
                threshold: 4
                transactionId: 0x65111d4fba621a1bfa3bd97c219b3e0454471cf3c07827396f1202946df51ee2
                txData:
                  from: 0xc6c9356887b7f7887918bf577417e5d8de253295
                  gas: 1000000
                  gasPrice: 0x5d21dba00
                  input: 0x6d656d6f
                  to: 0x2f87ba64de5526f7880f21481effbf950f70005c
                  typeInt: 16
                  value: 0x1001
                type: TX
                updatedAt: 1599144020
              - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                chainId: 1001
                createdAt: 1599144013
                multiSigKeys:
                - address: 0xc6C9356887b7F7887918Bf577417E5D8De253295
                  weight: 3
                - address: 0x0b7caaf70e7A0a5399041c64711E535CE8B3cf7d
                  weight: 1
                status: 2
                threshold: 4
                transactionId: 0x36f9c5794fc141d3625e89a1164e6105fa973e8214d23bc6a210d2afe9dba6dd
                txData:
                  from: 0xc6c9356887b7f7887918bf577417e5d8de253295
                  gas: 1000000
                  gasPrice: 0x5d21dba00
                  input: 0x6d656d6f
                  to: 0x2f87ba64de5526f7880f21481effbf950f70005c
                  typeInt: 16
                  value: 0x100
                type: TX
                updatedAt: 1599144013
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/multisig/account/{address}/tx/{transaction-id}/sign:
    post:
      description: 유효한 서명자(signer)가 보류중인 트랜잭션에 서명을 합니다.
      summary: SignPendingTransaction
      tags:
      - Multisig Transaction Management
      operationId: SignPendingTransaction
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: address
        in: path
        required: true
        type: string
        description: 서명자의 계정 주소
      - name: transaction-id
        in: path
        required: true
        type: string
        description: 보류중인 트랜잭션의 ID
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactionStatus'
          examples:
            application/json:
              signedWeight: 4
              status: Submitted
              threshold: 4
              transactionHash: 0x81f2ff422eae9b40d65b7a6f1e3c5ca598f83d1473ccc87e53d51b875fe75c82
              transactionId: 0xfa275dba88d197a85504ef70e0dd2640acc708817e9eb3933d7850acfb048649
              weight: 3
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061010
              message: data don't exist
  /v2/multisig/tx/{transaction-id}/sign:
    post:
      description: 준비된 서명 값을 이용하여 보류중인 트랜잭션에 서명을 덧붙입니다. 본인이 가지고 있지 않은 계정에 대해서 외부에서 서명값을 받아 덧붙이고 싶은 경우 사용할 수 있습니다.
      summary: SignPendingTransactionBySig
      tags:
      - Multisig Transaction Management
      operationId: SignPendingTransactionBySig
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: transaction-id
        in: path
        required: true
        type: string
        description: 보류중인 트랜잭션의 ID
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/SignPendingTransactionBySigRequest'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/MultisigTransactionStatus'
          examples:
            application/json:
              signedWeight: 4
              status: Submitted
              threshold: 4
              transactionHash: 0xf1ced3855f3cd1d5220f2991ec4ba845ec747a0c01028c2d63de3662ddad2083
              transactionId: 0xae20ed8ce084d372fb804ea6f6073ba2f485a64bac086199efb83d665d0b31f2
              weight: 1
          headers: {}
        400:
          description: ''
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1061914
              message: already submitted transaction. Confirm transaction hash; 0xb9612ec6ec39bfd3f2841daa7ab062fc94cf33f23503606c979b2f81e50b2cb1
  /v2/stat/count:
    get:
      description: 해당 KAS 사용자가 가진 모든 클레이튼 계정 개수를 보여줍니다.
      summary: GetAccountCountByAccountID
      tags:
      - Statistics
      operationId: GetAccountCountByAccountID
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountCountByAccountID'
          examples:
            application/json:
              accountId: 5adddb69-20b5-4444-a205-8bd681c815cc
              count: 1
          headers: {}
  /v2/stat/count/krn:
    get:
      description: 사용자의 특정 계정 저장소에서의 클레이튼 계정 보유 개수를 보여줍니다.
      summary: GetAccountCountByKRN
      tags:
      - Statistics
      operationId: GetAccountCountByKRN
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: x-krn
        in: header
        required: false
        type: string
        description: 계정 저장소
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AccountCountByKRN'
          examples:
            application/json:
              accountId: 5adddb69-20b5-4444-a205-8bd681c815cc
              count: 8
              krn: krn:1001:wallet:5adddb69-20b5-4444-a205-8bd681c815cc:account-pool:default
          headers: {}
definitions:
  EmptyUpdateKeyType:
    title: EmptyUpdateKeyType
    description: 해당 계정 키로 새롭게 사용할 계정 키(AccountKey)
    type: object
    properties:
      keyType:
        description: 계정키의 타입
        type: integer
        format: int64
  PubkeyUpdateKeyType:
    title: PubkeyUpdateKeyType
    description: 해당 계정 키로 새롭게 사용할 계정 키(AccountKey)
    type: object
    properties:
      keyType:
        description: 계정키의 타입
        type: integer
        format: int64
      key:
        description: 계정의 공개키
        type: string
  MultisigUpdateKeyType:
    title: MultisigUpdateKeyType
    description: 해당 계정 키로 새롭게 사용할 계정 키(AccountKey)
    type: object
    properties:
      keyType:
        description: 계정키의 타입
        type: integer
        format: int64
      key:
        $ref: '#/definitions/MultisigUpdateKey'
  MultisigUpdateKey:
    title: MultisigUpdateKey
    type: object
    properties:
      threshold:
        description: 가중치 합계를 검증하는 기준치
        type: integer
        format: int64
      weightedKeys:
        type: array
        items:
          $ref: '#/definitions/MultisigKey'
  RoleBasedUpdateKeyType:
    title: RoleBasedUpdateKeyType
    description: 해당 계정 키로 새롭게 사용할 계정 키(AccountKey)
    type: object
    properties:
      keyType:
        description: 계정키의 타입
        type: integer
        format: int64
      key:
        type: array
        items:
          type: object
  Account:
    title: Account
    description: 계정 정보
    type: object
    properties:
      address:
        description: 클레이튼 계정주소
        example: 0xa809284C83b901eD106Aba4Ccda14628Af128e14
        type: string
      chainId:
        description: 클레이튼 체인 ID
        example: 1001
        type: integer
        format: int64
      createdAt:
        description: 클레이튼 계정 생성 시간
        example: 1599187293
        type: integer
        format: int64
      keyId:
        description: 해당 계정의 개인키 ID
        example: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default:0x4cbbcb974e32a7960e1b356edf60087613101919ed83199f12e872cba068a50f
        type: string
      krn:
        description: KAS KRN
        example: krn:1001:wallet:68ec0e4b-0f61-4e6f-ae35-be865ab23187:account-pool:default
        type: string
      publicKey:
        description: 해당 계정의 공개키
        example: 0x04cdccfb99b2905561e3dd886687b429a004718f11b04914f17ce68fd3a0db46c598a45da85caa61fe84cb78a0f2eaa9983ec7b8805a93ef9428eb1350a8558237
        type: string
      updatedAt:
        description: 해당 계정 정보를 마지막으로 업데이트한 시간
        example: 1599187293
        type: integer
        format: int64
      multiSigKeys:
        type: array
        items:
          $ref: '#/definitions/MultisigKey'
      threshold:
        description: 다중 서명 트랜잭션을 생성하는 데 필요한 가중치 합계 기준값.
        example: 4
        type: integer
        format: int64
    required:
    - address
    - chainId
    - createdAt
    - keyId
    - krn
    - publicKey
    - updatedAt
  ErrorResponse:
    title: ErrorResponse
    type: object
    properties:
      code:
        example: 1061010
        type: integer
        format: int64
      message:
        example: data don't exist
        type: string
  Accounts:
    title: Accounts
    description: 계정 정보 목록
    type: object
    properties:
      cursor:
        description: 마지막 검색 위치를 나타내는 커서 정보
        type: string
      items:
        type: array
        items:
          $ref: '#/definitions/Account'
    required:
    - cursor
  MultisigKey:
    title: MultisigKey
    description: Multisig를 위한 키 정보
    type: object
    properties:
      publicKey:
        description: 클레이튼 계정의 공개키
[...]
