swagger: '2.0'
info:
  version: '0.7.0'
  title: Token History API
  description: >+
    # Introduction


    Token History API는 KLAY, FT (KIP-7, Labeled ERC-20), NFT (KIP-17, Labeled ERC-721) 토큰 정보, 이들 토큰을 주고받은 기록을 조회하는 기능을 제공합니다. 여러분은 특정 EOA가 KLAY를 주고받은 기록을 확인하거나 EOA가 가지고 있는 NFT 정보를 불러오는 등 Token History API를 다양하게 활용할 수 있습니다.



    Token History API 사용에 관한 자세한 내용은 [튜토리얼](https://klaytn.com)을 확인하십시오.



    이 문서 혹은 KAS에 관한 문의는 [개발자 포럼](https://forum.klaytn.com/)을 방문해 도움을 받으십시오

  contact: {}
host: th-api.klaytnapi.com
basePath: /
securityDefinitions:
  auth:
    type: basic
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v2/transfer:
    get:
      description: "거래내역을 통합 조회합니다. 거래내역은 KLAY 전송 (`KlayTransfer`), FT 전송 (`FtTransfer`), NFT 전송 (`NftTransfer`)으로 나뉩니다. \n\n## FT/NFT 거래내역 조회 결과에 포함된 KlayTransfer \n\nFT, NFT 전송의 경우 토큰 전송을 실행한 `KlayTransfer` 전송내역이 조회 결과에 포함됩니다. 이것은 FT/NFT 토큰 전송은 기본적으로 FT/NFT 컨트랙트 함수의 실행이기 때문이며 `transfer`는 토큰 전송 함수를 실행하는 트랜잭션에 대응하는 `KlayTransfer`를 응답에 포함합니다. 컨트랙트 함수를 실행하는 트랜잭션들은 대체로 KLAY를 전송하지 않기 때문에 FT, NFT 전송을 실행한 `KlayTransfer`의 `value`는 0일 수 있습니다. \n\n\n## 거래유형\n\n* `kind` 파라메터를 설정하여 KLAY, FT, NFT 중 한 가지 유형을 골라 거래내역을 조회할 수 있습니다\n* `kind`가 설정되지 않으면 모든 유형의 거래내역이 조회됩니다\n\n## 조회기간\n\n* `range`의 경우 `range={from},{to}` 포맷으로 질의합니다\n* `{from}`과 `{to}`가 정수일 경우 Unix time으로, 16진수 문자열일 경우 블록 번호로 간주합니다\n* `{to}`값이 없는 경우 현재 시간 또는 최신 블록 번호가 사용됩니다\n* 한 번에 불러올 수 있는 거래내역은 최대 과거 6개월 분량입니다(Unix time, 블록 두 경우 모두 해당).\n\n## Preset\n\n* `presets` 쿼리 파라미터는 필수 파라미터입니다\n* [Preset](https://www.klaytn.com)은 KAS Console에서 사전에 생성되어 있어야 합니다\n* Preset ID는 KAS Console에서 확인하실 수 있습니다\n"
      summary: getTransfers
      tags:
      - Token History
      operationId: getTransfers
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) [“klay”, “ft”, “nft”] 중 포함 할 유형, 지정안될 경우 모든 유형을 조회
      - name: range
        in: query
        required: false
        type: string
        description: 조회 범위 지정 (블록번호 또는 Unix time)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수 (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 응답 오프셋
      - name: presets
        in: query
        required: true
        type: string
        description: (csv) 검색에 사용할 Preset ID들, Preset ID는 KAS Console에서 확인
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableTransfers'
          headers: {}
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/InvalidQueryParameterValue'
  /v2/transfer/tx/{transaction-hash}:
    get:
      description: >
        트랜잭션 해시로 거래내역을 조회합니다. 거래내역은 KLAY 전송 (`KlayTransfer`), FT 전송 (`FtTransfer`), NFT 전송 (`NftTransfer`)으로 나뉘며 FT, NFT 전송의 경우 토큰 전송을 실행한 `KlayTransfer` 전송내역이 조회 결과에 포함됩니다. FT, NFT 전송을 실행한 `KlayTransfer`의 `value`는 0일 수 있습니다. 이와 관련된 자세한 설명은 `GET /v2/transfer`를 참조하여 주시기 바랍니다.
      summary: getTransfersByTxHash
      tags:
      - Token History
      operationId: getTransfersByTxHash
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: transaction-hash
        in: path
        required: true
        type: string
        description: 조회할 트랜잭션 해시
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Transfers'
          headers: {}
  /v2/transfer/account/{address}:
    get:
      description: "특정 EOA의 토큰 거래내역을 조회합니다. 기능적으로 `GET /v2/transfer`와 같습니다. 단, 결과로 반환된 Transfer 객체에서 이 EOA가 토큰을 받았다면 `to`가, 토큰을 보냈다면 `from`이 EOA와 같습니다.\n   \n거래내역은 KLAY 전송 (`KlayTransfer`), FT 전송 (`FtTransfer`), NFT 전송 (`NftTransfer`)으로 나뉘며 FT, NFT 전송의 경우 토큰 전송을 실행한 `KlayTransfer` 전송내역이 조회 결과에 포함됩니다. FT, NFT 전송을 실행한 `KlayTransfer`의 `value`는 0일 수 있습니다. 이와 관련된 자세한 설명은 `GET /v2/transfer`를 참조하여 주시기 바랍니다.\n\n## 거래유형\n\n* `kind` 파라메터를 설정하여 여러 유형의 거래내역을 조회할 수 있습니다\n* `kind`가 설정되지 않으면 모든 유형의 거래내역이 조회됩니다\n\n## 조회기간\n\n* `range`의 경우 `range={from},{to}` 포맷으로 질의합니다\n* `{from}`과 `{to}`가 정수일 경우 Unix time으로, 16진수 문자열일 경우 블록 번호로 간주합니다\n* `{to}`값이 없는 경우 현재 시간 또는 최신 블록 번호가 사용됩니다\n* 최대 검색기간은 6개월로 제한됩니다 (Unix time, 블록 두 경우 모두 해당)\n"
      summary: getTransfersByEoa
      tags:
      - Token History
      operationId: getTransfersByEoa
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) [“klay”, “ft”, “nft”] 중 포함 할 유형, 지정안될 경우 모든 유형을 조회
      - name: ca-filter
        in: query
        required: false
        type: string
        description: 조회할 FT 또는 NFT 컨트랙트의 주소, 설정될 경우 `transferType`이 "ft" 또는 "nft"인 것들 중 ca-filter 값과 같은 것들만 결과물로 반환.
      - name: range
        in: query
        required: false
        type: string
        description: (csv) 조회 범위 지정 (블록번호 또는 Unix time)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 특정 위치를 지정하기 위한 오프셋
      - name: address
        in: path
        required: true
        type: string
        description: 검색기준이 되는 EOA, 검색결과의 from 또는 to가 제시된 address값과 일치
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableTransfers'
          headers: {}
  /v2/contract/ft:
    get:
      description: >
        라벨링된 모든 FT 컨트랙트들의 정보를 불러옵니다.
      summary: getListofFtContracts
      tags:
      - Token Contract
      operationId: getListofFtContracts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: status
        in: query
        required: false
        type: string
        description: 라벨링 상태 [completed, processing, failed, cancelled]
      - name: type
        in: query
        required: false
        type: string
        description: 컨트랙트 타입 [KIP-7, ERC-20], 지정하지 않을 경우 모든 타입 반환
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 특정 위치를 지정하기 위한 오프셋
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableFtContractDetails'
          examples:
            application/json:
              items:
              - address: 0x293073d135c3774145591bd2ccb04f3bccf52bee
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Bifrost Klay
                symbol: BFCK
                totalSupply: 0xcecb8f27f4200f3a0000000
                status: completed
                type: KIP-7
                createdAt: 1599638669
                updatedAt: 1599638669
                deletedAt: 0
              - address: 0x3ea399061310992c92944a65698285c5efdcd89a
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Bifrost Klay
                symbol: BFCK
                totalSupply: 0xcecb8f27f4200f3a0000000
                status: completed
                type: KIP-7
                createdAt: 1599638326
                updatedAt: 1599638326
                deletedAt: 0
              - address: 0x7aeba062cb347c52435d8325fdd62b61addede51
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xa4ba9c68a7d1d33e288702f1ace1559d8924001c
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x905eb05427d27a895e93a3e709dcaa522bba126b
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xd43188c50fdee5621ea5893cf06cfad05467c286
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xd502b5849542653bd8cfa507bac7f107b74f8b52
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x2f249ded20f8f2fbd7a7189e6b7c9d4953aea2f4
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x236296804e1d80eff40499c45adb4b4bd06f837c
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x636067b413f66cd14efbe0d251409c0acea3415f
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x02e8e95958a828081817ab11cae4455d313a7c65
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x99abe9c31dbee2db9fc2bce55314c98b11099532
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xe2ae90cb782d9de64118fc3487f59d5a8d6e3486
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x46cc90ddcbc57076e30f814b5b157114f7dba907
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xa43fb2e5893878acd587a52713d4f455e03b99d7
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x9e5399407939bcb7fb50324fa2e53056b5fa6f91
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xb727a8c0efe88ef691399c632f5950fefaead681
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xb6aedede3f5a72c883ae03878959a2c4f3455429
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x5da69cc1ca6052af3fe3500a61d0c7ddecca6352
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xfe5574d345df7d60e6014900b1b60896ee977674
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x553afffd52da15717b4ef4b1ef47c112802cb3d9
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x81da3e7d89c9e1da7c84693c1c89c7e3d8c476f0
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: cancelled
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x7f8bb7e8da765006a87f0285c99a9704d86e1a49
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xf150e714f78eab0811aa83256104fead1c88ea26
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xe8ddd98e8d0dbad41c4197c402321c7bd2989f2f
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x4df5a927cc199cc931fe2cd75cbc4aef248cec99
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x09c960f7a6afc99bba314d9c9158c525c451df99
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x4bfd60ce884ad42359b490d04e6aad93eee0022a
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xbc5ce32fa39e65d7b2f8a55c4ecdd0da2d1bb136
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xd4e34a03d900b1d534d14f2bb1b4b4ece93aaef8
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x272e24aa7555c00ab4de96e41696e2cfed6d4408
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x3c0fb1279b87de2428f505eee61f3e4d7d00b66c
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: ERC-20
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xcb43a7d2d2ed8b1d75e4ca8f903407650a66d5bb
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xcfe14771af5870857939bbcdff94e1806ff6faab
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xc11d6570fca10624ad63bd16f19372af7c0e6c9e
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x5854fb3825ec57426ac4d0c63deacd05fee123ab
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0xdcd7c1f60fd98c76e5f2fec975757228ee57bc18
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x9b3be069c5cd5a02976cbb98e1ace6dd88061441
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x404abbabc74b5107c63281c4069e7a5cf590b9bb
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x88c859fdf29bb22efe02ab24afbc407e8e9aec11
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x12fed96c71539ad4aef6d13fc76092916888e513
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253239
                updatedAt: 1598253239
                deletedAt: 0
              - address: 0x357ada355a7c2951aebce3c5226b4af70ce3d6c0
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: failed
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x4a625109d1d2e07d4936425f6c830793d6178b51
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x9a8bd341eb366e8adadd6b32181d0b49e110bde6
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x1777130af157448b51703c42d24c08e6ede75081
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xb6a934714e8a5b122c01a40ef07396f2a30c9870
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x6983c5d7ee93302ff2ff838a2e53e92d25620b6e
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x7015659c0721419e0ef869f0d64a2a0d467e5693
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xd181946a4fa3fef3336df28f98cc0b38ba58f5b0
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x5da7c6657f87ce155210f2bbbdb4a78e344eb9db
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x8f590722a6bd7ccde1d42b7d312b4d72a92b7122
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x601dd60fba7de2585d9c425a6c2af2399e6e9ffd
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: ERC-20
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xbe0867fb17aaf52fdb52fe9959685c47b9f95623
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xef974ad60a5418f6fbb24f94188690b83134599b
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x4a5b5473a4fff37e0abc9cb6787115e50a23f96c
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x35b6cb596a4886fee9cc0bb4f581f8b20cd5dac2
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xfb823f17fdf5e926cef1e7338d18852fb40e1c54
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x83dd3fb750b0fb1d9e9567bdaa77281c43031bdf
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x89972600f3b57c0e263ead5e4c1a6849d813acfe
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x9543e6bab896e8021710228d629f54c1773fb2a2
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0xfe3bdb821a6ff6aa3737be56dfddfac6167d7a38
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x4fd9e3354c686a26ebb4dfc2d44923354862799d
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: ''
                symbol: ''
                totalSupply: -1
                status: processing
                type: KIP-7
                createdAt: 1598253238
                updatedAt: 1598253238
                deletedAt: 0
              - address: 0x75b5f0106f4094d6e3dd38bdc7acf7742596ea42
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: MyStarChain
                symbol: MSC
                totalSupply: 0x33b2e3c9fd0803ce8000000
                status: completed
                type: KIP-7
                createdAt: 1596506420
                updatedAt: 1596506420
                deletedAt: 0
              - address: 0x73923fcc41c10754302bbd0363c35e1bf556c11f
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: 'TESSA[#0003] : Jean-Michel Basquiat [1]'
                symbol: TSA
                totalSupply: 0x1adb0
                status: completed
                type: KIP-7
                createdAt: 1595996913
                updatedAt: 1595996913
                deletedAt: 0
              - address: 0xa338e75cf75e64cc21017b87a142c352fa272e3d
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: 'TESSA[#0002] : David Hockney [2]'
                symbol: TSA
                totalSupply: 0xe678
                status: completed
                type: KIP-7
                createdAt: 1595996827
                updatedAt: 1595996827
                deletedAt: 0
              - address: 0x5b5b404193600bce0580e945d723c30f02321c4e
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: 'TESSA[#0001] : David Hockney [1]'
                symbol: TSA
                totalSupply: 0x15ba8
                status: completed
                type: KIP-7
                createdAt: 1595996757
                updatedAt: 1595996757
                deletedAt: 0
              - address: 0x6cd6e8deda6ed735cab353b6b0dcf1708dcf4b96
                decimals: 0
                link:
                  icon: ''
                  website: ''
                name: 'TESSA[#0004] : Keith Haring [1]'
                symbol: TSA
                totalSupply: 0x1d4c0
                status: completed
                type: KIP-7
                createdAt: 1594737023
                updatedAt: 1594737023
                deletedAt: 0
              - address: 0x5288f80f4145035866ac4cb45a4d8dea889ec827
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Social Innovator Token
                symbol: SIT
                totalSupply: 0x84595161401484a000000
                status: completed
                type: ERC-20
                createdAt: 1593355686
                updatedAt: 1593355686
                deletedAt: 0
              - address: 0x275f942985503d8ce9558f8377cc526a3aba3566
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: ProjectWITH
                symbol: WIKEN
                totalSupply: 0x36afb02a36d33e82de40000
                status: completed
                type: ERC-20
                createdAt: 1593355639
                updatedAt: 1593355639
                deletedAt: 0
              - address: 0x46f307b58bf05ff089ba23799fae0e518557f87c
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Airbloc
                symbol: ABL
                totalSupply: 0x134b7e13729b9d839f00000
                status: completed
                type: ERC-20
                createdAt: 1593355615
                updatedAt: 1593355615
                deletedAt: 0
              - address: 0x3b3b30a76d169f72a0a38ae01b0d6e0fbee3cc2e
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: TEMCO
                symbol: TEMCO
                totalSupply: 0x1363156bbee3016d70000000
                status: completed
                type: ERC-20
                createdAt: 1593355595
                updatedAt: 1593355595
                deletedAt: 0
              - address: 0xbe7377db700664331beb28023cfbd46de079efac
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Att
                symbol: att
                totalSupply: 0x2863c1f5cdae42f9540000000
                status: completed
                type: ERC-20
                createdAt: 1593355554
                updatedAt: 1593355554
                deletedAt: 0
              - address: 0x472fac08cf4836bee54343edfb49023746b27933
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: SPIN Protocol
                symbol: SPIN
                totalSupply: 0x379381ac56689db13000000
                status: completed
                type: ERC-20
                createdAt: 1593355543
                updatedAt: 1593355543
                deletedAt: 0
              - address: 0x5425b810432bc7e7dbc74859ed3c37bb39d9df00
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Pixel
                symbol: PXL
                totalSupply: 0x33b2e3c9fd0803ce8000000
                status: completed
                type: ERC-20
                createdAt: 1593355534
                updatedAt: 1593355534
                deletedAt: 0
              - address: 0x52cfda3e278837d852c4315586c9464be762647e
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: CosmoCoin
                symbol: COSM
                totalSupply: 0x3e68ceb5b8501bbf15ce0f0
                status: completed
                type: ERC-20
                createdAt: 1593355524
                updatedAt: 1593355524
                deletedAt: 0
              - address: 0x8a4727b93d1644fc732bda43112bdd3cac7b686f
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: HINT Token
                symbol: HINT
                totalSupply: 0x33b2e3cadb136f08f640000
                status: completed
                type: ERC-20
                createdAt: 1593355515
                updatedAt: 1593355515
                deletedAt: 0
              - address: 0x9657fb399847d85a9c1a234ece9ca09d5c00f466
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Insureum Token
                symbol: ISR
                totalSupply: 0xefe1e38044253062000000
                status: completed
                type: ERC-20
                createdAt: 1593355505
                updatedAt: 1593355505
                deletedAt: 0
              - address: 0x28052f558a2bbc04bde9bbe2e7dcdd31edb90b56
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: PaletteToken
                symbol: PLT
                totalSupply: 0x52b7d2dcc80cd2e4000000
                status: completed
                type: ERC-20
                createdAt: 1593355458
                updatedAt: 1593355458
                deletedAt: 0
              - address: 0xafde910130c335fa5bd5fe991053e3e0a49dce7b
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Pibble Token
                symbol: PIB
                totalSupply: 0x1d7c196fe73446cc70a17e00
                status: completed
                type: ERC-20
                createdAt: 1593355458
                updatedAt: 1593355458
                deletedAt: 0
              - address: 0x5206e20bca7f9bbae6748a059de9907b01655a61
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Do What You Want
                symbol: DWYW
                totalSupply: 0xf82778a438dd2c53640000
                status: completed
                type: KIP-7
                createdAt: 1593353416
                updatedAt: 1593353416
                deletedAt: 0
              - address: 0xd95a6f458f5f4f6910f32723fdba9cd16971988e
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Blue Point Token
                symbol: BLUEPT
                totalSupply: 0x204fce5e3e25026110000000
                status: completed
                type: KIP-7
                createdAt: 1593353416
                updatedAt: 1593353416
                deletedAt: 0
              - address: 0x91c978f64038dbd1e691dc3a0541ab764a9fc280
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: Blue Point Token
                symbol: BLUEPT
                totalSupply: 0x204fce5e3e25026110000000
                status: completed
                type: KIP-7
                createdAt: 1593353416
                updatedAt: 1593353416
                deletedAt: 0
              - address: 0xef82b1c6a550e730d8283e1edd4977cd01faf435
                decimals: 18
                link:
                  icon: ''
                  website: ''
                name: SIX
                symbol: SIX
                totalSupply: 0xa56fa5b99019a5c8000000
                status: completed
                type: KIP-7
                createdAt: 1593353416
                updatedAt: 1593353416
                deletedAt: 0
              - address: 0xb1a7abe0c5a9e06cc7585a435e74976d2dee07f3
                decimals: 2
                link:
                  icon: ''
                  website: ''
                name: BlockchainPetToken
                symbol: BPT
                totalSupply: 0x312587d38
                status: completed
                type: KIP-7
                createdAt: 1593353416
                updatedAt: 1593353416
                deletedAt: 0
              cursor: ''
          headers: {}
  /v2/contract/ft/{ft-address}:
    get:
      description: >
        라벨링된 FT 컨트랙트 1개의 정보를 불러옵니다.
      summary: getFtContractDetail
      tags:
      - Token Contract
      operationId: getFtContractDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: ft-address
        in: path
        required: true
        type: string
        description: FT 컨트랙트 주소
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FtContractDetail'
          examples:
            application/json:
              address: 0x275f942985503d8ce9558f8377cc526a3aba3566
              decimals: 18
              link:
                icon: ''
                website: ''
              name: ProjectWITH
              symbol: WIKEN
              totalSupply: 0x3e09de221ddbf1412700000
              status: completed
              type: erc
              createdAt: 1593355639
              updatedAt: 1593355639
              deletedAt: 0
          headers: {}
  /v2/contract/nft:
    get:
      description: >
        라벨링된 모든 NFT 컨트랙트들의 정보를 불러옵니다.
      summary: getListOfNftContracts
      tags:
      - Token Contract
      operationId: getListOfNftContracts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: status
        in: query
        required: false
        type: string
        description: 라벨링 상태 [completed, processing, failed, cancelled]
      - name: type
        in: query
        required: false
        type: string
        description: 컨트랙트 타입 [KIP-17, ERC-721], 지정하지 않을 경우 모든 타입 반환
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 응답 오프셋 (pagination)
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableNftContractDetails'
          examples:
            application/json:
              items:
              - address: 0x251f622e8b5e713f357e9c4d990e91da2f448134
                name: MineralNFT
                symbol: FSI
                totalSupply: 0x9
                status: completed
                type: kip
                createdAt: 1597284956
                updatedAt: 1597284956
                deletedAt: 0
              - address: 0x53571b1eb0c1bed4e06be67e78a1977cc0bd9b74
                name: Sword & Magic Item
                symbol: SMI
                totalSupply: 0x115d
                status: completed
                type: erc
                createdAt: 1595680399
                updatedAt: 1595681227
                deletedAt: 0
              - address: 0x201a8198a1994b646694395c6ac82e4e47438297
                name: Klip Launch Event Card
                symbol: KLEC
                totalSupply: 0x-1
                status: completed
                type: erc
                createdAt: 1595680352
                updatedAt: 1595680353
                deletedAt: 0
              - address: 0x56f14d510a395e028316e22f7356a473caa7f07f
                name: Good Neighbors
                symbol: GNB
                totalSupply: 0x7c
                status: completed
                type: erc
                createdAt: 1595554189
                updatedAt: 1595554190
                deletedAt: 0
              - address: 0x369611bc873b38175b91d6cc8c4018bdd3068b86
                name: Konnect NFT Certification
                symbol: KNC
                totalSupply: 0x6a
                status: completed
                type: erc
                createdAt: 1595554180
                updatedAt: 1595554180
                deletedAt: 0
              - address: 0x3a1028e054be6a738c85a5793f656f56990c6862
                name: Klip NFT Test
                symbol: KNT
                totalSupply: 0x150
                status: completed
                type: erc
                createdAt: 1595554172
                updatedAt: 1595554172
                deletedAt: 0
              - address: 0x16bac10d4681d7f7a9331a70722c3b777fb14d89
                name: TEMCONFT
                symbol: TEMCONFT
                totalSupply: 0x1
                status: completed
                type: erc
                createdAt: 1595554152
                updatedAt: 1595554152
                deletedAt: 0
              - address: 0x0eaddf500c9a07746e068aea73fac7f85749c5e3
                name: CryptoDragons
                symbol: CD
                totalSupply: 0x-1
                status: completed
                type: erc
                createdAt: 1595553820
                updatedAt: 1595576332
                deletedAt: 0
              - address: 0xb26e09db6656b998d2913f13870e06c151c37900
                name: Klip
                symbol: KLIP
                totalSupply: 0x2cd2b
                status: completed
                type: erc
                createdAt: 1595547241
                updatedAt: 1595643458
                deletedAt: 0
              - address: 0xd346d304ea1837053452357c2066a4701de9a04b
                name: Spells of Genesis FirstOasis Card
                symbol: SOG
                totalSupply: 0x1b2
                status: completed
                type: kip
                createdAt: 1595056633
                updatedAt: 1595056633
                deletedAt: 0
              - address: 0x8f52f1e6e31aca3bf8dd102373919d805c6a641b
                name: Blue Asset Token
                symbol: BLUEAT
                totalSupply: 0x52c
                status: completed
                type: kip
                createdAt: 1594002325
                updatedAt: 1594002325
                deletedAt: 0
              - address: 0x104db7947a46fb411e47f51c7bf6c3dcef078ad7
                name: Blue Asset Token
                symbol: BLUEAT
                totalSupply: 0x2
                status: completed
                type: kip
                createdAt: 1593997986
                updatedAt: 1593997986
                deletedAt: 0
              - address: 0x5574756180f9148a3a2eadcd22fab381934f0283
                name: CryptoDragons
                symbol: CD
                totalSupply: 0x-1
                status: completed
                type: erc
                createdAt: 1593355863
                updatedAt: 1593355863
                deletedAt: 0
              - address: 0x5866774609fef73f5e4e60862a2984ac4edd4871
                name: Blue NFT for Stock Of Things
                symbol: BLUENFT
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0xb712eb1af83fc8a1ec4b477b479f52672a417988
                name: Blue Asset Token
                symbol: BLUEAT
                totalSupply: 0x132
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x3f825b1e88a000c2dff98d37e593b49b358146f4
                name: ''
                symbol: ''
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0x295edb5c9f9a9479a42338e4cb17475860e21874
                name: MineralNFT
                symbol: FSI
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353198
                updatedAt: 1593353198
                deletedAt: 0
              - address: 0xe01d8ed3247e079186080f0b10f1c82e22479530
                name: GX_CARD
                symbol: GXC
                totalSupply: 0x-1
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0xe3656452c8238334efdfc811d6f98e5962fe4461
                name: CryptoCarto PinToken
                symbol: CARTO
                totalSupply: 0x1670
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0x9f88e9bf4aafaee0fc07ba0aa04725a140fdb3ec
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0xb98
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0xa18cf37159c9b00a47eaa6d5ad805b3ea9944516
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x14bdf
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x4413284e57cfde6cd289ee9fbf4e2763297ef27f
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0xf2
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0xd6cadb4650d507e8a272a0c2c7dd690492360ea5
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x1b1
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0x25a1df5f79d0a3f39f44b168ddefb46aedc967c7
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x71c
                status: completed
                type: kip
                createdAt: 1593353198
                updatedAt: 1593353198
                deletedAt: 0
              - address: 0x7144c807c601e21d332227dff24a67d4c70dcfb5
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0xf
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0x60a1555b8759f667a8637e34245ef8bf1231714f
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0xe
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0x99d1d729cdc11bef91d21669b3cd1cbbfa00a2a9
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x4
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0xf2281cbf1684b0ceae3d92a354970657e202ae0e
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x4
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0x9387ff96ada7be4c824a81cb7ba764adc2533c9e
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0x6bd5606ab3f08086b27e7533dc158754a59805f2
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0xf4c0bdf6320c2a3dc3c63d5a193865c8568f7dbb
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0xb
                status: completed
                type: kip
                createdAt: 1593353205
                updatedAt: 1593353205
                deletedAt: 0
              - address: 0xd6b51b646e3316cdb440465456ce42a8fa1a8fb6
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0x8ac1dd8cf7ba96305f06a4f04a5ef6827ce382d4
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0x300ce07f0fc3bad3832cb0b37b58fde1766e54ca
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0x67c2ca86855b6f6e70d366e60b8cfea9f66f5b5b
                name: BlockNation.XYZ land token
                symbol: XLAND
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0x8eae3c346d6129be5b6a31e71441f727389219dc
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x173
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0xf3b225609ee92337144ecb7fc8a701f7e5cb7db4
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0x3cbbd6e508bdb8afeeabfbe52ce7b14cb5eb69ae
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x3f
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0xcb37c6f0e95e6bc8ec12e7ec7e3991b8ef32597a
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x5
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x6cd2cc8d42981e03c498e1c2f3ad08787b7745b4
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0xa
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0xb4fe5ff38ed8722c7a8543846605b259280c63d6
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x29
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x5fa21d68e32e2f1a2b65128434b219138cb6e4ff
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0xcad5ffdd0dd2c6b683106f0d73718a966ecd4f87
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x838b22e306d50bad8fd07ffd4a859510902c7dc1
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0x90f43ec1462281604f8e48a32e0d443b733e1d03
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0x14343f60924d2b0215f2542b38700d1ef3a5ed00
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x1
                status: completed
                type: kip
                createdAt: 1593353197
                updatedAt: 1593353197
                deletedAt: 0
              - address: 0x844b4d5d3baadf6abb17aaae07e05ec912096a9e
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x68d
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0xbdbc9c6614361abf5b36c02711cdf62932d3f7d5
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x37c
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x3b8b3b7255caa79b4b2e8a39bd77f5e6e6e49303
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x65
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0x6672590576e0358baa275c8ab53822a847f4b4ab
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0x7a7b4b25f8381f6d4fc3793a198dfc1037a533d1
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x64
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0x2e6a1e354e8d17697ea759663fb42fa0c978fcb5
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353198
                updatedAt: 1593353198
                deletedAt: 0
              - address: 0x48c71ae4d464d8d8939b7a488450441c2b2e6916
                name: Cryptornado ERC721 Token
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0x376261aeb5bdc9b80b95777413c55ba682149db5
                name: Cryptornado ERC721 Token(Away)
                symbol: CryptornadoItem
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0x49cb48af44f57521bef643ee3cd26b75bbbb2281
                name: EMOJI
                symbol: EMOJI
                totalSupply: 0x32
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0xf86c03a92a076137c5cb258994f26e2a582acf6b
                name: MineralNFT
                symbol: FSI
                totalSupply: 0x690
                status: completed
                type: kip
                createdAt: 1593353205
                updatedAt: 1593353205
                deletedAt: 0
              - address: 0x1f49e1d2a4691e4514ae91bc3040767cf344ad82
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x49
                status: completed
                type: kip
                createdAt: 1593353198
                updatedAt: 1593353198
                deletedAt: 0
              - address: 0xe8eab56781a443482b3dd784cd16712ba463977d
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0xb5c8a15427db3165213c1241d2f897c7d6dc3c41
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x7cfea4375a419a22c7c782523c881b214603b413
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353201
                updatedAt: 1593353201
                deletedAt: 0
              - address: 0xe6a61d581af1477c31812465f3a4518087ae9175
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353204
                updatedAt: 1593353204
                deletedAt: 0
              - address: 0xa46f7bce83cfd83e7dc4935758b64d7e3e03eddf
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353203
                updatedAt: 1593353203
                deletedAt: 0
              - address: 0x452ff9216d07b1d0b2c893d0c74cced6205e7522
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353200
                updatedAt: 1593353200
                deletedAt: 0
              - address: 0x98381488777c7d3276200bed2079fba0e1829337
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0x429907c0365089343079a8777e723b92a42718ac
                name: Klaytn Champ
                symbol: CHAMP
                totalSupply: 0x0
                status: completed
                type: kip
                createdAt: 1593353199
                updatedAt: 1593353199
                deletedAt: 0
              - address: 0x883e22bf8aebf5975c9fcb94250e13a14ae8ee3a
                name: MineralNFT
                symbol: FSI
                totalSupply: 0x35
                status: completed
                type: kip
                createdAt: 1593353202
                updatedAt: 1593353202
                deletedAt: 0
              - address: 0x1b11b70ee1032a5ce849ca261c95e392041f9445
                name: FiveStarsItem
                symbol: FSI
                totalSupply: 0x8
                status: completed
                type: kip
                createdAt: 1593353198
                updatedAt: 1593353198
                deletedAt: 0
              cursor: ''
          headers: {}
  /v2/contract/nft/{nft-address}:
    get:
      description: >
        라벨링된 NFT 컨트랙트 1개의 정보를 불러옵니다.
      summary: getNftContractDetail
      tags:
      - Token Contract
      operationId: getNftContractDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: nft-address
        in: path
        required: true
        type: string
        description: NFT 컨트랙트 주소
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/NftContractDetail'
          examples:
            application/json:
              address: 0x251f622e8b5e713f357e9c4d990e91da2f448134
              name: MineralNFT
              symbol: FSI
              totalSupply: 0x9
              status: completed
              type: kip
              createdAt: 1597284956
              updatedAt: 1597284956
              deletedAt: 0
          headers: {}
  /v2/contract/nft/{nft-address}/token:
    get:
      description: >
        NFT 컨트랙트를 지정하면, 이 NFT 컨트랙트에서 발행된 모든 NFT의 정보를 불러옵니다.
      summary: getNftsByContractAddress
      tags:
      - Token
      operationId: getNftsByContractAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 체인 네트워크 ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 특정 위치를 지정하기 위한 오프셋
      - name: nft-address
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableNfts'
          examples:
            application/json:
              items:
              - tokenId: 0x9
                owner: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://ec2-13-125-244-0.ap-northeast-2.compute.amazonaws.com:8080/meta/item9
                transactionHash: 0x2f6e8113862c1dbdc76a2fb29cda2dbefeca5878897af0bb3df6822323e89440
                createdAt: 1597718863
                updatedAt: 1597718863
              - tokenId: 0x8
                owner: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://ec2-13-125-244-0.ap-northeast-2.compute.amazonaws.com:8080/meta/item8
                transactionHash: 0x1e3722b8beccfd21712c1e782b711ad8f44d3fb1f27586475c4c1cd533b0beb6
                createdAt: 1597718855
                updatedAt: 1597718855
              - tokenId: 0x7
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item7
                transactionHash: 0x9b9d553d8b3141eabdc6ececd44958475366b1bc289088248b2b3dadcecf8ab4
                createdAt: 1597308968
                updatedAt: 1597308968
              - tokenId: 0x6
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item6
                transactionHash: 0x441c617bfc1e0baee363bc495617579a4e3eb2a6ddd6249ad3ece5363e3faee2
                createdAt: 1597308146
                updatedAt: 1597308146
              - tokenId: 0x5
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item5
                transactionHash: 0x74e18033869cdeb35f966efc000912e059c6369a52dec748ccb60abebdcd95c6
                createdAt: 1597307178
                updatedAt: 1597307178
              - tokenId: 0x4
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item4
                transactionHash: 0x790e0d328665213fa80c3fb7579e771f978bd23efed46feaaced46a59e1e3e68
                createdAt: 1597307015
                updatedAt: 1597307015
              - tokenId: 0x3
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item3
                transactionHash: 0xe2746677d1f11b360833a7e9d045fa6c51bf891958a4bdb4f8dda758c9cfcfe2
                createdAt: 1597306783
                updatedAt: 1597306783
              - tokenId: 0x2
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item2
                transactionHash: 0xc7d07066e4e42a7d896c34420ed43568ba44ae15a8ef771b13ba1f6f2d2820c4
                createdAt: 1597304701
                updatedAt: 1597304701
              - tokenId: 0x1
                owner: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://ec2-13-125-244-0.ap-northeast-2.compute.amazonaws.com:8080/meta/item1
                transactionHash: 0x0020ff2d5d0216f0795c6764a3b6fc90497d8eb6b4fee2d23315e86a42d94443
                createdAt: 1597226350
                updatedAt: 1597226350
              cursor: ''
          headers: {}
  /v2/contract/nft/{nft-address}/owner/{owner-address}:
    get:
      description: >
        NFT 컨트랙트와 EOA를 지정하면, 이 NFT 컨트랙트에서 발행된 NFT 중 EOA가 가지고 있는 NFT의 정보를 불러옵니다.
      summary: getNftsByOwnerAddress
      tags:
      - Token
      operationId: getNftsByOwnerAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 특정 위치를 지정하기 위한 오프셋
      - name: nft-address
        in: path
        required: true
        type: string
        description: 조회할 컨트랙트 주소
      - name: owner-address
        in: path
        required: true
        type: string
        description: 조회할 EOA 주소
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableNfts'
          examples:
            application/json:
              items:
              - tokenId: 0x7
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item7
                transactionHash: 0x9b9d553d8b3141eabdc6ececd44958475366b1bc289088248b2b3dadcecf8ab4
                createdAt: 1597308968
                updatedAt: 1597308968
              - tokenId: 0x6
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item6
                transactionHash: 0x441c617bfc1e0baee363bc495617579a4e3eb2a6ddd6249ad3ece5363e3faee2
                createdAt: 1597308146
                updatedAt: 1597308146
              - tokenId: 0x5
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item5
                transactionHash: 0x74e18033869cdeb35f966efc000912e059c6369a52dec748ccb60abebdcd95c6
                createdAt: 1597307178
                updatedAt: 1597307178
              - tokenId: 0x4
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item4
                transactionHash: 0x790e0d328665213fa80c3fb7579e771f978bd23efed46feaaced46a59e1e3e68
                createdAt: 1597307015
                updatedAt: 1597307015
              - tokenId: 0x3
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item3
                transactionHash: 0xe2746677d1f11b360833a7e9d045fa6c51bf891958a4bdb4f8dda758c9cfcfe2
                createdAt: 1597306783
                updatedAt: 1597306783
              - tokenId: 0x2
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item2
                transactionHash: 0xc7d07066e4e42a7d896c34420ed43568ba44ae15a8ef771b13ba1f6f2d2820c4
                createdAt: 1597304701
                updatedAt: 1597304701
              cursor: ''
          headers: {}
  /v2/contract/nft/{nft-address}/token/{token-id}:
    get:
      description: >
        특정 NFT의 정보를 불러옵니다.
      summary: getNftById
      tags:
      - Token
      operationId: getNftById
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: nft-address
        in: path
        required: true
        type: string
        description: 조회할 NFT 컨트랙트 주소
      - name: token-id
        in: path
        required: true
        type: string
        description: 조회할 NFT ID (16진수)
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Nft'
          examples:
            application/json:
              tokenId: 0x2
              owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
              previousOwner: 0x0000000000000000000000000000000000000000
              tokenUri: http://172.16.15.49:8080/meta/item2
              transactionHash: 0xc7d07066e4e42a7d896c34420ed43568ba44ae15a8ef771b13ba1f6f2d2820c4
              createdAt: 1597304701
              updatedAt: 1597304701
          headers: {}
  /v2/contract/nft/{nft-address}/token/{token-id}/history:
    get:
      description: >
        특정 NFT의 소유권 변경 기록을 조회합니다.
      summary: getListOfNftOwnershipChanges
      tags:
      - Token Ownership
      operationId: getListOfNftOwnershipChanges
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn 네트워크 체인 ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: 응답 아이템 개수(min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: 특정 위치를 지정하기 위한 오프셋
      - name: nft-address
        in: path
        required: true
        type: string
        description: 조회할 NFT 컨트랙트 주소
      - name: token-id
        in: path
        required: true
        type: string
        description: 조회할 NFT ID (16진수)
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PageableNftOwnershipChanges'
          examples:
            application/json:
              items:
              - from: 0x0000000000000000000000000000000000000000
                to: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                timestamp: 1597226350
              cursor: ''
          headers: {}
definitions:
  FtContract:
    title: FtContract
    type: object
    properties:
      address:
        description: 컨트랙트 주소 (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      decimals:
        description: 토큰 자릿수
        example: 8
        type: integer
        format: int64
      name:
        description: 토큰 이름
        example: Test Coin
        type: string
      symbol:
        description: 토큰 심볼
        example: TSTC
        type: string
      status:
        description: 컨트랙트 라벨링 상태 (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - decimals
    - name
    - symbol
    - status
  FtContractDetail:
    title: FtContractDetail
    type: object
    properties:
      address:
        description: 컨트랙트 주소 (20-byte)
        example: 0xaD15bCa7D0f1e077f43eC18ACBA7eE2a347ADE87
        type: string
      decimals:
        description: 토큰 자릿수
        example: 8
        type: integer
        format: int32
      name:
        description: 토큰 이름
        example: Test Token
        type: string
      symbol:
        description: 토큰 심볼
        example: TSC
        type: string
      status:
        description: 컨트랙트 라벨링 상태 (completed, processing, failed, cancelled)
        example: completed
        type: string
      totalSupply:
        description: 총 발행량 (16진수로 표기)
        example: 0x174876e800
        type: string
      createdAt:
        description: 라벨링된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: 라벨링 정보가 마지막으로 변경된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      deletedAt:
        description: 라벨링이 삭제된 시점 (timestamp); 삭제되지 않았을 경우 0
        example: 1592180992
        type: integer
        format: int64
      link:
        $ref: '#/definitions/FtLink'
      type:
        description: 컨트랙트 유형 (KIP-7, KIP-17, ERC-20, ERC-721)
        type: string
    required:
    - address
    - decimals
    - name
    - symbol
    - status
    - totalSupply
    - createdAt
    - updatedAt
    - deletedAt
    - link
    - type
  FtLink:
    title: FtLink
    type: object
    properties:
      website:
        description: 컨트랙트 대표 웹사이트 URL
        example: https://link.to/ft
        type: string
      icon:
        description: 토큰 아이콘 URL
        example: https://link.to/ft/icon.png
        type: string
    required:
    - website
    - icon
  Nft:
    title: Nft
    type: object
    properties:
      owner:
        description: 소유자 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      previousOwner:
        description: 직전 소유자 EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      tokenId:
        description: 토큰 ID (16진수)
        example: 0x1
        type: string
      tokenUri:
        description: 토큰 고유의 URL
        example: https://link.to/nft/1
        type: string
      transactionHash:
        description: 마지막 트랜잭션 해시 (32-byte)
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      createdAt:
        description: 토큰이 생성된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: 토큰 정보가 마지막으로 변경된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - owner
    - previousOwner
    - tokenId
    - tokenUri
    - transactionHash
    - createdAt
    - updatedAt
  PageableNfts:
    title: PageableNfts
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Nft'
      cursor:
        description: 다음 페이지 커서
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  NftContract:
    title: NftContract
    type: object
    properties:
      address:
        description: 컨트랙트 주소 (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      name:
        description: 토큰 이름
        example: Test contract
        type: string
      symbol:
        description: 토큰 심볼
        example: TSTC
        type: string
      status:
        description: 컨트랙트 라벨링 상태 (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - name
    - symbol
  NftContractDetail:
    title: NftContractDetail
    type: object
    properties:
      address:
        description: 컨트랙트 주소 (20-byte)
        example: 0xc7565d24af561fe783aa73747ca0eda1f09f1118
        type: string
      name:
        description: 토큰 이름
        example: Test Token
        type: string
      symbol:
        description: 토큰 심볼
        example: TSTC
        type: string
      totalSupply:
        description: 총 발행량 (16진수로 표기)
        example: 0x174876e800
        type: string
      createdAt:
        description: 라벨링된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: 라벨링 정보가 마지막으로 변경된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      deletedAt:
        description: 라벨링이 삭제된 시점 (timestamp); 삭제되지 않았을 경우 0
        example: 1592180992
        type: integer
        format: int64
      type:
        description: 컨트랙트 유형 (KIP-7, KIP-17, ERC-20, ERC-721)
        example: KIP-7
        type: string
      status:
        description: 컨트랙트 라벨링 상태 (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - name
    - symbol
    - totalSupply
    - createdAt
    - updatedAt
    - deletedAt
    - type
    - status
  NftOwnershipChange:
    title: NftOwnershipChange
    type: object
    properties:
      from:
        description: 보낸 사람 (직전 소유자) EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: 받은 사람 (이 시점의 소유자) EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      timestamp:
        description: NFT 소유권이 변경된 시점 (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - from
    - to
    - timestamp
  PageableNftOwnershipChanges:
    title: PageableNftOwnershipChanges
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/NftOwnershipChange'
      cursor:
        description: 다음 페이지 커서
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  NftTransfer:
    title: NftTransfer
    type: object
    properties:
      contract:
        $ref: '#/definitions/NftContract'
      from:
        description: 보낸 사람 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: 받은 사람 EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      transferType:
        description: 거래내역 유형
        example: nft
        type: string
      tokenId:
        description: 토큰 식별자 (16진수)
        example: 0x1
        type: string
    required:
    - contract
    - from
    - to
    - transaction
    - transferType
    - tokenId
  Transaction:
    title: Transaction
    type: object
    properties:
      feePayer:
        description: 수수료 대납 계정 주소 (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: 수수료 대납 비율
        example: 100
        type: integer
        format: int32
      fee:
        description: 가스비
        example: 0xa455
        type: string
      from:
        description: 트랜잭션을 전송한 사람의 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      timestamp:
        description: 트랜잭션 발생 시간 (timestamp)
        example: 1592180992
        type: integer
        format: int64
      transactionHash:
        description: 트랜잭션 해시 (32-byte)
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      typeInt:
        description: 트랜잭션 유형
        example: 10
        type: integer
        format: int32
      value:
        description: KLAY 전송량 (16진수)
        example: 0xa
        type: string
    required:
    - feePayer
    - feeRatio
    - fee
    - from
    - timestamp
    - transactionHash
    - typeInt
    - value
  FtTransfer:
    title: FtTransfer
    type: object
    properties:
      contract:
        $ref: '#/definitions/FtContract'
      formattedValue:
        description: decimal을 적용한 변환값
        example: 0.000000000000000002
        type: string
      from:
        description: 보낸 사람 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: 받은 사람 EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      transferType:
        description: 거래내역 유형
        example: ft
        type: string
      value:
        description: 전송한 토큰 개수 (16진수)
        example: 0xa
        type: string
    required:
    - contract
    - formattedValue
    - from
    - to
    - transaction
    - transferType
    - value
  KlayTransfer:
    title: KlayTransfer
    type: object
    properties:
      feePayer:
        description: 수수료 대납 계정 주소 (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: 수수료 대납 비율
        example: 100
        type: integer
        format: int32
      fee:
        description: 가스비
        example: 0xa455
        type: string
      from:
        description: 보낸 사람 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: 받은 사람 EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transactionHash:
        description: 트랜잭션 해시
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      transactionIndex:
        description: 트랜잭션 인덱스
        example: 1
        type: integer
        format: int32
      transferType:
        description: 거래내역 유형
        example: klay
        type: string
      typeInt:
        description: 트랜잭션 유형
        example: 50
        type: integer
        format: int32
      value:
        description: KLAY 전송량 (16진수)
        example: 0xa
        type: string
    required:
    - feePayer
    - feeRatio
    - fee
    - from
    - to
    - transactionHash
    - transactionIndex
    - transferType
    - typeInt
    - value
  PageableNftContractDetails:
    title: PageableNftContractDetails
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/NftContractDetail'
      cursor:
        description: 다음 페이지 커서
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableFtContractDetails:
    title: PageableFtContractDetails
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FtContractDetail'
      cursor:
        description: 다음 페이지 커서
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableTransfers:
    title: PageableTransfers
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TransferItem'
      cursor:
        description: 다음 페이지 커서
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  Transfers:
    title: Transfers
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TransferItem'
    required:
    - items
  InvalidQueryParameterValue:
    title: InvalidQueryParameterValue
    example:
      code: 1040010
      message: '[InvalidQueryParameterValue]required presets'
    type: object
    properties:
      code:
        example: 1040010
        type: integer
        format: int64
      message:
        example: '[InvalidQueryParameterValue]required presets'
        type: string
  TransferItem:
    title: TransferItem
    type: object
    properties:
      feePayer:
        description: 수수료 대납 계정 주소 (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: 수수료 대납 비율
        example: 100
        type: integer
        format: int32
      fee:
        description: 가스비
        example: 0xa455
        type: string
      from:
        description: 보낸 사람 EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: 받은 사람 EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transactionHash:
        description: 트랜잭션 해시
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      transactionIndex:
        description: 트랜잭션 인덱스
        example: 1
        type: integer
        format: int32
      transferType:
        description: 거래내역 유형
        example: klay
        type: string
      typeInt:
        description: 트랜잭션 유형
        example: 50
        type: integer
        format: int32
      value:
        description: KLAY 전송량 (16진수)
        example: 0xa
        type: string
      contract:
        $ref: '#/definitions/FtContract'
      formattedValue:
        description: decimal을 적용한 변환값
        example: 0.000000000000000002
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      tokenId:
        description: 토큰 식별자 (16진수)
        example: 0x1
        type: string
security:
- auth: []
tags:
- name: Token History
  description: ''
- name: Token Contract
  description: ''
- name: Token
  description: ''
- name: Token Ownership
  description: ''
