swagger: '2.0'
info:
  version: '1.0'
  title: Token History API
  description: >+
    # Introduction


    Token History API allows you to query the transaction history of KLAY, FTs (KIP-7 and Labelled ERC-20), NFTs (KIP-17 and Labelled ERC-721), and MTs (KIP-37 and Labelled ERC-1155). You can track KLAY's transaction history or retrieve NFT-related data of a certain EOA.



    For more details on using Token History API, please refer to the [Tutorial](https://docs.klaytnapi.com/tutorial).



    For any inquiries on this document or KAS in general, please visit [Developer Forum](https://forum.klaytn.com/).

  contact: {}
host: th-api.klaytnapi.com
basePath: /
securityDefinitions:
  auth:
    type: basic
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v2/transfer:
    get:
      description: >-
        Query all transaction history. Transaction history is divided into KLAY Transfer (`KlayTransfer`), FT Transfer (`FtTransfer`), NFT Transfer (`NftTransfer`), and MT Transfer (`MtTransfer`). <p></p>


        ## KlayTransfer in FT/NFT/MT transactions <p></p>


        For transfers of FTs, NFTs, or MTs, `KlayTransfer` history will also be included in the query result. This is because FT/NFT/MT transfers are essentially execution of a corresponding contract function, and the response for the transfer includes `KlayTransfer`, which is equivalent to the transaction for sending KLAY. Since most transactions that execute contract functions do not usually send KLAY, the `value` of `KlayTransfer` that transfered NT, NFT, and MT may be zero. By using the `exclude-zero-klay=true` query, `KlayTransfer` can be excluded.

        <p></p>


        ## Transaction type<p></p>


        * You can choose KLAY, FT, NFT or MT by setting `kind` parameter to get transaction history of a certain type or a combination of types.<br>

        * If you don't set the `kind` parameter, all transaction types will be returned.<p></p><br>


        ## Date range<p></p>


        * `range` is queried in the form of `range={from},{to}`<br>

        * `{from}` and `{to}` will be considered Unix time in the case of a decimal number, and block number in the case of a hexadecimal number<br>

        * When there is no value for `{to}`, current time or the latest block number will be used.<br>

        * You can retrieve the transaction history from the past 6 months maximum. (for both Unix time and block number)<p></p><br>


        ## Preset<p></p>


        Preset is a collection of EOA and FT, NFT and MT contracts. You can use it to repetitively retrieve transaction history for certain accounts quickly and easily.<p></p>


        * The parameter `presets` is a required parameter.<br>

        * [Preset](https://console.klaytnapi.com/en/service/th/preset/list) needs to be created on KAS Console in advance.<br>

        * You can check your Preset ID on KAS Console. For more information please visit [Preset](https://docs.klaytnapi.com/v/en/tutorial/th-api/th-api-token-history#preset).<p></p><br>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default value (`size=100`) when `size=0`<br>

        * Uses the maximum value (`size=1000`) when given a value higher than the maximum value.<br>
      summary: getTransfers
      tags:
      - Token History
      operationId: getTransfers
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) Types to include ["ft", "nft", "mt"], query all types when not specified
      - name: range
        in: query
        required: false
        type: string
        description: Set range (block number or unix time)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of maximum response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Response offset
      - name: exclude-zero-klay
        in: query
        required: false
        type: string
        description: Exclude transfers of 0 KLAY if true (default=false)
      - name: presets
        in: query
        required: true
        type: string
        description: (csv) Preset IDs to be used for query, Preset ID can be found on KAS Console
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableTransfers'
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          headers: {}
  /v2/transfer/tx/{transaction-hash}:
    get:
      description: >
        Get transaction history by transaction hash. Transaction history is divided into KLAY transfer (`KlayTransfer`), FT transfer (`FtTransfer`), NFT transfer (`NftTransfer`), MT transfer (`MtTransfer`). For FT, NFT, MT transfers, history of `KlayTransfer` will be included in the result. `KlayTransfer` included in FT, NFT, MT transfers may have a `value` of 0. For more details, please refer to `GET /v2/transfer`.
      summary: getTransfersByTxHash
      tags:
      - Token History
      operationId: getTransfersByTxHash
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: transaction-hash
        in: path
        required: true
        type: string
        description: Transaction hash to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Transfers'
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid tx hash'
              requestId: f40a1377-5b58-9157-9514-eda8d3158c2b
          headers: {}
  /v2/transfer/account/{address}:
    get:
      description: "Query token transaction history for a certain EOA. Functionally, it is same as `GET /v2/transfer`. If the EOA received the token, `to` is same as the EOA, and if the EOA sent the token, `from` is the same as the EOA in the returned transfer object.\n   \nTransaction history is divided into KLAY transfer (`KlayTransfer`), FT transfer (`FtTransfer`), NFT transfer (`NftTransfer`), MT transfer (`MtTransfer`). For FT, NFT, MT transfers, history of `KlayTransfer` will be included in the result. `KlayTransfer` included in FT, NFT, MT transfers may have a `value` of 0. For more details, please refer to `GET /v2/transfer`.<p></p>\n\n## Transaction type<p></p>\n\n* You can set the `kind` parameter to query different types of transactions.<br>\n* Not setting the `kind` parameter will query all types of transactions.<p></p><br>\n\n## Date range<p></p>\n\n* `range` is queried in the form of `range={from},{to}`<br>\n* `{from}` and `{to}` will be considered Unix time in the case of a decimal number, and block number in the case of a hexadecimal number<br>\n* When there is no value for `{to}`, current time or the latest block number will be used.<br>\n* You can retrieve the transaction history from the past 6 months maximum. (for both unix time and block number)<p></p><br>\n\n## Size<p></p>\n\n* The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>\n* Returns an error when given a negative number.<br>\n* Uses default value (`size=100`) when given a 0.<br>\n* Uses the maximum value (`size=1000`) when given a value higher than 1000.<br>"
      summary: getTransfersByEoa
      tags:
      - Token History
      operationId: getTransfersByEoa
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) Types to include ["ft", "nft", "mt"], query all types when not specified
      - name: ca-filter
        in: query
        required: false
        type: string
        description: Contract addresses for FT, NFT or MT to retrieve, when selected, only the results whose `transferType` is "ft", "nft" or "mt" and the contract address matches the values in `ca-filter`. will be returned.
      - name: range
        in: query
        required: false
        type: string
        description: (csv) Set query range (Block number or Unix time)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of maximum response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: exclude-zero-klay
        in: query
        required: false
        type: string
        description: Exclude transfers of 0 KLAY if true. (default=false)
      - name: from-only
        in: query
        required: false
        type: string
        description: If true, return transactions when sender corresponds to the given address. (default=false)
      - name: to-only
        in: query
        required: false
        type: string
        description: If true, return transactions when recipient corresponds to the given address.. (default=false)
      - name: address
        in: path
        required: true
        type: string
        description: EOA to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableTransfers'
          headers: {}
  /v2/contract/ft:
    get:
      description: >-
        Fetch data of all labelled FT contracts.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListofFtContracts
      tags:
      - Token Contract
      operationId: getListofFtContracts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: status
        in: query
        required: false
        type: string
        description: Labelling status [completed, processing, failed, cancelled]
      - name: type
        in: query
        required: false
        type: string
        description: Contract type [KIP-7, ERC-20], returns all types if not specified
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of maximum response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableFtContractDetails'
          examples:
            application/json:
              items:
              - address: 0xf2a8ab5b6c14f33a3b470ac7505712c8665e81d3
                decimals: 18
                name: KASFT
                symbol: KFT
                totalSupply: 0xde0b6b3a7640000
                status: completed
                type: KIP-7
                createdAt: 1607993824
                updatedAt: 1607993825
                deletedAt: 0
              - address: 0x7d7c73a49321738101030e23a5bf30fc68287e26
                decimals: 18
                name: SummerToken
                symbol: JUN
                totalSupply: 0x52b7d2dcc80cd2e4000000
                status: completed
                type: ERC-20
                createdAt: 1606127642
                updatedAt: 1606385006
                deletedAt: 0
              cursor: JePBOQ20pEXl389k1K6W1AEzp2VBJ80b5MgowlXZYlkao45O0WMgr73BpPD6d9Rb97yKwbqezELvmN8Gx1Q2JVAXZGQqmxd9a7e4krKN3YLDPOvNY7Zvbom5MrDA4VW6
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040010
              message: '[InvalidQueryParameterValue]invalid query value'
              requestId: b4ff73f0-c32c-971a-8b01-933acd1c0a1f
          headers: {}
  /v2/contract/ft/{ft-address}:
    get:
      description: >
        Fetch the FT contract information of a given address
      summary: getFtContractDetail
      tags:
      - Token Contract
      operationId: getFtContractDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: ft-address
        in: path
        required: true
        type: string
        description: FT Contract address
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FtContractDetail'
          examples:
            application/json:
              address: 0x7d7c73a49321738101030e23a5bf30fc68287e26
              decimals: 18
              name: SummerToken
              symbol: JUN
              totalSupply: 0x52b7d2dcc80cd2e4000000
              status: completed
              type: ERC-20
              createdAt: 1606127642
              updatedAt: 1606385006
              deletedAt: 0
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid ft address'
              requestId: 1d9743f5-d3d1-9158-8a96-ab37de4daef5
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found ft'
              requestId: 1108a8bf-ef05-9511-95d1-5fcecd959517
          headers: {}
  /v2/contract/nft:
    get:
      description: >-
        Fetch data of all labelled NFT contracts.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListOfNftContracts
      tags:
      - Token Contract
      operationId: getListOfNftContracts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: status
        in: query
        required: false
        type: string
        description: Labelling status [completed, processing, failed, cancelled]
      - name: type
        in: query
        required: false
        type: string
        description: Contract type [KIP-17, ERC-721], returns all types if not specified
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Response offset (pagination)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableNftContractDetails'
          examples:
            application/json:
              items:
              - address: 0x67faa05618e00cde1e3d9092b90c0876855c39e4
                name: KASNFT
                symbol: KNFT
                totalSupply: 0x1
                status: completed
                type: KIP-17
                createdAt: 1607993824
                updatedAt: 1607993826
                deletedAt: 0
              - address: 0x73d6b2cbd8d84faa81c0eb3806b7b9a956150e98
                name: evagon
                symbol: en
                totalSupply: 0x1aaf
                status: completed
                type: ERC-721
                createdAt: 1607866073
                updatedAt: 1607866077
                deletedAt: 0
              cursor: omYpAQ8xGDrlz5O3akAbYDPolJ1r7kx3ZWg2L5mwDQ5GAk7ONYdpzXW0LBZVq2n6pWRJKPg8469bvxMl1rmoaew3EQVa6Gq8KpeEdzB0O9vMX4NE1X9eb206gBNLJ7qW
          headers: {}
  /v2/contract/nft/{nft-address}:
    get:
      description: >
        Fetch data of labelled NFTs for a certain contract.
      summary: getNftContractDetail
      tags:
      - Token Contract
      operationId: getNftContractDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: nft-address
        in: path
        required: true
        type: string
        description: NFT Contract address
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NftContractDetail'
          examples:
            application/json:
              address: 0x251f622e8b5e713f357e9c4d990e91da2f448134
              name: MineralNFT
              symbol: FSI
              totalSupply: 0x9
              status: completed
              type: kip
              createdAt: 1597284956
              updatedAt: 1597284956
              deletedAt: 0
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid nft address'
              requestId: a9b68119-7b98-9f07-b21f-17890f6f6d6b
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found nft'
              requestId: 0d5f6e9a-e1f6-94e3-a325-de540a33bb6d
          headers: {}
  /v2/contract/mt:
    get:
      description: >-
        Fetch data of labelled MTs for all contracts.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListOfMtContracts
      tags:
      - Token Contract
      operationId: getListOfMtContracts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: status
        in: query
        required: false
        type: string
        description: Labelling status [completed, processing, failed, cancelled]
      - name: type
        in: query
        required: false
        type: string
        description: Contract type [KIP-37, ERC-1155], returns all types if not specified
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Response offset (pagination)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableMtContractDetails'
          examples:
            application/json:
              items:
              - address: 0xda781766c4ca2d6f35dab8c5d26ad3d3021e69c8
                status: completed
                type: KIP-37
                createdAt: 1607993824
                updatedAt: 1607993826
                deletedAt: 0
              - address: 0x76457bce70262e6f7b642abb0684077eea604414
                status: completed
                type: ERC-1155
                createdAt: 1607993804
                updatedAt: 1607993806
                deletedAt: 0
              cursor: B9104rmYdAoabWP3Nlw7NvAWQP082aB13Xpqdx463kvX67eqw2gLdJWb0laZAQjvrj8ON194xzoVpmrGY5PDKMEBogJmVEYlkKMD5e9LrGbzOZvxMkEzGpXVg6728OZL
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040010
              message: '[InvalidQueryParameterValue]invalid query value'
              requestId: 9d1596d8-1228-9fca-a4ac-b03d403a6c02
          headers: {}
  /v2/contract/mt/{mt-address}:
    get:
      description: >
        Fetch data of labelled MTs for a certain contract.
      summary: getMtContractDetail
      tags:
      - Token Contract
      operationId: getMtContractDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: mt-address
        in: path
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MtContractDetail'
          examples:
            application/json:
              address: 0x251f622e8b5e713f357e9c4d990e91da2f448134
              name: MineralNFT
              symbol: FSI
              totalSupply: 0x9
              status: completed
              type: kip
              createdAt: 1597284956
              updatedAt: 1597284956
              deletedAt: 0
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid mt address'
              requestId: 3e288b01-1c93-97fa-8850-18c89ebc340a
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found mt'
              requestId: 0d5f6e9a-e1f6-94e3-a325-de540a33bb6d
          headers: {}
  /v2/contract/nft/{nft-address}/token:
    get:
      description: >-
        Selecting an NFT contract will fetch data of all NFTs created by this NFT contract.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getNftsByContractAddress
      tags:
      - Token
      operationId: getNftsByContractAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: nft-address
        in: path
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableNfts'
          examples:
            application/json:
              items:
              - tokenId: 0x9
                owner: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://ec2-13-125-244-0.ap-northeast-2.compute.amazonaws.com:8080/meta/item9
                transactionHash: 0x2f6e8113862c1dbdc76a2fb29cda2dbefeca5878897af0bb3df6822323e89440
                createdAt: 1597718863
                updatedAt: 1597718863
              cursor: ''
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid nft address'
              requestId: e877af5f-99d8-98fb-9817-1e8bd970ae29
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found nft'
              requestId: 5562b6ed-bb19-91f1-8897-b32999b9879e
          headers: {}
  /v2/contract/nft/{nft-address}/owner/{owner-address}:
    get:
      description: >-
        Selecting an NFT contract and an EOA will fetch data of the NFTs by EOA created by the NFT contract.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getNftsByOwnerAddress
      tags:
      - Token
      operationId: getNftsByOwnerAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: nft-address
        in: path
        required: true
        type: string
        description: Contract address to query
      - name: owner-address
        in: path
        required: true
        type: string
        description: EOA to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableNfts'
          examples:
            application/json:
              items:
              - tokenId: 0x7
                owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
                previousOwner: 0x0000000000000000000000000000000000000000
                tokenUri: http://172.16.15.49:8080/meta/item7
                transactionHash: 0x9b9d553d8b3141eabdc6ececd44958475366b1bc289088248b2b3dadcecf8ab4
                createdAt: 1597308968
                updatedAt: 1597308968
              cursor: ''
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid nft address'
              requestId: c9b6092a-ff75-9dab-a493-48672ef62169
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found nft'
              requestId: d371921f-8198-98cb-89d5-cf3e9eb420c7
          headers: {}
  /v2/contract/nft/{nft-address}/token/{token-id}:
    get:
      description: >
        Fetch data for certain NFTs
      summary: getNftById
      tags:
      - Token
      operationId: getNftById
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: nft-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      - name: token-id
        in: path
        required: true
        type: string
        description: NFT ID to query (in hexadecimal)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Nft'
          examples:
            application/json:
              tokenId: 0x2
              owner: 0xe5389503156ee02775ee18552f0c9d9846b66a91
              previousOwner: 0x0000000000000000000000000000000000000000
              tokenUri: http://172.16.15.49:8080/meta/item2
              transactionHash: 0xc7d07066e4e42a7d896c34420ed43568ba44ae15a8ef771b13ba1f6f2d2820c4
              createdAt: 1597304701
              updatedAt: 1597304701
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid nft address'
              requestId: 5d63e976-063d-984f-8676-881d71729d66
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found nft token'
              requestId: 615a2f6a-5aa3-90f8-b714-b8005e42e985
          headers: {}
  /v2/contract/mt/{mt-address}/token:
    get:
      description: >-
        Selecting an MT contract will fetch all data of tokens issued by the contract.<p></p>


        ## Sort<p></p>


        * The items in the response will be listed in lexicographical order of the token IDs. <p></p><br>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getMtsByContractAddress
      tags:
      - Token
      operationId: getMtsByContractAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: mt-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableMts'
          examples:
            application/json:
              items:
              - tokenId: 0x1
                totalSupply: 0xaf298d050e4395d69670b12b7f41000000000000
                tokenUri: http://evahello.com
              cursor: z53x014AdOQJGNl6V99k3wAap7M08oLKedg5DVqlLdZqWwPQzo3aM7v8A9J6V2nmqnpgDNOeGkblm1BKEX5x0Yr46bW2ZN4YGmQPJO1xBvrEzXrW2gbvDZ7EKMaYmkew
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid mt address'
              requestId: 28a79540-89b3-9c4c-ab6c-00ef6fbb5004
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found mt'
              requestId: 8339f2bf-1b9e-9150-a563-60f731c33a4e
          headers: {}
  /v2/contract/mt/{mt-address}/token/{token-id}:
    get:
      description: >-
        Selecting an MT contract and a token ID will  data of the EOA that owns the tokens.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getMtTokensByContractAddressAndTokenId
      tags:
      - Token
      operationId: getMtTokensByContractAddressAndTokenId
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: mt-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      - name: token-id
        in: path
        required: true
        type: string
        description: MT ID to query (in hexadecimal)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableMtTokens'
          examples:
            application/json:
              items:
              - tokenId: 0x1
                owner: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
                tokenAddress: 0x2c2382bcca41295495973be1d5a997d21f77b50e
                totalSupply: 0xaf298d050e4395d69670b12b7f41000000000000
                tokenUri: http://evahello.com
                balance: 0x1f
                transactionHash: 0x23586a41831bd2044e1793d136ee7b9ac387ea376208dcd87bbded6f7c9032ee
                transferFrom: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
                transferTo: 0xae02aba56bae1624e2c4f029e3a79308e2a19e98
                updatedAt: 1607319007
              cursor: ''
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid token id'
              requestId: aeca8406-9dda-9ece-bf9e-cf8569fccfbf
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found mt'
              requestId: 116aece2-f79f-9cc9-b1ba-f77467afe89d
          headers: {}
  /v2/contract/mt/{mt-address}/owner/{owner-address}:
    get:
      description: >-
        Selecting an MT contract and an EOA will fetch data of MTs by EOA created by MT contract.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getMtTokensByContractAddressAndOwnerAddress
      tags:
      - Token
      operationId: getMtTokensByContractAddressAndOwnerAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: mt-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      - name: owner-address
        in: path
        required: true
        type: string
        description: EOA to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableMtTokensWithBalance'
          examples:
            application/json:
              items:
              - tokenId: 0x1
                owner: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
                tokenAddress: 0x2c2382bcca41295495973be1d5a997d21f77b50e
                totalSupply: 0xaf298d050e4395d69670b12b7f41000000000000
                tokenUri: http://evahello.com
                balance: 0x1f
                transactionHash: 0x23586a41831bd2044e1793d136ee7b9ac387ea376208dcd87bbded6f7c9032ee
                transferFrom: 0x39262962d3889b02915f943d6f917edcf6c71f5a
                transferTo: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
                updatedAt: 1607319007
              totalBalance: 0xfa
              cursor: PBOQ20pEXl389k1K6W1AEzp2VBJ80b5MgowlXZYlkao45O0WMgr73BpPD6d9Rb9ZPK13yKwbqezELvmN8Gx1Q2JVAXZGQqmxd9a7e4krKN3YLDPOvNY7Zvbom5MrDA4V
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid owner address'
              requestId: 42132a53-17c8-9100-a857-9c42b48d5141
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found mt'
              requestId: 0c4f6ba5-bc92-9d35-812c-e97f9f00d5ee
          headers: {}
  /v2/contract/mt/{mt-address}/owner/{owner-address}/token/{token-id}:
    get:
      description: Query data of certain MTs.
      summary: getMtTokensByContractAddressAndOwnerAddressAndTokenId
      tags:
      - Token
      operationId: getMtTokensByContractAddressAndOwnerAddressAndTokenId
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: mt-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      - name: owner-address
        in: path
        required: true
        type: string
        description: EOA to query
      - name: token-id
        in: path
        required: true
        type: string
        description: MT ID to query (in hexadecimal)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/MtToken'
          examples:
            application/json:
              tokenId: 0x1
              owner: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
              tokenAddress: 0x2c2382bcca41295495973be1d5a997d21f77b50e
              totalSupply: 0xaf298d050e4395d69670b12b7f41000000000000
              tokenUri: http://evahello.com
              balance: 0x1f
              transactionHash: 0x23586a41831bd2044e1793d136ee7b9ac387ea376208dcd87bbded6f7c9032ee
              transferFrom: 0x39262962d3889b02915f943d6f917edcf6c71f5a
              transferTo: 0xb8bb4b109f18eb6f292757aaec623200f1a41369
              updatedAt: 1607319007
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040020
              message: '[InvalidUriValue]invalid owner address'
              requestId: 42132a53-17c8-9100-a857-9c42b48d5141
          headers: {}
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040400
              message: '[ResourceNotFound]not found mt'
              requestId: 0c4f6ba5-bc92-9d35-812c-e97f9f00d5ee
          headers: {}
  /v2/contract/nft/{nft-address}/token/{token-id}/history:
    get:
      description: >-
        Get ownership change history of certain NFTs.<p></p>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListOfNftOwnershipChanges
      tags:
      - Token Ownership
      operationId: getListOfNftOwnershipChanges
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: nft-address
        in: path
        required: true
        type: string
        description: NFT Contract address to query
      - name: token-id
        in: path
        required: true
        type: string
        description: NFT ID to query (in hexadecimal)
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableNftOwnershipChanges'
          examples:
            application/json:
              items:
              - from: 0x0000000000000000000000000000000000000000
                to: 0x36884a060be5438226c4deaf799b0f7de5abd5df
                timestamp: 1597226350
              cursor: ''
          headers: {}
  /v2/account/{address}/contract:
    get:
      description: >-
        Selecting an EOA will fetch data of all contracts of tokens by EOA.<p></p>


        * `ft`: `ft` balances existing in the contract will be included in the response<br>

        * `nft`: Tokens existing in the contract will be included in the response<br>

        * `mt`: Token balances existing in the contract will be included in the response<p></p><br>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListOfContractByOwnerAddress
      tags:
      - Token Ownership
      operationId: getListOfContractByOwnerAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) Types to include ["ft", "nft", "mt"], query all types when not specified
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: address
        in: path
        required: true
        type: string
        description: EOA to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableContractSummary'
          examples:
            application/json:
              items:
              - kind: nft
                contractAddress: 0xfa9a1b66b970dc713ae71d56a7cc44b573d4c8f7
                updatedAt: 1607993770
                totalBalance: 0x1
                extras:
                  name: KASNFT
                  symbol: KNFT
                  totalSupply: 0x1
              - kind: ft
                contractAddress: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
                updatedAt: 1607993770
                totalBalance: 0x15e
                extras:
                  name: KASFT
                  symbol: KFT
                  decimals: 18
                  totalSupply: 0xde0b6b3a7640000
                  formattedValue: '0.00000000000000035'
              - kind: mt
                contractAddress: 0x2b2e50e8c8e0d097f22ac9389af2f354d18d2882
                updatedAt: 1607993770
                totalBalance: 0x1c2
                extras: {}
              cursor: ''
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040010
              message: '[InvalidQueryParameterValue]invalid kind:klay'
              requestId: f8c0cbb7-c2a5-96b9-a3b5-23c0892d63bc
          headers: {}
  /v2/account/{address}/token:
    get:
      description: >-
        Selecting an EOA will get all token data by EOA.<p></p>


        * `ft`: `ft` balances existing in the contract will be included in the response<br>

        * `nft`: Tokens existing in the contract will be included in the response<br>

        * `mt`: Token balances existing in the contract will be included in the response<p></p><br>


        ## Size<p></p>


        * The query parameter `size` is optional. (Min = 1, Max = 1000, Default = 100)<br>

        * Returns an error when given a negative number<br>

        * Uses default (`size=100`) when given a 0<br>

        * Uses the maximum value (`size=1000`) when given a value higher than 1000<br>
      summary: getListOfTokenByOwnerAddress
      tags:
      - Token Ownership
      operationId: getListOfTokenByOwnerAddress
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: x-chain-id
        in: header
        required: true
        type: string
        description: Klaytn Network Chain ID (1001 or 8217)
      - name: kind
        in: query
        required: false
        type: string
        description: (csv) Types to include ["ft", "nft", "mt"], query all types when not specified
      - name: size
        in: query
        required: false
        type: integer
        format: int64
        description: Number of response items (min=1, max=1000, default=100)
      - name: ca-filters
        in: query
        required: false
        type: string
        description: Contract address list to filter (separated by ",")
      - name: cursor
        in: query
        required: false
        type: string
        description: Offset for specifying a certain position
      - name: address
        in: path
        required: true
        type: string
        description: EOA to query
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PageableTokenSummary'
          examples:
            application/json:
              items:
              - kind: nft
                contractAddress: 0xfa9a1b66b970dc713ae71d56a7cc44b573d4c8f7
                updatedAt: 1607993770
                balance: 0x1
                lastTransfer:
                  transactionHash: 0xc724efc8bd9e62d6149cfcb6ae08b6eb7b47fff16dfe0c1f169160ed1b4870e5
                  transferFrom: 0xbdfaeffb231ed4ef4600a8be4f5aa02ba4821708
                  transferTo: 0x034e13e54e62c6ea3614a04b81e95cf4a4f18a21
                extras:
                  tokenId: 0x1
                  tokenUri: https://www.klaytnapi.com/nft/0x1.json
              - kind: ft
                contractAddress: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
                updatedAt: 1607993770
                balance: 0x15e
                lastTransfer:
                  transactionHash: 0xcd23a37616840f997298a6ae62effb8d28303b1a22ee0acc73f8e486714837ff
                  transferFrom: 0xbdfaeffb231ed4ef4600a8be4f5aa02ba4821708
                  transferTo: 0x034e13e54e62c6ea3614a04b81e95cf4a4f18a21
                extras:
                  name: KASFT
                  symbol: KFT
                  decimals: 18
                  totalSupply: 0xde0b6b3a7640000
                  formattedValue: '0.00000000000000035'
              - kind: mt
                contractAddress: 0x2b2e50e8c8e0d097f22ac9389af2f354d18d2882
                updatedAt: 1607993770
                balance: 0x1c2
                lastTransfer:
                  transactionHash: 0x85263b3d17fe92edd4a665bb65211c5b8a08e88ebeb0474f477bc4484eb26096
                  transferFrom: 0xbdfaeffb231ed4ef4600a8be4f5aa02ba4821708
                  transferTo: 0x034e13e54e62c6ea3614a04b81e95cf4a4f18a21
                extras:
                  tokenId: 0x1
                  tokenUri: https://www.klaytnapi.com/mt
                  totalSupply: 0xde0b6b3a7640000
              cursor: ''
          headers: {}
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 1040010
              message: '[InvalidQueryParameterValue]invalid kind:klay'
              requestId: 76269e63-28d9-9425-97fb-7a431dad1327
          headers: {}
definitions:
  ErrorResponse:
    title: ErrorResponse
    type: object
    properties:
      code:
        description: KAS error code
        type: integer
        format: int32
      message:
        description: KAS error message
        type: string
      requestId:
        description: Request ID
        type: string
    required:
    - code
    - message
    - requestId
  PageableContractSummary:
    title: PageableContractSummary
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ContractSummaryItem'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  ftContractSummary:
    title: ftContractSummary
    type: object
    properties:
      kind:
        description: Contract type
        example: ft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
        type: string
      updatedAt:
        description: Last change in token balances (timestamp)
        example: 1607993770
        type: integer
        format: int64
      totalBalance:
        description: Balances (in hexadecimal)
        example: 0x15e
        type: string
      extras:
        $ref: '#/definitions/ftContractSummaryExtras'
    required:
    - kind
    - contractAddress
    - updatedAt
    - totalBalance
    - extras
  ftContractSummaryExtras:
    title: ftContractSummaryExtras
    type: object
    properties:
      name:
        description: Token name
        example: KAS FCoin
        type: string
      decimals:
        description: Token digits
        example: 8
        type: integer
        format: int64
      symbol:
        description: Token symbols
        example: KFC
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xde0b6b3a7640000
        type: string
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.00000000000000035'
        type: string
  nftContractSummary:
    title: nftContractSummary
    type: object
    properties:
      kind:
        description: Contract type
        example: nft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0xfa9a1b66b970dc713ae71d56a7cc44b573d4c8f7
        type: string
      updatedAt:
        description: Last change of token ownership (timestamp)
        example: 1607993770
        type: integer
        format: int64
      totalBalance:
        description: Total balance of tokens (in hexadecimal)
        example: 0x1
        type: string
      extras:
        $ref: '#/definitions/nftContractSummaryExtras'
    required:
    - kind
    - contractAddress
    - updatedAt
    - totalBalance
    - extras
  nftContractSummaryExtras:
    title: nftContractSummaryExtras
    type: object
    properties:
      name:
        description: Token name
        example: KAS NCoin
        type: string
      symbol:
        description: Token symbol
        example: KNC
        type: string
      totalSupply:
        description: Total issued tokens (in hexadecimal)
        example: 0x1d
        type: string
  mtContractSummary:
    title: mtContractSummary
    type: object
    properties:
      kind:
        description: Contract type
        example: mt
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x2b2e50e8c8e0d097f22ac9389af2f354d18d2882
        type: string
      updatedAt:
        description: Last change of token ownership (timestamp)
        example: 1607993770
        type: integer
        format: int64
      totalBalance:
        description: Total balance of tokens (in hexadecimal)
        example: 0x1c2
        type: string
      extras:
        type: object
    required:
    - kind
    - contractAddress
    - updatedAt
    - totalBalance
    - extras
  FtContract:
    title: FtContract
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      decimals:
        description: Token digits
        example: 8
        type: integer
        format: int64
      name:
        description: Token name
        example: Test Coin
        type: string
      symbol:
        description: Token symbol
        example: TSTC
        type: string
      status:
        description: Contract labelling status (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - decimals
    - name
    - symbol
    - status
  FtContractDetail:
    title: FtContractDetail
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0xaD15bCa7D0f1e077f43eC18ACBA7eE2a347ADE87
        type: string
      decimals:
        description: Token digits
        example: 8
        type: integer
        format: int32
      name:
        description: Token name
        example: Test Token
        type: string
      symbol:
        description: Token symbol
        example: TSC
        type: string
      status:
        description: Contract labelling status (completed, processing, failed, cancelled)
        example: completed
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0x174876e800
        type: string
      createdAt:
        description: Time of labelling (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: Last change in labelling information (timestamp)
        example: 1592180992
        type: integer
        format: int64
      deletedAt:
        description: Time of removal of labelling (timestamp); 0 if not removed
        example: 1592180992
        type: integer
        format: int64
      type:
        description: Contract type (KIP-7, ERC-20)
        type: string
    required:
    - address
    - decimals
    - name
    - symbol
    - status
    - totalSupply
    - createdAt
    - updatedAt
    - deletedAt
    - type
  Mt:
    title: Mt
    type: object
    properties:
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xaf298d050e4395d69670b12b7f41
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/mt/1
        type: string
    required:
    - tokenId
    - totalSupply
    - tokenUri
  MtToken:
    title: MtToken
    type: object
    properties:
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      owner:
        description: Owner EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      tokenAddress:
        description: CA (20-byte)
        example: 0x2c2382bcca41295495973be1d5a997d21f77b50e
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xaf298d050e4395d69670b12b7f41
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/mt/1
        type: string
      balance:
        description: Owner's balances in EOA
        example: 0xaf298d050e4395d69670b12b7f4
        type: string
      transactionHash:
        description: Last transaction hash (32-byte)
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      transferFrom:
        description: Sender EOA of last TransferSingle or TransferBatch (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      transferTo:
        description: Receiver EOA of recent TransferSingle or TransferBatch (20-byte)
        example: 0xbe02aba56bae1624e2c4f029e3a79308e2a19e98
        type: string
      updatedAt:
        description: Last change in token information (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - tokenId
    - owner
    - tokenAddress
    - totalSupply
    - tokenUri
    - balance
    - transactionHash
    - transferFrom
    - transferTo
    - updatedAt
  PageableMts:
    title: PageableMts
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Mt'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableMtTokens:
    title: PageableMtTokens
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/MtToken'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableMtTokensWithBalance:
    title: PageableMtTokensWithBalance
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/MtToken'
      totalBalance:
        description: Total balance of tokens by EOA
        example: 0xf1
        type: string
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - totalBalance
    - cursor
  MtContractDetail:
    title: MtContractDetail
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0xaD15bCa7D0f1e077f43eC18ACBA7eE2a347ADE87
        type: string
      status:
        description: Contract labelling status (completed, processing, failed, cancelled)
        example: completed
        type: string
      createdAt:
        description: Timestamp of Labelling
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: Last change in labelling information (timestamp)
        example: 1592180992
        type: integer
        format: int64
      deletedAt:
        description: Time of removal of labelling (timestamp); 0 if not removed
        example: 1592180992
        type: integer
        format: int64
      type:
        description: Contract type (KIP-7, ERC-20)
        type: string
    required:
    - address
    - status
    - createdAt
    - updatedAt
    - deletedAt
    - type
  Nft:
    title: Nft
    type: object
    properties:
      owner:
        description: Owner EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      previousOwner:
        description: Previous owner EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/nft/1
        type: string
      transactionHash:
        description: Last transaction hash(32-byte)
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      createdAt:
        description: Time of token creation (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: Last change in token information (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - owner
    - previousOwner
    - tokenId
    - tokenUri
    - transactionHash
    - createdAt
    - updatedAt
  PageableNfts:
    title: PageableNfts
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Nft'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  NftContract:
    title: NftContract
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      name:
        description: Token name
        example: Test contract
        type: string
      symbol:
        description: Token symbol
        example: TSTC
        type: string
      status:
        description: Contract labelling status (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - name
    - symbol
  NftContractDetail:
    title: NftContractDetail
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0xc7565d24af561fe783aa73747ca0eda1f09f1118
        type: string
      name:
        description: Token name
        example: Test Token
        type: string
      symbol:
        description: Token symbol
        example: TSTC
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0x174876e800
        type: string
      createdAt:
        description: Time of labelling (timestamp)
        example: 1592180992
        type: integer
        format: int64
      updatedAt:
        description: Last change in token in labelling (timestamp)
        example: 1592180992
        type: integer
        format: int64
      deletedAt:
        description: Time of removal of labelling (timestamp); 0 if not removed
        example: 1592180992
        type: integer
        format: int64
      type:
        description: Contract type (KIP-17, ERC-721)
        example: KIP-7
        type: string
      status:
        description: Contract labelling status (completed, processing, failed, cancelled)
        example: completed
        type: string
    required:
    - address
    - name
    - symbol
    - totalSupply
    - createdAt
    - updatedAt
    - deletedAt
    - type
    - status
  NftOwnershipChange:
    title: NftOwnershipChange
    type: object
    properties:
      from:
        description: Sender (previous owner) EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Receiver (current owner) EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      timestamp:
        description: Change of NFT ownership (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - from
    - to
    - timestamp
  PageableNftOwnershipChanges:
    title: PageableNftOwnershipChanges
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/NftOwnershipChange'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableTokenSummary:
    title: PageableTokenSummary
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TokenSummaryItem'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  ftTokenSummary:
    title: ftTokenSummary
    type: object
    properties:
      kind:
        description: Token type
        example: ft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
        type: string
      updatedAt:
        description: Last change in token balances  (timestamp)
        example: 1607993770
        type: integer
        format: int64
      balance:
        description: Balances (in hexadecimal)
        example: 0x15e
        type: string
      lastTransfer:
        $ref: '#/definitions/lastTransfer'
      extras:
        $ref: '#/definitions/ftTokenSummaryExtras'
    required:
    - kind
    - contractAddress
    - updatedAt
    - balance
    - lastTransfer
    - extras
  ftTokenSummaryExtras:
    title: ftTokenSummaryExtras
    type: object
    properties:
      name:
        description: Token name
        example: KAS FCoin
        type: string
      decimals:
        description: Token digits
        example: 8
        type: integer
        format: int64
      symbol:
        description: Token symbol
        example: KFC
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xde0b6b3a7640000
        type: string
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.00000000000000035'
        type: string
  nftTokenSummary:
    title: nftTokenSummary
    type: object
    properties:
      kind:
        description: Contract type
        example: nft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0xfa9a1b66b970dc713ae71d56a7cc44b573d4c8f7
        type: string
      updatedAt:
        description: Last change in token ownership (timestamp)
        example: 1607993770
        type: integer
        format: int64
      balance:
        description: Token balance (in hexadecimal)
        example: 0x1
        type: string
      lastTransfer:
        $ref: '#/definitions/lastTransfer'
      extras:
        $ref: '#/definitions/nftTokenSummaryExtras'
    required:
    - kind
    - contractAddress
    - updatedAt
    - balance
    - lastTransfer
    - extras
  nftTokenSummaryExtras:
    title: nftTokenSummaryExtras
    type: object
    properties:
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/nft/1
        type: string
  mtTokenSummary:
    title: mtTokenSummary
    type: object
    properties:
      kind:
        description: Contract type
        example: mt
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x2b2e50e8c8e0d097f22ac9389af2f354d18d2882
        type: string
      updatedAt:
        description: Last change in token balances (timestamp)
        example: 1607993770
        type: integer
        format: int64
      balance:
        description: Token balance (in hexadecimal)
        example: 0x1
        type: string
      lastTransfer:
        $ref: '#/definitions/lastTransfer'
      extras:
        $ref: '#/definitions/MTTokenSummaryExtras'
    required:
    - kind
    - contractAddress
    - updatedAt
    - balance
    - lastTransfer
    - extras
  MTTokenSummaryExtras:
    title: MTTokenSummaryExtras
    type: object
    properties:
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/mt/1
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xde0b6b3a7640000
        type: string
  lastTransfer:
    title: lastTransfer
    type: object
    properties:
      transactionHash:
        description: Transaction hash
        example: 0xcd23a37616840f997298a6ae62effb8d28303b1a22ee0acc73f8e486714837ff
        type: string
      transferFrom:
        description: Sender EOA (20-byte)
        example: 0xbdfaeffb231ed4ef4600a8be4f5aa02ba4821708
        type: string
      transferTo:
        description: Receiver EOA (20-byte)
        example: 0x034e13e54e62c6ea3614a04b81e95cf4a4f18a21
        type: string
    required:
    - transactionHash
    - transferFrom
    - transferTo
  NftTransfer:
    title: NftTransfer
    type: object
    properties:
      contract:
        $ref: '#/definitions/NftContract'
      from:
        description: Sender EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Recipient EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      transferType:
        description: Transaction type
        example: nft
        type: string
      tokenId:
        description: Token Identifier (in hexadecimal)
        example: 0x1
        type: string
    required:
    - contract
    - from
    - to
    - transaction
    - transferType
    - tokenId
  Transaction:
    title: Transaction
    type: object
    properties:
      feePayer:
        description: Fee delegation account address (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: Fee delegation ratio
        example: 100
        type: integer
        format: int32
      fee:
        description: Gas fee
        example: 0xa455
        type: string
      from:
        description: EOA of the sender of transaction (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      timestamp:
        description: Time of transaction (timestamp)
        example: 1592180992
        type: integer
        format: int64
      transactionHash:
        description: Transaction hash (32-byte)
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      typeInt:
        description: Transaction type
        example: 10
        type: integer
        format: int32
      value:
        description: Amount of KLAY transferred (in hexadecimal)
        example: 0xa
        type: string
    required:
    - feePayer
    - feeRatio
    - fee
    - from
    - timestamp
    - transactionHash
    - typeInt
    - value
  FtTransfer:
    title: FtTransfer
    type: object
    properties:
      contract:
        $ref: '#/definitions/FtContract'
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.000000000000000002'
        type: string
      from:
        description: Sender EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Receiver EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      transferType:
        description: Transaction type
        example: ft
        type: string
      value:
        description: Number of tokens sent (in hexadecimal)
        example: 0xa
        type: string
    required:
    - contract
    - formattedValue
    - from
    - to
    - transaction
    - transferType
    - value
  MtContract:
    title: MtContract
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
    required:
    - address
  MtTransfer:
    title: MtTransfer
    type: object
    properties:
      contract:
        $ref: '#/definitions/MtContract'
      operator:
        description: Validator EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      from:
        description: Sender EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Receiver EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      transferType:
        description: Transaction type
        example: mt
        type: string
      ids:
        description: Array of token identifiers (in hexadecimal)
        example:
        - 1
        - 2
        type: array
        items:
          type: string
      values:
        description: Array of sent tokens (in hexadecimal)
        example:
        - 10
        - 11
        type: array
        items:
          type: string
    required:
    - contract
    - operator
    - from
    - to
    - transaction
    - transferType
    - ids
    - values
  KlayTransfer:
    title: KlayTransfer
    type: object
    properties:
      feePayer:
        description: Fee delegation account address (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: Fee delegation ratio
        example: 100
        type: integer
        format: int32
      fee:
        description: Gas fee
        example: 0xa455
        type: string
      from:
        description: Sender EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Receiver EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transactionHash:
        description: Transaction hash
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      transactionIndex:
        description: Transaction index
        example: 1
        type: integer
        format: int32
      transferType:
        description: Transactino type
        example: klay
        type: string
      typeInt:
        description: Transaction type
        example: 50
        type: integer
        format: int32
      value:
        description: Amount of KLAY transferred (in hexadecimal)
        example: 0xa
        type: string
    required:
    - feePayer
    - feeRatio
    - fee
    - from
    - to
    - transactionHash
    - transactionIndex
    - transferType
    - typeInt
    - value
  PageableNftContractDetails:
    title: PageableNftContractDetails
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/NftContractDetail'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableFtContractDetails:
    title: PageableFtContractDetails
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FtContractDetail'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableMtContractDetails:
    title: PageableMtContractDetails
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/MtContractDetail'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  PageableTransfers:
    title: PageableTransfers
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TransferItem'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  Transfers:
    title: Transfers
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TransferItem'
    required:
    - items
  FTSummary:
    title: FTSummary
    type: object
    properties:
      address:
        description: Contract address (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      owner:
        description: EOA to query (20-byte)
        example: 0x00ebd049eff96861d9fb3843fd0de79b08a3cc17
        type: string
      balance:
        description: Token balances (in hexadecimal)
        example: 0x15e
        type: string
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.00000000000000035'
        type: string
      decimals:
        description: FT token digits
        example: 8
        type: integer
        format: int64
      name:
        description: FT Token name
        example: KASFT
        type: string
      symbol:
        description: FT Token symbol
        example: KFT
        type: string
      totalSupply:
        description: FT total issued amount (in hexadecimal)
        example: 0x174876e800
        type: string
      updatedAt:
        description: Last change in token information (timestamp)
        example: 1592180992
        type: integer
        format: int64
    required:
    - address
    - owner
    - balance
    - formattedValue
    - decimals
    - name
    - symbol
    - totalSupply
    - updatedAt
  PageableAccountFT:
    title: PageableAccountFT
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FTSummary'
      cursor:
        description: Next page cursor
        example: z2o87adeLbW4Aqm53gpq6VbGZg3JmE5vodrwD9XKmY5vMl4Gkw9PZO1NoBpV8LR83y0Edb3Aar7eKQqzJWDg6X2xOe1P27l4kzY0xQa8LNABMWv0VJQ6MpNlr9O1xBDE
        type: string
    required:
    - items
    - cursor
  ContractSummaryItem:
    title: ContractSummaryItem
    type: object
    properties:
      kind:
        description: Contract type
        example: ft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
        type: string
      updatedAt:
        description: Last change in token balances (timestamp)
        example: 1607993770
        type: integer
        format: int64
      totalBalance:
        description: Balances (in hexadecimal)
        example: 0x15e
        type: string
      extras:
        $ref: '#/definitions/ftContractSummaryExtras'
  ftTokenSummaryExtras1:
    title: ftTokenSummaryExtras1
    type: object
    properties:
      name:
        description: Token name
        example: KAS FCoin
        type: string
      decimals:
        description: Token digits
        example: 8
        type: integer
        format: int64
      symbol:
        description: Token symbol
        example: KFC
        type: string
      totalSupply:
        description: Total issued amount (in hexadecimal)
        example: 0xde0b6b3a7640000
        type: string
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.00000000000000035'
        type: string
      tokenId:
        description: Token ID (in hexadecimal)
        example: 0x1
        type: string
      tokenUri:
        description: Token URL
        example: https://link.to/nft/1
        type: string
  TokenSummaryItem:
    title: TokenSummaryItem
    type: object
    properties:
      kind:
        description: Token type
        example: ft
        type: string
      contractAddress:
        description: Contract address (20-byte)
        example: 0x66ac22b457006c3f519e4a5c49ff19eb531bba4e
        type: string
      updatedAt:
        description: Last change in token balances  (timestamp)
        example: 1607993770
        type: integer
        format: int64
      balance:
        description: Balances (in hexadecimal)
        example: 0x15e
        type: string
      lastTransfer:
        $ref: '#/definitions/lastTransfer'
      extras:
        $ref: '#/definitions/ftTokenSummaryExtras1'
  TransferItem:
    title: TransferItem
    type: object
    properties:
      feePayer:
        description: Fee delegation account address (20-byte)
        example: 0xd0ea3e0eabaea095ea3ba231c043dbf8c0feb40a
        type: string
      feeRatio:
        description: Fee delegation ratio
        example: 100
        type: integer
        format: int32
      fee:
        description: Gas fee
        example: 0xa455
        type: string
      from:
        description: Sender EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      to:
        description: Receiver EOA (20-byte)
        example: 0xb4bf60383c64d47f2e667f2fe8f7ed0c9380f770
        type: string
      transactionHash:
        description: Transaction hash
        example: 0xc4a32f41e829f50c4e8774be68864f522120a2047db2143b59b3919ebd9234f8
        type: string
      transactionIndex:
        description: Transaction index
        example: 1
        type: integer
        format: int32
      transferType:
        description: Transactino type
        example: klay
        type: string
      typeInt:
        description: Transaction type
        example: 50
        type: integer
        format: int32
      value:
        description: Amount of KLAY transferred (in hexadecimal)
        example: 0xa
        type: string
      contract:
        $ref: '#/definitions/FtContract'
      formattedValue:
        description: Formatted value with contracts `decimals`
        example: '0.000000000000000002'
        type: string
      transaction:
        $ref: '#/definitions/Transaction'
      tokenId:
        description: Token Identifier (in hexadecimal)
        example: 0x1
        type: string
      operator:
        description: Validator EOA (20-byte)
        example: 0x5e47b195eeb11d72f5e1d27aebb6d341f1a9bedb
        type: string
      ids:
        description: Array of token identifiers (in hexadecimal)
        example:
        - 1
        - 2
        type: array
        items:
          type: string
      values:
        description: Array of sent tokens (in hexadecimal)
        example:
        - 10
        - 11
        type: array
        items:
          type: string
security:
- auth: []
tags:
- name: Token History
  description: ''
- name: Token Contract
  description: ''
- name: Token
  description: ''
- name: Token Ownership
  description: ''
